{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
    <meta name="description" content="DepT, an online networking platform for musicians to get more gigs.">
    <meta name="keywords" content="Deputise, music, social media, networking, revenue, performing, booking, gigs.">
    <meta name="author" content="Oliver Cadman">
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "home/css/index.css" %}">
    <link rel="stylesheet" href="{% static "css/featured_instruments.css" %}">
{% endblock %}

{% block title %} DepT {% endblock %}

{% block content %}
<main>
<!-- Hero Section (Laptop/Desktop Devices) -->
<section class="hero-section-lg d-none d-lg-block">
    <div class="container" id="home-hero-container">
        <figure>
            <!--TODO: Add variable width and height to image for performance -->
            <img src="{{MEDIA_URL}}dept-logo.webp" id="dept-logo" alt="DepT Logo" width="225" height="225">
        </figure>
        <h1 class="text-light">Created by Artists, for Artists.</h1>
    </div>
    <hr class="hero-block-divider">
        <div class="hero-header">
            <p class="lead font-weight-bold mt-4 text-light">
                The world's best musicians and singers for hire.
            </p>
            <div class="cta-btns mx-auto">
                {% if not request.user.is_authenticated %}
                <a href="{% url 'account_signup' %}" class="btn home-btn">Register</a>
                {% endif %}
                <a href="{% url "dep_list" %}" class="btn home-btn">Find a Dep</a>
            </div>
        </div>
        <div class="header-hero-bg">
            <figure>
                <img src="{{MEDIA_URL}}home-hero-lg.webp" id="home-hero-image" alt="Home Hero Image">
            </figure>
        </div>
    </div>
</section>
<!-- Hero Section (Mobile/Tablet Devices) -->
<section class="hero-section-sm d-lg-none d-sm-block">
    <div class="container-fluid" id="home-hero-container-sm">
        <div class="opaque_overlay">&nbsp;</div>
        <div class="row">
            <div class="col-12">
                <div class="jumbotron">
                    <figure>
                        <img src="{{MEDIA_URL}}dept-logo.webp" alt="DepT Logo" id="dept-logo-sm" width="100" height="100">
                    </figure>
                    <h1>Created by Artists, for Artists.</h1>
                </div>
                <div class="p-lead-sm">
                    <p class="lead">The best musicians and singers for hire.</p>
                    <div class="cta-btns mx-auto">
                        {% if not request.user.is_authenticated %}
                        <a href="{% url "account_signup" %}" class="btn btn cta-btn secondary_font p-3 inset_light_shadow me-2">Register</a>
                        {% endif %}
                        <a href="{% url "dep_list" %}" class="btn cta-btn secondary_font p-3 inset_light_shadow ms-2">Find a Dep</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Featured Dep Instruments -->
<section class="featured-section">
    <div class="container-fluid featured-container p-3">
        <div class="row">
            <div class="col-12 section-header">
                <h2 class="text-center larger_text">Find a Professional</h2>
                <hr class="block_divider_dark w-100 mb-4">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <a href="{% url 'dep_list'  %}?instrument=Vocals">
                    <div class="link-card" id="vocals-link">
                        <div class="opaque-overlay"></div>
                        <p class="featured-link-text">Vocals</p>
                        <div class="inner-fade d-none d-lg-block">
                            <p class="fade-text">
                                Choose from our collection of singers, and find someone who is perfect for any genre or style.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <a href="{% url 'dep_list'  %}?instrument=Bass+Guitar">
                    <div class="link-card" id="bass-link">
                        <div class="opaque-overlay"></div>
                        <p class="featured-link-text">Bass Guitar</p>
                        <div class="inner-fade d-none d-lg-block">
                            <p class="fade-text">Discover bass players with the pocket that perfectly suits your groove.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <a href="{% url 'dep_list' %}?instrument=Keyboard">
                    <div class="link-card" id="keyboard-link">
                        <div class="opaque-overlay"></div>
                        <p class="featured-link-text">Keyboard</p>
                        <div class="inner-fade d-none d-lg-block">
                            <p class="fade-text">
                                Find a keyboard player to provide you with the ideal textures that you need for your gig.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <a href="{% url 'dep_list' %}?instrument=Guitar">
                    <div class="link-card" id="guitar-link">
                        <div class="opaque-overlay"></div>
                        <p class="featured-link-text">Guitar</p>
                        <div class="inner-fade d-none d-lg-block">
                            <p class="fade-text">Our collection of rhythm, lead, acoustic and classical guitarists will cater for any style that you need.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <a href="{% url 'dep_list' %}?instrument=Drums">
                    <div class="link-card" id="drums-link">
                        <div class="opaque-overlay"></div>
                        <p class="featured-link-text">Drums</p>
                        <div class="inner-fade d-none d-lg-block">
                            <p class="fade-text">
                            Whether your style is pop, jazz, rock or punk, hire a drummer that will drive your music.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <a href="{% url 'dep_list' %}?instrument=Trumpet">
                    <div class="link-card" id="trumpet-link">
                        <div class="opaque-overlay"></div>
                        <p class="featured-link-text">Trumpet</p>
                        <div class="inner-fade d-none d-lg-block">
                            <p class="fade-text">
                                Virtuosic trumpet players will soar over your tunes and wow your crowds.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Testimonials/How DepT Works -->
<aside>
    <div class="container-fluid dept-detail-container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="dept-details">
                    <span><i class="fas fa-globe-europe"></i></span>
                    <p>Find a local musician to play your gig anywhere in the world, stress free.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="dept-details">
                    <span><i class="fas fa-money-bill-wave"></i></span>
                    <p>Perform and earn extra money</p>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="dept-details">
                    <span><i class="fas fa-users"></i></span>
                    <p>Make new connections and expand your network.</p>
                </div>
            </div>
        </div>
    </div>
</aside>
<!-- Bulleted list of example usage -->
<section id="how-dept-works">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 section-header text-center">
                <h3 class="larger_text">How DepT Works</h3>
            </div>
        </div>
        <hr class="block_divider_dark w-100 mb-4">
        <div class="row d-flex">
            <!-- Carousel of images featuring website example usage -->
            <div class="col-12 col-lg-6 order-2 order-lg-1">
                <ul id="how_dept_works__carousel" class="sequential_list benefits_gallery" data-interval="5000">
                    <li class="carousel_item active">
                        <div class="carousel_inner">
                            <img src="{{MEDIA_URL}}dept_profilelist_example.webp" alt="Image of DepT Deplist" width="300" height="250" class="carousel_img">
                        </div>
                    </li>
                    <li class="carousel_item">
                        <div class="carousel_inner">
                            <img src="{{MEDIA_URL}}dept_profile_example.webp" alt="Image of DepT Deplist" width="300" height="250" class="carousel_img">
                        </div>
                    </li>
                    <li class="carousel_item">
                        <div class="carousel_inner">
                            <img src="{{MEDIA_URL}}dept_invite_example.webp" alt="Image of DepT Deplist" width="300" height="250" class="carousel_img">
                        </div>
                    </li>
                    <li class="carousel_item">
                        <div class="carousel_inner">
                            <img src="{{MEDIA_URL}}dept_dashboard_example.webp" alt="Image of DepT Deplist" width="300" height="250" class="carousel_img">
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-6 order-1 order-lg-2 d-flex justify-content-md-center justify-content-lg-start mt-lg-5">
                <ol class="how-dept-works-list benefits_gallery">
                    <li class="active">
                        <div class="list-circle">
                            <span>1</span>
                        </div>
                        <div class="list-circle-text">
                            <p>Search for your Dep.</p>
                        </div>
                    </li>
                    <li>
                        <div class="list-circle">
                            <span>2</span>
                        </div>
                        <div class="list-circle-text">
                            <p>Visit their profile.</p>
                        </div>
                    </li>
                    <li>
                        <div class="list-circle">
                            <span>3</span>
                        </div>
                        <div class="list-circle-text">
                            <p>Invite them to cover your gig.</p>
                        </div>
                    </li>
                    <li>
                        <div class="list-circle">
                            <span>4</span>
                        </div>
                        <div class="list-circle-text">
                            <p>Send details when they accept.</p>
                        </div> 
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- Subscribe CTA (Mobile/Tablet) -->
<section id="subscribe-section-sm" class="d-lg-none d-sm-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 p-0">
                <div class="subscribe-container">
                    <div class="subscribe-wrapper">
                        {% if not request.user.is_authenticated %}
                        <h4 class="primary_font white_font large_text">Get Started for Free</h4>
                        <a href="{% url 'account_signup' %}" class="btn home-btn mx-auto light_bg secondary_font dark_font mt-2">Subscribe</a>
                        {% else %}
                        <h4 class="primary_font white_font large_text">Time to Relax</h4>
                        <a href="{% url "dep_list" %}" class="btn secondary_font dark_font light_bg">Find a Dep</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Subscribe CTA (Laptop/Desktop)-->
<section id="subscribe-section" class="d-none d-lg-flex align-items-center">
    <div class="container" id="subscribe-container">
        <div class="get-started-wrapper">
           {% if not request.user.is_authenticated %}
            <h4 class="primary_font white_font large_text">Get Started for Free</h4>
            <div class="cta-btns mx-auto">
                <a href="{% url 'account_signup' %}" class="btn">Register</a>
            </div>
            {% else %}
            <h4 class="primary_font white_font large_text">Time to Relax</h4>
            <div class="cta-btns mx-auto">
                <a href="{% url "dep_list" %}" class="btn">Find a Dep</a>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="subscribe-hero">
        <figure>
            <img src="{{MEDIA_URL}}dept_subscribe_background.webp" alt="Subscribe to DepT" width="600" height="400" id="subscribe-hero-img-lg">
        </figure>
    </div>
</section>
</main>
{% endblock %}
{% block postload_js %}
    {{ block.super }}
    <script src="{% static "home/js/index.js" %}"></script>
{% endblock %}