{% extends "base.html" %}
{% block extra_css %}
{% endblock %}
{% block title %} DepT {% endblock %}

{% block content %}
<!-- Hero Section -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="row">
                    <div class="col-lg-4 logo-desktop">
                        <figure>
                            <img src="{{ MEDIA_URL }}dept-logo.png" id="dept-logo" alt="DepT Logo">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Featured Dep Instruments -->
<section>

</section>
<!-- Testimonials/How DepT Works -->
<section>

</section>
<!-- Subscribe CTA -->
<section>

</section>
{% endblock %}