.section-divider {
    border: 2px solid #eee;
    width: 50%;
    margin: 0 auto !important;
}

/* Hero Section */
.hero-section-sm {
    position: relative;
}

#dept-logo-sm {
    width: 100px;
    height: 100px;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #0c0c21c2;
    border-radius: .3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    line-height: 36px;

}

.p-lead-sm {
    position: relative;
  
}

.p-lead-sm p {
    font-family: "Oxygen", sans-serif;
    color: #eee;
    text-align: center;
    font-size: 1.2rem;
}

.cta-btns {
    display: flex;
    justify-content: center;
}

/* .opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 1;
} */

/* Header (Mobile & Tablet) */
#home-hero-container-sm {
    background: url("../../../media/home-hero-dimmed.webp") no-repeat;
    background-size: cover;
    background-position: center;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-hero-container-sm h1 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    color: #eee;
    font-size: 1.4rem;
    text-align: center;
}

/* Featured Links */

.featured-section {
    background-color: #eee;
}

.section-header {
    font-family: "Josefin Sans", sans-serif;
}

.section-header h2,
.section-header h3 {
    padding: 1.5rem 0;
    font-weight: 600;
}

/* DepT Details */

.dept-detail-container {
    padding: 2rem .7rem 0 .74rem;
    background-color: #45425a;
}

.dept-detail-container p {
    color: #eee;
    font-family: "Oxygen", sans-serif;
}

.dept-details {
    text-align: center;
    margin-bottom: 1.4rem;
}

.dept-details i {
    font-size: 3rem;
    margin-bottom: 0.75rem;
    color: #b9b59f;
}

/* How DepT Works */

#how-dept-works {
    padding: 1rem 0;
    background-color: #dfdfdf;
}

.how-dept-works-header h3 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

.how-dept-works-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list-circle {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 4px solid #aaa;
    display: inline-block;
    text-align: center;
    line-height: 2.1rem;
    margin-bottom: 1rem;
}

.list-circle span {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    color: #aaaaaa;
}

.list-circle-text {
    display: inline-block;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    color: #202020;
    
}

.list-circle-text p {
    font-size: .9rem;
    margin-left: .3rem;
}

/* Subscribe Section */

.subscribe-container {
    background-color: #1a2342;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

.subscribe-wrapper {
    display: flex;
    flex-direction: column;
}

#how_dept_works__carousel {
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0;
    height: 300px;
    display: flex;
    justify-content: center;
}

.carousel_item {
    margin-top: 1.5rem;
    opacity: 0;
    transition: all 0.6s;
    position: absolute;
    background-color: #252525;
    border-radius: 30px;
    padding: .4rem 1rem;
}

.carousel_item.active {
    opacity: 1;
    transition: all 0.6s;
}

.carousel_img {
    width: 325px;
    max-width: 500px;
    height: 230px;
    object-fit: contain;
    border-radius: 5%;
}

/* iPhone XR, iPhone 12 Pro, Samsung Galaxy S20 Ultra, Pixel 5 */
@media screen and (min-width: 390px) and (max-width:414px) {
    #home-hero-container-sm {
        height: 70vh;
    }
}

/* iPad */
@media screen and (min-width: 768px) {
   .dept-detail-container {
       padding: 6rem 2rem;
   }

   .section-header h3 {
       font-size: 2.4rem;
   }

   .dept-details {
       margin-top: 1.5rem;
   }

   .dept-details i {
       font-size: 4rem;
   }

   .dept-details p {
       font-size: 1.25rem;
   }

   /* How DepT Works */

   .list-circle-text p {
       font-size: 1.25rem;
   }

   .carousel_img {
       width: 350px;
       height: 275px;
   }

   .carousel_item {
       margin-top: 0;
   }

   /* Subscribe Section */

   #subscribe-section-sm {
       background-color: #222222;
       padding: 1rem 0;
   }

   .subscribe-container {
       background: url("../../../media/dept_subscribe_background.webp") no-repeat;
       background-size: cover;
       background-position: center;
       min-height: 450px;
       width: 100%;
       padding: 1rem;
   }

   .subscribe-wrapper {
       padding: 2rem 1rem;
       border-radius: 20px;
       background-color: #45425ac0;
       display: flex;
       flex-direction: column;
       align-items: center;
   }

   .subscribe-wrapper p,
   .subscribe-wrapper a {
       color: #eee;
   }

   .subscribe-wrapper p {
       font-family: "Josefin Sans", sans-serif;
       font-weight: 600;
       font-size: 2.5rem;
   }

   .subscribe-wrapper a {
       font-family: "Oxygen", sans-serif;
       font-size: 1.5rem;
       border: 2px solid #eee;
       background-color: #eee;
       color: #222;
   }
}

/* Large Screens */
@media screen and (min-width:992px) {

    /* Hero Section */
    #home-hero-container {
        padding: 40px 0 0 0;
        margin: 0;
        height: 100%;
    }

    #dept-logo {
        width: 175px;
        height: 175px;
        position: absolute;
        top: 80px;
        left: 25px;
    }

    .hero-section-lg {
        background-color: #1a2342;
        padding: 16rem 0 6rem 0;
        position: relative;
        margin-top: 4rem;
    }

    .hero-block-divider {
        border: 2px solid white;
        width: 97%;
        margin: 0 auto !important;
    }

    .hero-section-lg h1 {
        position: absolute;
        top: 140px;
        left: 210px;
        font-family: "Josefin Sans", sans-serif;
        font-size: 2.2rem;
        font-weight: bold;
    }

    .hero-section-lg p,
    .cta-btns a {
        font-family: "Oxygen", sans-serif;
    }

    .cta-btns a {
        background-color: #eee;
        color: #222;
    }

    .home-btn {
        margin: 0 1rem;
    }

    .hero-header {
        width: 50%;
        text-align: center;
    }

    .cta-btns a {
        font-size: 1.5rem;
    }

    .hero-content {
        text-align: center;
    }

    .hero-content {
        position: absolute;
        bottom: 0
    }


    #home-hero-image {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
    }

    .header-hero-bg {
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0;
        right: 0;
        background-color: grey;
    }

    .header-hero-bg:after {
        background: linear-gradient(-85deg, transparent 5%, transparent 50%, #1a2342 50%, #1a2342 100%);
        content: '';
        width: 25%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }

    /* Featured Instruments Section */

    .section-header h2 {
        font-size: 2.5rem;
    }

    .opaque-overlay {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .link-card:hover .inner-fade {
        opacity: 1;
        /* transform: translateY(-50%);
        -ms-transform: translateY(-50%); */
    }

    /* Dept Details */

    /* How DepT Works */

    #how-dept-works {
        height: 80vh;
    }

    .how-dept-works-list li {
        position: relative;
    }

    .how-dept-works-list>li:nth-child(2) {
        left: 3em;
    }

    .how-dept-works-list li:not(:last-child)::after {
        content: '';
        width: 5px;
        content: '';
        width: 5px;
        height: 50px;
        border-radius: 6px;
        background-color: #aaa;
        display: block;
        transform: rotate(-23deg);
        left: 40px;
        position: relative;
    }

   

    .how-dept-works-list>li:nth-child(3) {
        left: 6em;
    }

    .how-dept-works-list>li:nth-child(4) {
        left: 9em;
    }

    .carousel_img {
        width: 500px;
        height: 360px;
    }

    /* Subscribe Section */

    #subscribe-section {
        position: relative;
        min-height: 400px;
        background-color: #1a2342;
    }

    .subscribe-hero {
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0;
        right: 0;
        background-color: grey;
    }

    .subscribe-hero:after {
          background: linear-gradient(-85deg, transparent 5%, transparent 50%, #1a2342 50%, #1a2342 100%);
          content: '';
          width: 25%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
    }

    #subscribe-hero-img-lg {
         width: 100%;
         height: 100%;
         position: absolute;
         object-fit: cover;
    }

    .get-started-wrapper {
        text-align: center;
        color: #eee;
        width: 40%;
    }

    .get-started-wrapper p {
        font-family: "Josefin Sans", sans-serif;
        font-weight: bold;
        font-size: 2.4rem;
    }

    .get-started-wrapper a {
        background-color: #eee;
    }

}  

/* iPhone 5 */
@media screen and (min-width: 320px) and (max-width: 320px) {
    .jumbotron {
        padding: 1rem .5rem;
    }

    #home-hero-container-sm {
        height: 95vh;
    }

    .carousel_img {
        width: 250px;
        height: 200px;
    }
}

@media screen and (min-width: 353px) and (max-width: 360px) {
    .carousel_img {
        width: 300px;
        height: 215px;
    }
}

@media screen and (min-width: 1500px) {
    #how-dept-works {
        height: 60vh;
    }

    .list-circle-text p {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1920px) and (max-width: 1920px) {
    .hero-section-lg h1 {
        font-size: 3rem;
    }

    .hero-section-lg p {
        font-size: 1.75rem;
    }

    .dept-details p {
        font-size: 1.5rem;
    }

    .carousel_img {
        width: 600px;
        height: 390px;
    }

    /* How Dept Works */
}