{% extends "base.html" %}
{% load static %}
{% load custom_tags %}


<!-- CSS -->
{% block extra_css %}
    <!-- Dynamic Header CSS -->
    <link rel="stylesheet" href="{% static "css/dynamic_header.css" %}">
    <link rel="stylesheet" href="{% static "profiles/css/dashboard.css" %}">
{% endblock %}

{% block title %}Your Dashboard{% endblock %}

{% block content %}
    <!-- Header -->
    {% with page_name as p %}
        {% include "includes/header-hero.html" %}
    {% endwith %}
        <div id="dashboard_breadcrumb_wrapper">
            <nav aria-label="breadcrumb">
                <!-- Nav Links for Tablet Devices and Up -->
                <ol class="breadcrumb d-none d-md-flex">
                    <li class="breadcrumb-item dashboard">
                        <a href="{% url "dashboard" current_user %}?page=dashboard" class="{% if current_page == "dashboard" %}active{% endif %}">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item dashboard">
                        <a href="{% url "dashboard" current_user %}?page=jobs&section=tier_one&subsection=invites_received&filter=all" class="{% if current_page == "jobs" %}active{% endif %}">Jobs</a>
                    </li>
                    <li class="breadcrumb-item dashboard">
                        <a href="{% url "dashboard" current_user %}?page=reset_password" class="{% if current_page == "reset_password" %}active{% endif %}">Reset Your Password</a>
                    </li> 
                    <li class="breadcrumb-item dashboard">
                        <a href="{% url "dashboard" current_user %}?page=membership" class="{% if current_page == "membership" %}active{% endif %}">Your Membership</a>
                    </li>
                </ol>
                <!-- Nav Link for Mobile Only -->
                <ul class="d-flex justify-content-center d-md-none dashboard_nav_mobile">
                    <li class="dashboard mobile">
                        <a href="{% url "dashboard" current_user %}?page=dashboard" class="{% if current_page == "dashboard" %}active{% endif %}"><i class="fas fa-dashboard"></i></a>
                    </li>
                    <li class="dashboard mobile">
                        <a href="{% url "dashboard" current_user %}?page=jobs&section=invites_sent&filter=all" class="{% if current_page == "jobs" %}active{% endif %}"><i class="fa-solid fa-handshake"></i></a>
                    </li>
                    <li class="dashboard mobile">
                        <a href="{% url "dashboard" current_user %}?page=reset_password" class="{% if current_page == "reset_password" %}active{% endif %}"><i class="fa-solid fa-unlock"></i></a>
                    </li> 
                    <li class="dashboard mobile">
                        <a href="{% url "dashboard" current_user %}?page=membership" class="{% if current_page == "membership" %}active{% endif %}"><i class="fa-solid fa-user-gear"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
        <section>
            {% if current_page == "dashboard" %}
                <div class="dashboard_header">
                    <h2>Dashboard</h2>
                </div>
                <div id="dashboard_container">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div id="membership_detail_card_container">
                                    {% if user_profile.is_paid %}
                                        <div id="membership_detail_card_wrapper">
                                            <h3 class="text-center mt-4">
                                                    You are a Tier Two Member
                                            </h3>
                                        </div>
                                        {% else %}
                                            <div id="membership_detail_card_wrapper" class="dashboard-card">
                                                <h3 class="mt-4 primary_font med_text text-center">
                                                    You are a Tier One Member
                                                </h3>
                                                <p class="text-center">
                                                    You can benefit from upgrading your membership.
                                                </p>
                                                <ul class="benefits-list">
                                                    <li>
                                                        <i class="fas fa-check-circle check-icon"></i>
                                                        Appear higher in searches
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-check-circle check-icon"></i>
                                                        Increase your chance of being booked
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-check-circle check-icon"></i>
                                                        Access to the jobs board
                                                    </li>
                                                </ul>
                                                <input type="hidden" name="price_id" id="tier_two_price_id" value="{{tier_two_price_id}}">
                                                <button class="checkout-portal">Upgrade</button>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4">
                                <div id="invite_count_wrapper" class="dashboard-card">
                                    <h4 class="mt-4 primary_font med_text text-center">Your Invites</h4>
                                    {% if invite_acceptance_delta > 0 %}
                                        {% if not invite_acceptance_delta == 1 %}
                                            <p class="text-center">
                                                You have {{ invite_acceptance_delta }} invites to respond to.
                                            </p>
                                        {% else %}
                                            <p class="text-center">
                                                You have {{ invite_acceptance_delta }} invite to respond to.
                                            </p>
                                        {% endif %}
                                        <div class="cta-btn-wrapper">
                                            <button class="btn cta-btn">Respond Now</button>
                                        </div>
                                    {% else %}
                                        <p class="secondary_font light_font text-center">
                                            You have no invites to respond to.
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div id="profile_progress_bar_container" class="dashboard-card">
                                    <h4 class="mt-4 primary_font med_text text-center">
                                        Your Profile
                                    </h4>
                                    <div id="progress_bar_wrapper">
                                        <div id="progress_bar">
                                            <div id="progress_bar_inner" class="w3-center" data-progress="{{ profile_progress_percentage }}">
                                                <span id="profile_progress_percentage">
                                                    {{ profile_progress_percentage}}%
                                                </span>
                                            </div>
                                        </div>
                                        {% if profile_progress_percentage < 100 %}
                                        <p class="text-center mt-3">Your profile is {{ profile_progress_percentage }}% complete.</p>
                                            <p class="text-center mt-1">
                                                Complete your profile to improve your chances of being booked.
                                            </p>
                                            <div class="cta-btn-wrapper mb-3">
                                                <a href="{% url 'edit_profile' %}" class="btn cta-btn mb-4">
                                                    Complete your Profile
                                                </a>
                                            </div>
                                        {% else %}
                                            <p class="text-center mt-4">
                                                Well done! Your profile is complete. 
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div id="review_overview_container" class="dashboard-card">
                                    <h5 class="primary_font med_text text-center">Your Star Rating</h5>
                                    <div id="rating_display" class="centered_column">
                                        <input type="hidden" value="{{ average_rating.average_rating }}" class="review_rating_no">
                                        <input type="hidden" id="average_rating">
                                        {% if received_reviews|length > 0 %}
                                            <div class="star-icons inline">

                                            <span id="num_of_reviews" class="inline">({{ average_rating.num_of_reviews }})</span>
                                            </div>
                                            <div id="reviews_message" class="mt-2 p-2">
                                                <p class="text-center">
                                                    {% if average_rating.average_rating < 5 %}
                                                    A high review count and star rating can improve your
                                                    discoverability and increase your chances of getting hired.
                                                    {% else %}
                                                    Good job! You're a top class member.
                                                    {% endif %}
                                                </p>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% elif current_page == "jobs" %}
                    <div id="job_container">
                        <div class="container-fluid">
                            <div class="row d-flex justify-content-center">
                                <div class="col-12 col-md-4 job_page_switch_wrapper centered">
                                    <div id="job_page_switch_btns">
                                        <a href="{% url "dashboard" current_user %}?page=jobs&section=tier_one&subsection=invites_received&filter=all" class="btn bg-warning w-100 switch_btn">
                                            Tier One
                                        </a>
                                        <a href="{% url "dashboard" current_user %}?page=jobs&section=tier_two&subsection=posted_jobs&filter=all" class="btn bg-warning w-100 switch_btn">
                                            Tier Two
                                        </a>
                                    </div>
                                </div>
                                {% if current_page == "jobs" and current_section == "tier_one" %}
                                    <div class="col-12 col-md-8 p-0">
                                        <div id="job_page_breadcrumb_wrapper">
                                            <div class="job-nav-button-wrapper">
                                                <a href="{% url "dashboard" current_user %}?page=jobs&section=tier_one&subsection=invites_sent&filter=all" class="btn job-nav-btn {% if current_page == "jobs" and current_section == "tier_one" and current_subsection == "invites_sent" %}active{% endif %}">Sent Invitations</a>
                                            </div>
                                            <div class="job-nav-button-wrapper">
                                                <a href="{% url "dashboard" current_user %}?page=jobs&section=tier_one&subsection=invites_received&filter=all" class="btn job-nav-btn {% if current_page == "jobs" and current_section == "tier_one" and current_subsection == "invites_received" %}active{% endif %}">Received Invitations</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="d-none d-md-block dashboard-block-divider">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12 col-md-4 col-lg-2 col-xl-4 p-0">
                                        <div class="filter_sidebar_container accordion" id="filter_accordion">
                                            <div class="accordion-item">
                                                <h5 class="accordion-header custom-accordion-header" id="accordion_header">
                                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#filter_dropdown" aria-expanded="true" aria-controls="filter_dropdown">
                                                        Filter Invitations
                                                    </button>
                                                </h5>
                                                <div class="accordion-collapse show" id="filter_dropdown" aria-labelledby="accordion_header" data-bs-parent="#filter_accordion">
                                                    <div class="accordion-body">
                                                        <ul id="sidebar_filter_list">
                                                            <li>
                                                                <a 
                                                                href="{% url "dashboard" current_user %}?page=jobs&section=tier_one&subsection={% if current_page == "jobs" and current_section == "tier_one" and current_subsection == "invites_sent" %}invites_sent{% else %}invites_received{% endif %}&filter=all">All</a>
                                                                <hr>
                                                                <ul id="sidebar_nested_list">
                                                                    <li>
                                                                        <a href="{% url "dashboard" current_user %}?page=jobs&section=tier_one&subsection={% if current_page == "jobs" and current_section == "tier_one" and current_subsection == "invites_sent" %}invites_sent{% else %}invites_received{% endif %}&filter=pending">Pending</a>
                                                                    </li>
                                                                    <hr>
                                                                    <li>
                                                                        <a href="{% url "dashboard" current_user %}?page=jobs&section=tier_one&subsection={% if current_page == "jobs" and current_section == "tier_one" and current_subsection == "invites_sent" %}invites_sent{% else %}invites_received{% endif %}&filter=accepted">Accepted</a>
                                                                    </li>
                                                                    <hr>
                                                                    <li>
                                                                        <a href="#">Completed</a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% if current_page == "jobs" and current_section == "tier_one" and current_subsection == "invites_sent" %}
                                        {% if invitations_sent %}
                                            <div class="col-12 col-md-8 col-lg-10 col-xl-8">
                                                    {% for invitation in invitations_sent %}
                                                        {% include "profiles/includes/invitations_sent_card.html" %}
                                                    {% endfor %}
                                            </div>
                                            {% else %}
                                                    <div class="col-12 col-md-8 col-xl-8 no-results-display">
                                                        <p>No Invitations</p>
                                                    </div>
                                            {% endif %}
                                    {% elif current_page == "jobs" and current_section == "tier_one" and current_subsection == "invites_received" %}
                                        {% if invitations_received %}
                                            <div class="col-12 col-md-8 col-lg-10 col-xl-8">
                                                {% for invitation in invitations_received %}
                                                    {% include "profiles/includes/invitations_received_card.html" %}
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            <!-- TODO: "No Invitations"-->
                                            <div class="col-12 col-md-8 col-xl-8 no-results-display">
                                                <p>No Invitations</p>
                                            </div>
                                        {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% elif current_page == "jobs" and current_section == "tier_two" %}
                                <div class="col-12 col-md-8 p-0">
                                        <div id="job_page_breadcrumb_wrapper">
                                            <div class="job-nav-button-wrapper">
                                                <a href="{% url "dashboard" current_user %}?page=jobs&section=tier_two&subsection=offers_sent&filter=all" class="btn job-nav-btn {% if current_page == "jobs" and current_section == "tier_two" and current_subsection == "offers_sent" %}active{% endif %}">My Offers</a>
                                            </div>
                                            <div class="job-nav-button-wrapper">
                                                <a href="{% url "dashboard" current_user %}?page=jobs&section=tier_two&subsection=posted_jobs&filter=all" class="btn job-nav-btn {% if current_page == "jobs" and current_section == "tier_two" and current_subsection == "posted_jobs" %}active{% endif %}">My Posted Jobs</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="d-none d-md-block dashboard-block-divider">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12 col-md-4 col-lg-2 col-xl-4 p-0">
                                        <div class="filter_sidebar_container accordion" id="filter_accordion">
                                            <div class="accordion-item">
                                                <h5 class="accordion-header custom-accordion-header" id="accordion_header">
                                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#filter_dropdown" aria-expanded="true" aria-controls="filter_dropdown">
                                                        Filter Invitations
                                                    </button>
                                                </h5>
                                                <div class="accordion-collapse show" id="filter_dropdown" aria-labelledby="accordion_header" data-bs-parent="#filter_accordion">
                                                    <div class="accordion-body">
                                                        <ul id="sidebar_filter_list">
                                                            <li>
                                                                <a 
                                                                href="{% url "dashboard" current_user %}?page=jobs&section=tier_two&subsection={% if current_page == "jobs" and current_section == "tier_two" and current_subsection == "posted_jobs" %}posted_jobs{% else %}offers_sent{% endif %}&filter=all">All</a>
                                                                <hr>
                                                                <ul id="sidebar_nested_list">
                                                                    <li>
                                                                       <a href="{% url "dashboard" current_user %}?page=jobs&section=tier_two&subsection={% if current_page == "jobs" and current_section == "tier_two" and current_subsection == "posted_jobs" %}posted_jobs{% else %}offers_sent{% endif %}&filter=pending_offers">
                                                                           {% if current_page == "jobs" and current_section == "tier_two" and current_subsection == "posted_jobs" %}Offers Received{% else %}Offers Sent{% endif %}
                                                                        </a> 
                                                                    </li>
                                                                    <hr>
                                                                    <li>
                                                                        <a href="{% url "dashboard" current_user %}?page=jobs&section=tier_two&subsection={% if current_page == "jobs" and current_section == "tier_two" and current_subsection == "posted_jobs" %}posted_jobs{% else %}offers_sent{% endif %}&filter=confirmed">Confirmed</a>
                                                                    </li>
                                                                    <hr>
                                                                    <li>
                                                                        <a href="#">Completed</a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% if current_page == "jobs" and current_section == "tier_two" and current_subsection == "posted_jobs" %}
                                        {% if posted_jobs %}
                                            <div class="col-12 col-md-8 col-lg-10 col-xl-8">
                                                {% for job in posted_jobs %}
                                                    {% include "profiles/includes/posted_job_card.html" %}
                                                {% endfor %}
                                            </div>
                                            {% else %}
                                                    <div class="col-12 col-md-8 col-xl-8 no-results-display">
                                                        <p>No Jobs</p>
                                                    </div>
                                            {% endif %}
                                    {% elif current_page == "jobs" and current_section == "tier_two" and current_subsection == "offers_sent" %}
                                        {% if offers_sent %}
                                            <div class="col-12 col-md-8 col-lg-10 col-xl-8">
                                                {% for job in offers_sent %}
                                                    {% include "profiles/includes/interested_member_card.html" %}
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            <!-- TODO: "No Invitations"-->
                                            <div class="col-12 col-md-8 col-xl-8 no-results-display">
                                                <p>No Invitations</p>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                            <hr class="d-none d-md-block dashboard-block-divider">
                    {% endif %}
                {% elif current_page == "reset_password" %}
                    <h2>Reset Your Password</h2>
                {% elif current_page == "membership" %}
                    <h2>Membership</h2>
                {% endif %}
            </section>
            <aside>
            <div class="modal fade" id="invitation_detail_modal">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header custom-modal-header">
                            <h2 id="modal_event_name"></h2>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body custom-modal-body">
                            <div class="modal_detail_wrapper">
                                <dl>
                                    <dt class="primary_font white_font">
                                        {% if current_page == "jobs" and current_section == "invites_received" %}
                                            Invited by:
                                        {% elif current_page == "jobs" and current_section == "invites_sent" %}
                                            Invite sent to:
                                        {% endif %}
                                    </dt>
                                    <dd id="modal_invite_personage" class="modal_detail">

                                    </dd>
                                </dl>
                            </div>
                            <div class="modal_detail_wrapper">
                                <dl>
                                    <dt class="primary_font white_font">
                                        Event Location
                                    </dt>
                                    <dd id="modal_event_location" class="modal_detail"></dd>
                                </dl>
                            </div>
                            <div class="modal_detail_wrapper">
                                <dl>
                                    <dt class="primary_font white_font">
                                        Event Date & Time
                                    </dt>
                                    <dd id="modal_event_datetime" class="modal_detail"></dd>
                                </dl>
                            </div>
                            <div class="modal_detail_wrapper">
                                <dl>
                                    <dt class="primary_font white_font">
                                        Additional Details
                                    </dt>
                                    <dd id="modal_additional" class="modal_detail"></dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="message_modal">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header custom-modal-header">
                            <h6 id="message_modal_header"></h6>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body custom-modal-body">
                            <div id="message_container">
                                <input type="hidden" value="{{ user_profile.user.pk }}" id="request_user_id">
                                <div id="message_display_container">
                                 
                                </div>
                                <div id="message_input_container">
                                    <form method="POST" id="message_form">
                                        {% csrf_token %}
                                        {{ message_form|crispy }}
                                        <button type="submit" class="btn message-submit-btn">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="offers_received_modal">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header custom-modal-header">
                            <h6 id="offers_received_modal_header" class="med_small_text">
                                
                            </h6>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div id="job_offer_modal_container">
                            <div class="modal-body" id="offers_received_modal_body">
                                <div class="row">
                                    <div id="interested_member_container">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
{% endblock %}
{% block postload_js %}
        {{ block.super }}
        <!-- Stripe JS CDN and Custom JS Code -->
        {% if current_page == "dashboard" %}
        <script src="https://js.stripe.com/v3/"></script>
        <script src="{% static "subscriptions/js/checkout.js" %}"></script>
        <script src="{% static "profiles/js/display_star_rating.js" %}"></script>

        <!-- Progress Bar JS -->
        <script src="{% static "profiles/js/progress_bar.js" %}"></script>
        {% endif %}
        <script src="{% static "js/format_date.js" %}"></script>
        <script src="{% static "profiles/js/dashboard_modals.js" %}"></script>
{% endblock %}