{% extends "base.html" %}
{% load static %}

<!-- CSS -->
{% block extra_css %}
    <!-- Dynamic Header CSS -->
    <link rel="stylesheet" href="{% static "css/dynamic_header.css" %}">
    <link rel="stylesheet" href="{% static "profiles/css/dashboard.css" %}">
{% endblock %}

{% block title %}Your Dashboard{% endblock %}

{% block content %}
    <!-- Header -->
    {% with page_name as p %}
        {% include "includes/header-hero.html" %}
    {% endwith %}
        <div id="dashboard_breadcrumb_wrapper">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url "dashboard" current_user %}?page=dashboard" class="{% if current_page == "dashboard" %}active{% endif %}">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url "dashboard" current_user %}?page=jobs" class="{% if current_page == "jobs" %}active{% endif %}">Jobs</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url "dashboard" current_user %}?page=reset_password" class="{% if current_page == "reset_password" %}active{% endif %}">Reset Your Password</a>
                    </li> 
                    <li class="breadcrumb-item">
                        <a href="{% url "dashboard" current_user %}?page=membership" class="{% if current_page == "membership" %}active{% endif %}">Your Membership</a>
                    </li>
                </ol>
            </nav>
             
        </div>
        <section>
            {% if current_page == "dashboard" %}
                <div class="dashboard_header">
                    <h2>Dashboard</h2>
                </div>
                <div id="dashboard_container">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div id="membership_detail_card_container">
                                    {% if user_profile.is_paid %}
                                        <div id="membership_detail_card_wrapper">
                                            <h3 class="text-center mt-4">
                                                    You are a Tier Two Member
                                            </h3>
                                        </div>
                                        {% else %}
                                            <div id="membership_detail_card_wrapper" class="dashboard-card">
                                                <h3 class="text-center mt-4 dashboard-card-header">
                                                    You are a Tier One Member
                                                </h3>
                                                <p class="text-center">
                                                    You can benefit from upgrading your membership.
                                                </p>
                                                <ul class="benefits-list">
                                                    <li>
                                                        <i class="fas fa-check-circle check-icon"></i>
                                                        Appear higher in searches
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-check-circle check-icon"></i>
                                                        Increase your chance of being booked
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-check-circle check-icon"></i>
                                                        Access to the jobs board
                                                    </li>
                                                </ul>
                                                <input type="hidden" name="price_id" id="tier_two_price_id" value="{{tier_two_price_id}}">
                                                <button class="checkout-portal">Upgrade</button>
                                            </div>
                                        {% endif %}
                                    </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4">
                                <div id="invite_count_wrapper" class="dashboard-card">
                                    <h4 class="text-center mt-4 dashboard-card-header">Your Invites</h4>
                                    {% if invite_acceptance_delta > 0 %}
                                        {% if not invite_acceptance_delta == 1 %}
                                            <p class="text-center">
                                                You have {{ invite_acceptance_delta }} invites to respond to.
                                            </p>
                                        {% else %}
                                            <p class="text-center">
                                                You have {{ invite_acceptance_delta }} invite to respond to.
                                            </p>
                                        {% endif %}
                                        <div class="cta-btn-wrapper">
                                            <button class="btn cta-btn">Respond Now</button>
                                        </div>
                                    {% else %}
                                        <p>
                                            You have no invites.
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div id="profile_progress_bar_container" class="dashboard-card">
                                    <h4 class="text-center mt-4 dashboard-card-header">
                                        Your Profile
                                    </h4>
                                    <div id="progress_bar_wrapper">
                                        <div id="progress_bar">
                                            <div id="progress_bar_inner" class="w3-center" data-progress="{{ profile_progress_percentage }}">
                                                <span id="profile_progress_percentage">
                                                    {{ profile_progress_percentage}}%
                                                </span>
                                            </div>
                                        </div>
                                        {% if profile_progress_percentage < 100 %}
                                        <p class="text-center mt-3">Your profile is {{ profile_progress_percentage }}% complete.</p>
                                            <p class="text-center mt-1">
                                                Complete your profile to improve your chances of being booked.
                                            </p>
                                            <div class="cta-btn-wrapper mb-3">
                                                <a href="{% url 'edit_profile' %}" class="btn cta-btn mb-4">
                                                    Complete your Profile
                                                </a>
                                            </div>
                                        {% else %}
                                            <p class="text-center mt-4">
                                                Well done! Your profile is complete. 
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">

                            </div>
                        </div>
                    </div>
                </div>
            {% elif current_page == "jobs" %}
                <div id="job_container">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 job-nav-button-wrapper">
                                <a href="{% url "dashboard" current_user %}?page=jobs&section=invites_sent" class="btn job-nav-btn">Invites Sent</a>
                                <a href="{% url "dashboard" current_user %}?page=jobs&section=invites_received" class="btn job-nav-btn">Invites Received</a>
                            </div>
                        </div>
                        <div class="container">
                            {% if current_page == "jobs" and current_section == "invites_sent" %}
                                <div class="row">
                                   {% if invitations_sent %}
                                        {% for invitation in invitations_sent %}
                                            {% include "profiles/includes/invitations_sent_card.html" %}
                                        {% endfor %}
                                   {% else %}
                                   {% endif %}
                                </div>
                            {% elif current_page == "jobs" and current_section == "invites_received" %}
                                 {% if invitations_received %}
                                        <div class="row">
                                            {% for invitation in invitations_received %}
                                                {% include "profiles/includes/invitations_received_card.html" %}
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                    {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% elif current_page == "reset_password" %}
                <h2>Reset Your Password</h2>
            {% elif current_page == "membership" %}
                <h2>Membership</h2>
            {% endif %}
        </section>
        <aside>
            <div class="modal fade" id="invitation_detail_modal">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 id="modal_event_name"></h2>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p id="modal_invite_personage"></p>
                            <p id="modal_event_location"></p>
                            <p id="modal_event_country"></p>
                            <p id="modal_event_datetime"></p>
                            <p id="modal_event_additional"></p>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
{% endblock %}
{% block postload_js %}
        {{ block.super }}
        <!-- Stripe JS CDN and Custom JS Code -->
        {% if current_page == "dashboard" %}
        <script src="https://js.stripe.com/v3/"></script>
        <script src="{% static "subscriptions/js/checkout.js" %}"></script>

        <!-- Progress Bar JS -->
        <script src="{% static "profiles/js/progress_bar.js" %}"></script>
        {% endif %}
        <script src="{% static "profiles/js/invite_detail_modal.js" %}"></script>

{% endblock %}