{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Edit Your Profile{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "profiles/css/edit_profile.css" %}">
    <link rel="stylesheet" href="{% static "css/dynamic_header.css" %}">
    <!-- Dropzone JS CSS CDN -->
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
{% endblock %}

{% block corejs %}
    {{block.super}}
    <!-- DropZone JS for file upload -->
     <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
{% endblock %}

{% block content %}

    <!-- Page Header -->
        {% with page_name as p %}
        {% include 'includes/header-hero.html' %}
        {% endwith %}
    <!-- Profile Form -->
        <div class="container-fluid" id="breadcrumb_container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrapper d-none d-md-block">
                        <div class="breadcrumb-list">
                            <div class="breadcrumb {% if request.session.form_page == 2  and request.session.page_one_complete %}fill-breadcrumb{% endif %}"><span class="{% if not request.session.form_page == 1 and request.session.page_one_complete %}dark-text{% endif %}">Profile Details</span></div>
                            <div class="breadcrumb" id="second_breadcrumb"><span id="second_breadcrumb_text">Your Music</span></div>
                            <div class="breadcrumb" id="third_breadcrumb"><span id="third_breadcrumb_text">Your Availability</span></div>
                        </div>
                    </div>
                    <div class="breadcrumb-wrapper d-md-none d sm-block">
                        <div class="breadcrumb-list-sm">
                            <div class="breadcrumb-sm {% if not request.session.form_page == 1 %}fill-breadcrumb-sm{% endif %}">
                                <span><i class="fa-solid fa-user breadcrumb-icon-sm {% if not request.session.form_page == 1 %}fill-breadcrumb-icon-sm{% endif %}"></i></span>
                            </div>
                            <div class="breadcrumb-sm" id="second_breadcrumb_sm">
                                <span><i class="fa-solid fa-music breadcrumb-icon-sm" id="second_breadcrumb_icon"></i></span>
                            </div>
                            <div class="breadcrumb-sm" id="third_breadcrumb_sm">
                                <span><i class="fa-solid fa-calendar-plus breadcrumb-icon-sm" id="third_breadcrumb_icon"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12">
                <div id="edit-profile-form-container" class="form-container {% if not request.session.form_page == 1 %}hidden{% endif %}">
                    <form action={% url 'edit_profile' %} method="POST" id="edit_profile_form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" id="user_id_1" value="{{user_id}}">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                {{user_profile_form.first_name|as_crispy_field}}
                            </div>
                            <div class="col-12 col-md-6">
                                {{user_profile_form.last_name|as_crispy_field}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                {{user_profile_form.city|as_crispy_field}}
                            </div>
                            <div class="col-12 col-md-6">
                                {{user_profile_form.country|as_crispy_field}}
                            </div>
                            <div class="col-12">
                                <h6>Profile Image</h6>
                                {{user_profile_form.profile_image}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                {{user_profile_form.instruments_played|as_crispy_field}}
                            </div>
                            <div class="col-12 col-md-6">
                                {{user_profile_form.genres|as_crispy_field}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <!-- Dynamic Equipment Formset -->
                                {% if equipment_formset %}
                                    <h3>Your Equipment</h3>
                                    {{ equipment_formset.management_form }}
                                    <div id="equipment_form_list">
                                        {% for form in equipment_formset %}
                                            <div class="equipment_form">
                                                {{ form|crispy }}
                                            </div>
                                        {% endfor %}  
                                    </div>
                                    <div id="empty_form" class="hidden">
                                        {{ equipment_formset.empty_form|crispy }}
                                    </div>
                                     <!-- Display error if more than 5 forms are added to formset -->
                                    <p id="equipment_error_message" class="alert_style"></p>
                                    <button type="button" class="btn equipment_form_btn primary_bg white_font mb-3" id="add_more_btn">Add More Gear</button>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                {{user_profile_form.user_info|as_crispy_field}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 d-flex justify-content-around">
                                <button type="submit" id="submit_form" class="btn submit-btn w-50 inset_light_shadow me-1">Submit</button>
                                <a href="{% url "edit_profile" %}?form_page=2" class="btn form-btn primary_bg w-50 inset_light_shadow ms-1">Skip Step<span class="ms-2 d-none d-md-inline"><i class="fa-solid fa-circle-chevron-right"></i></span></a>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="add_audio_container" class="form-container {% if not request.session.form_page == 2 %}hidden{% endif %}">
                    <form action="{% url "upload_audio" request.user %}" class="dropzone" id="audio-dropzone" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div id="dropzone_container">
                            <input type="hidden" id="user_id_2" value="{{user_id}}">
                            <div class="dz-message">
                                <p class="dropzone-init-message">Click here or drag and drop files to upload</p>
                                <small class="secondary_font dropzone-init-message">Files can be no larger than 5MB</small>
                            </div>
                            <div class="fallback">
                                <input type="file" name="file" multiple>
                            </div>
                        </div>
                    </form>
                    <div class="submit-btn-wrapper d-block d-md-flex justify-content-around">
                        <a class="btn primary_bg inset_light_shadow form-btn me-1 mb-2 mb-md-0" href="{% url "edit_profile" %}?form_page=1"><span class="me-2"><i class="fa-solid fa-circle-chevron-left"></i></span>Go Back</a>
                        <button type="submit" id="audio_submit_btn" class="btn form-btn submit_btn custom_success inset_light_shadow ms-md-1 me-md-1 mt-2 mt-md-0">Save your Music</button>
                        <button type="button" class="btn primary_bg form-btn inset_light_shadow ms-md-1 mt-2 mt-md-0" id="skip_audio_form">Skip Step<span class="ms-2"><i class="fa-solid fa-circle-chevron-right"></i></span></button>
                    </div>
                </div>
                <div id="calendar_container" class="form-container hidden">
                    <form id="unavailability_calendar">
                        {% csrf_token %}
                        <input type="hidden" id="user_id_3" value={{user_id}}>
                        <div id="calendar_wrapper">
    
                        </div>
                        <div class="submit-btn-wrapper d-block d-md-flex justify-content-around">
                            <a class="btn form-btn primary_bg me-1 inset_light_shadow me-1 mb-2 mb-md-0" href="{% url "edit_profile" %}?form_page=2"><span class="me-2"><i class="fa-solid fa-circle-chevron-left"></i></span>Go Back</a>
                            <button type="button" class="btn form-btn submit_btn inset_light_shadow custom_success ms-md-1 me-md-1 mt-2 mt-md-0" id="submit_unavailability">Submit</button>
                            <button type="button" class="btn form-btn inset_light_shadow primary_bg ms-md-1 mt-2 mt-md-0" id="skip_calendar_form">Exit<span class="ms-2"><i class="fa-solid fa-circle-chevron-right"></i></span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>    
    </div>
    {% endblock %}
    {% block postload_js %}
        {{block.super}}
        <!-- JavaScript defined in Media subclass in EquipmentForm Form Model -->
        {{equipment_form.media}}
        <script src="{% static "profiles/js/audio_dropzone.js" %}"></script>
        <script src="{% static "profiles/js/formset.js" %}"></script>
        <script src="{% static "profiles/js/calendar.js" %}"></script>
        <script src="{% static "profiles/js/switch_form_page.js" %}"></script>
    {% endblock %}
