{% extends "base.html" %}
{% load static %}
{% block title %}DepT - Your Profile{% endblock %}
{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "profiles/css/profile.css" %}">
    <link rel="stylesheet" href="{% static "profiles/css/bar-ui.css" %}">
{% endblock %}
{% block corejs %}
    {{ block.super }}
    <script src="{% static 'profiles/js/soundmanager2.js' %}"></script>
    <script src="{% static 'profiles/js/bar-ui.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Profile header with user's name, location, instruments played, reviews and contact button -->
        <div class="col-12 profile-header-container">
            <div id="profile_header_wrapper" class="d-lg-none d-block" style="background:url('{{MEDIA_ROOT}}{{user.profile_image.url}}'); background-size: cover; background-repeat: no-repeat; background-position: center;">
                    <div class="opaque-overlay"></div>
                    <div id="profile_header" class="ms-2">
                        <h1>{{user.first_name}} {{user.last_name}}</h1>
                        <div id="star-icons">
                            <span>
                                <i class="fas fa-star star-icon"></i>
                                <i class="fas fa-star star-icon"></i>
                                <i class="fas fa-star star-icon"></i>
                                <i class="fas fa-star star-icon"></i>
                                <i class="far fa-star star-icon"></i>
                            </span>
                        </div>
                        <p id="instrument_list">
                        {% if instrument_list %}
                            {% for instrument in instrument_list %}
                                {{ instrument }}
                            {% endfor %}
                        {% endif %}
                        </p>
                        <p id="user_location">
                            {{ user.city }}, {{user.country.name}}
                        </p>
                    </div>
                    <div class="contact-btn-wrapper">
                        <button class="btn" id="contact_btn">Contact {{ user.first_name }}</button>
                    </div>
                </div>
            </div>
            <div id="profile_header_wrapper_lg" class="d-none d-lg-block">
                <div id="profile_header_lg" class="ms-5">
                    <h1>{{user.first_name}} {{user.last_name}}</h1>
                    {% if instrument_list %}
                    <p class="user_instruments_lg">
                            <!-- User's instruments for loop, joined with comma -->
                            {% for instrument in instrument_list %}
                                {{instrument}}{% if not forloop.last %},{% endif %}
                            {% endfor %}
                            </p>
                    {% endif %}
                </div>
                <div id="profile_image_wrapper_lg">
                    <figure>
                        <img src="{{user.profile_image.url}}" alt="{{user.username}}" id="profile_image_lg">
                    </figure>
                </div>  
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-light">
    <div class="row">
        <!-- User Description and Reviews -->
        <div class="col-12 col-lg-8 description-review-container">
            <div class="user-desc-wrapper secondary-font">
                <p>{{user.user_info|linebreaks}}</p>
            </div>
        </div>
        <div class="col-12 col-lg-4 music-player-container">
            <div class="sm2-bar-ui playlist-open">
                <div class="bd sm2-main-controls">
                    <div class="sm2-inline-texture"></div>
                    <div class="sm2-inline-gradient"></div>
                        <div class="sm2-inline-element sm2-button-element">
                        <div class="sm2-button-bd">
                         <a href="#play" class="sm2-inline-button sm2-icon-play-pause">Play / pause</a>
                        </div>
                    </div>
                    <div class="sm2-inline-element sm2-inline-status">
                    <div class="sm2-playlist">
                        <div class="sm2-playlist-target"><ul class="sm2-playlist-bd"><li><b>SonReal</b> - LA<span class="label">Explicit</span></li></ul></div>
                    </div>
                    <div class="sm2-progress">
                        <div class="sm2-row">
                            <div class="sm2-inline-time">0:00</div>
                            <div class="sm2-progress-bd">
                                <div class="sm2-progress-track">
                                    <div class="sm2-progress-bar"></div>
                                        <div class="sm2-progress-ball">
                                            <div class="icon-overlay"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sm2-inline-duration">0:00</div>
                            </div>
                        </div>
                    </div>
                    <div class="sm2-inline-element sm2-button-element sm2-volume">
                        <div class="sm2-button-bd">
                            <span class="sm2-inline-button sm2-volume-control volume-shade"></span>
                                <a href="#volume" class="sm2-inline-button sm2-volume-control">volume</a>
                        </div>
                    </div>
                    <div class="sm2-inline-element sm2-button-element">
                        <div class="sm2-button-bd">
                            <a href="#prev" title="Previous" class="sm2-inline-button sm2-icon-previous">&lt; previous</a>
                        </div>
                    </div>
                    <div class="sm2-inline-element sm2-button-element">
                        <div class="sm2-button-bd">
                            <a href="#next" title="Next" class="sm2-inline-button sm2-icon-next">&gt; next</a>
                        </div>
                    </div>
                    <div class="sm2-inline-element sm2-button-element sm2-menu">
                        <div class="sm2-button-bd">
                            <a href="#menu" class="sm2-inline-button sm2-icon-menu">menu</a>
                        </div>
                    </div>
                </div>
                <div class="bd sm2-playlist-drawer sm2-element" style="height: 147px;">
                    <div class="sm2-inline-texture">
                        <div class="sm2-box-shadow"></div>
                    </div>
                    <div class="sm2-playlist-wrapper">
                        <ul class="sm2-playlist-bd">
                            <!-- Track Name -->
                            <li class="selected">
                                <div class="sm2-row">
                                    <div class="sm2-col sm2-wide">
                                     <!-- Populated by JS with track name upon playback of each track -->
                                    </div>
                                </div>
                            </li>
                            {% for track in users_tracks %}
                                <li>
                                <a href="{{track.file.url}}">{{track.file_name|capfirst}}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="sm2-extra-controls">
                        <div class="bd">
                            <div class="sm2-inline-element sm2-button-element">
                            <a href="#prev" title="Previous" class="sm2-inline-button sm2-icon-previous">&lt; previous</a>
                            </div>
                            <div class="sm2-inline-element sm2-button-element">
                            <a href="#next" title="Next" class="sm2-inline-button sm2-icon-next">&gt; next</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  
{% endblock %}