#dashboard_breadcrumb_wrapper {
    padding-top: 1rem;
    background-color: #f7f7f7;
    font-size: .5rem;
    font-family: "Open Sans", sans-serif;
}

.breadcrumb {
    justify-content: center;
}

.active {
    text-decoration: none;
    color: #6b6b6b;
}


.dashboard-card {
     box-shadow: 2px 7px 20px 2px rgba(0, 0, 0, 0.31);
     position: relative;
     border-radius: 22px;
     padding: 1.25rem 0 0 0;
     min-height: 200px;
     margin: 1.8rem 0;
}

.dashboard-card-header {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5rem;
}

.dashboard-card p {
    font-family: "Oxygen", sans-serif;
    font-weight: 600;
}

.benefits-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.4rem;
}



/* Progress Bar */

#progress_bar {
    width: 80%;
    margin: 0 auto;
    background-color: #aaa;
    border-radius: 20px;
}

#progress_bar_inner {
    display: flex;
    border-radius: 20px;
    min-height: 15px;
    background-color: #a4ebee
}

#profile_progress_percentage {
    margin: 0 auto;
}

/* Jobs Section */

.job-nav-button-wrapper {
    display: flex;
    justify-content: center;
    background-color: 
}

.job-nav-btn {
    font-family: "Oxygen", sans-serif;
    background-color: #222;
    color: #fefefe;
    font-size: 1.15rem;
    padding: 1rem .5rem;
    margin: .5rem .2rem;
}

/* ------ Job Page ------ */

.filter_sidebar {
    height: 100%;
    border: 1px solid black;
}

/* Invitation Cards */

.invitation-card {
    border-radius: 10px;
    padding-top: .75rem;
    background-color: #f7f7f7;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.31);
    margin: .5rem 0;
}

.invitation_card_title {
    font-family: "Josefin Sans", sans-serif;
}

.invitation_card_detail {
    font-family: "Open Sans", sans-serif;
}

.invitation_card_btn {
    display: block;
    margin: 0 auto;
    background-color: #1a2342;
    color: #fefefe;
    font-family: "Open Sans", sans-serif;
    margin: .55rem auto;
    width: 100%;
}

.invitation_card_btn.accept {
    background-color: #236933;
}

.invitation_card_btn.decline {
    background-color: #8a0000;
}

.invitation_date {
    font-family: "Oxygen", sans-serif;
    color: #a0a0a0;
}

/* Message Modal */

#message_container {
    padding: 1rem;
}

#message_display_container {
    border: 1px solid black;
    border-radius: 15px;
    min-height: 100px;
}

#message_input_container {
    margin-top: 1rem;
    border: 1px solid black;
    min-height: 50px;
    border-radius: 10px;
}

.message {
    font-family: "Open Sans", sans-serif;
    color: #fefefe;
    border-radius: 10px;
    padding: 5px 15px;
    width: 50%;
    margin: 1rem 0;
}

.message.sender {
    background-color: #3942b4;
    margin-left: 5px;
}
    

.message.sender:first-of-type {
    margin-top: 10px;
}

.message.receiver {
    margin-right: 4px;
    margin-left: auto;
    background-color: rgb(53, 128, 43)
}

.message-datetime {
    font-size: .5rem;
    float: right;
    color: #fefefea1
}


@media screen and (min-width: 768px) {


    #dashboard_breadcrumb_wrapper {
        font-size: 1.3rem;
    }

    .breadcrumb {
        justify-content: start;
        padding-left: 1rem;
    }

    .invitation-card {
        padding: .3rem .5rem;
        margin: 1rem 0;
    }

    .invitation_card_title {
        font-size: 1.5rem;
    }

    .invitation_card_btn {
        display: inline;
        margin: 0 .35rem;
        width: inherit;
    }

}

@media screen and (min-width: 992px) {
    #membership_detail_card_container {
        display: flex;
        justify-content: center;
    }

    #membership_detail_card_wrapper {
        min-width: 600px;

    }

    .job-nav-btn:hover {
        background-color: #f0f0f0;
        color: #222;
    }

    .invitation_card_detail:last-of-type {
        display: inline;
    }

    .invitation_btn_wrapper {
        display: flex;
        justify-content: flex-end;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
    
    .invitation_card_btn:hover {
        color: #fefefe;
    }

    .invitation_date_wrapper {
        display: inline;
        float: right;
    }

    /* Message Modal */

    .message-datetime {
        font-size: .75rem;
    }
}