#instrument_list,
#user_location {
    font-family: "Oxygen", sans-serif;

}

#contact_btn {
    background-color: #1a2342;
    color: #fefefe;
}


.user_location {
    color: #fefefe;
    font-size: 1rem;
    position: relative;
    font-family: "Oxygen", sans-serif;
}

#profile_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.edit_user_details_btn {
    font-size: 1.1rem;
    top: 0;
    background: none;
    box-shadow: none;
}

.edit_profile_icon {
    color: #fefefe;
}

/* User Extra Info Section */

 .sidebar_header {
     font-family: "Open Sans", sans-serif;
     padding: 1rem;
     background-color: #222;
     color: #fefefe;
 }

 #music_player {
     display: flex;
     justify-content: center;
 }

 #no_tracks_container {
     display: flex;
     justify-content: center;
     margin-top: 2rem;
 }

 #no_tracks_header {
     font-family: "Jost", sans-serif;
     font-size: 2rem;
     color: #8f8e8e;

 }

 #no_tracks_vector {
     width: 200px;
     margin: 0 auto;
 }
 
#calendar_container p small {
    font-family: "Open Sans", sans-serif;
}

#calendar_wrapper {
    padding: 0 .3rem;
}

/* Reviews */ 

#review_container {
    margin-top: 2rem;
}

#review_wrapper {
    max-height: 500px;
    overflow: auto;
    padding: 1rem;
    border-radius: 10px;
    border: 4px solid #ccc;
}

.single_review_container {
    margin: .8rem .4rem;
    position: relative;
}

.review_sender_img,
.review_sender {

    display: inline-block;
}

.review_content {
    padding: .5rem;
}

.review {
    padding: 1rem;
}

.edit_delete_btn_wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: .3rem;
    margin-right: .3rem;
}

.fas.fa-star {
    filter: drop-shadow(1px 1px 1px gold);
}

/* Override 'today' highlighted date on calendar */
.fc-day-today {
    background-color: inherit !important;
}

.fc .fc-col-header-cell-cushion {
    display: inline-block;
    padding: 2px 4px;
    text-decoration: none;
    color: #141449;
}

.unavailable_date {
    background-color: #d17c81
}

.fc .fc-daygrid-day-frame {
    cursor: pointer;
}

.fc .fc-daygrid-day-number {
    text-decoration: none;
    color: #6290a3;
    font-weight: 500;
}

.fc .fc-button-primary:disabled,
.fc .fc-button:not(:disabled),
.fc .fc-daygrid-day-number,
.fc .fc-col-header-cell-cushion {
    font-family: "Oxygen", sans-serif;
}

.fc .fc-button-primary:disabled,
.fc .fc-button:not(:disabled) {
    text-transform: capitalize;
}


.fc .fc-toolbar-title {
    font-family: 'Josefin Sans', sans-serif;
    color: #4c4c4c;
}

.fc-direction-ltr .fc-button-group>.fc-button:not(:last-child) {
    margin: 0 .2rem;
}

/* Genre Badges */

.genre_badge {
    background: rgb(189, 219, 180);
    color: #353535;
    font-family: "Oxygen", sans-serif;
    padding: 1rem;
    font-size: 1.15rem;
    border-radius: 50px;
    display: block;
    width: 60%;
    margin: .5rem;
    clear: both;
    font-weight: 500;
    letter-spacing: 1px;
}

.genre_badge.pushed {
    float: right;
}

/* Invitation Form */

.modal-header {
    background-color: #ededed;
}

.invitation_form_container {
    background-color: #45425a;
}


/* Review Form Modal */

.star_icons {
    margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
    .custom-w-100 {
        width: 100%;
    }

    .custom-w-50 {
        width: 50%;
    }

    #calendar_container {
        display: inline-block;
        border-right: 8px solid #222;
    }

    #genre_list_container {
        width: 50%;
    }

    .sidebar_header {
        font-size: 1.75rem;
    }
}

@media screen and (min-width: 992px) {
    
    .user_location {
        font-size: 1.4rem;
    }

    .user_instruments_lg {
        font-family: "Oxygen", sans-serif;
        font-size: 2rem;
        width: 80%
    }

    .edit_user_details_btn_wrapper {
        float: right;
    }

    .edit_user_details_btn {
        top: inherit;
        font-size: 1.25rem;
    }

    .sidebar_lg {
        border-left: 4px solid #222;
        padding: 1rem 2rem;
        background-color: #f1f0f0;
    }

    /* .profile-card {
        background-color: #efefef;
        border-radius: 5px;
        box-shadow: 0 3px 6px -1px rgba(0, 0, 0, .12),
        0 10px 36px -4px rgba(77, 96, 232, .3);
    } */

    #calendar_container {
        width: 100%;
        display: block;
    }

    #calendar_container p small {
        margin-left: 0.5rem;
    }

    /* Genre Badges */

    #genre_list_container {
        width: 100%;
    }

    /* Review Wrapper */

    .rating_star:hover {
        filter: drop-shadow(1px 1px 4px gold);
    }



}

@media screen and (min-width: 320px) and (max-width: 320px) {
    .review_sender_img {
        width: 30px;
        height: 30px;
    }
}

@media screen and (min-width: 1920px) {

    .user_instruments_lg {
        font-size: 3rem;
    }

    .user-desc-wrapper {
        font-size: 1.5rem;
    }
}