.profile-header-container {
       padding: 75px 0 0 0;
       position: relative;
}

#profile_header_wrapper {
    position: relative;
    height: 250px;


}

#profile_header {
    position: relative;
    padding-top: 15px;
}

#profile_header h1 {
    font-family: "Josefin Sans", sans-serif;
}

#profile_header h1,
#instrument_list,
#user_location {
    color: #fefefe;
}

#instrument_list,
#user_location {
    font-family: "Oxygen", sans-serif;

}

.contact-btn-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 6px 6px 0;
}

#contact_btn {
    background-color: #1a2342;
    color: #fefefe;
}

.star-icon {
    color: #ccb326;
}

.user_location {
    color: #fefefe;
    font-size: 1rem;
    position: relative;
    font-family: "Oxygen", sans-serif;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.726);
}

#profile_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* User Extra Info Section */

 .sidebar_header {
     font-family: "Open Sans", sans-serif;
     padding: 1rem;
     background-color: #222;
     color: #fefefe;
 }

 #music_player {
     display: flex;
     justify-content: center;
 }

 

#calendar_container,
#genre_list_container {
    margin-top: 2rem;
}

#calendar_container p small {
    font-family: "Open Sans", sans-serif;
}

#calendar_wrapper {
    padding: 0 .3rem;
}

/* Override 'today' highlighted date on calendar */
.fc-day-today {
    background-color: inherit !important;
}

.fc .fc-col-header-cell-cushion {
    display: inline-block;
    padding: 2px 4px;
    text-decoration: none;
    color: #141449;
}

.unavailable_date {
    background-color: #d17c81
}

.fc .fc-daygrid-day-frame {
    cursor: pointer;
}

.fc .fc-daygrid-day-number {
    text-decoration: none;
    color: #6290a3;
    font-weight: 500;
}

.fc .fc-button-primary:disabled,
.fc .fc-button:not(:disabled),
.fc .fc-daygrid-day-number,
.fc .fc-col-header-cell-cushion {
    font-family: "Oxygen", sans-serif;
}

.fc .fc-button-primary:disabled,
.fc .fc-button:not(:disabled) {
    text-transform: capitalize;
}


.fc .fc-toolbar-title {
    font-family: 'Josefin Sans', sans-serif;
    color: #4c4c4c;
}

.fc-direction-ltr .fc-button-group>.fc-button:not(:last-child) {
    margin: 0 .2rem;
}

/* Genre Badges */

.genre_badge {
    background: rgb(189, 219, 180);
    color: #353535;
    font-family: "Oxygen", sans-serif;
    padding: 1rem;
    font-size: 1.15rem;
    border-radius: 50px;
    display: block;
    width: 60%;
    margin: .5rem;
    clear: both;
    font-weight: 500;
    letter-spacing: 1px;
}

.genre_badge.pushed {
    float: right;
}



@media screen and (min-width: 768px) {
    .profile-header-container {
        padding-top: 65px;
    }

    #profile_header_wrapper {
        height: 450px;
    }

    #profile_header {
        padding-top: 2rem;
    }

    #profile_header h1 {
        font-size: 2.75rem;
    }

    #calendar_container {
        width: 50%;
        display: inline-block;
        border-right: 8px solid #222;
    }

    #genre_list_container {
        width: 50%;
    }

    .sidebar_header {
        font-size: 1.75rem;
    }
}

@media screen and (min-width: 992px) {
    .profile-header-container {
        padding: 65px 0 0 0;
    }

    #profile_header_wrapper_lg {
        position: relative;
        background-color: #1a2342;
        height: 450px;
    }

    #profile_header_lg {
        padding-top: 100px;
        height: 100%;
        width: 50%;
    }

    #profile_header_lg h1 {
        font-family: "Josefin Sans", sans-serif;
        font-size: 4.5rem;
    }

    #profile_header_lg h1,
    .user_instruments_lg {
        color: #fefefe;
    }

    .user_location {
        font-size: 1.4rem;
    }

    .user_instruments_lg {
        font-family: "Oxygen", sans-serif;
        font-size: 2rem;
    }

    .edit_user_details_btn_wrapper {
        float: right;
    }

    #edit_user_details_btn {
        font-size: 1.25rem;
        position: absolute;
        background: none;
        box-shadow: none;
        
    }

    .edit_profile_icon {
        color: #fefefe;
    }

    #contact_btn_wrapper_lg {
        position: absolute;
        bottom: 0;
        right: 53%;
        margin-bottom: 1rem;
    }

    #contact_btn_wrapper_lg button {
        background-color: #ededed;
        color: #222;
        font-family: "Oxygen", sans-serif;
        font-size: 1.25rem;
        padding: 1rem;
        transition: all 0.3s;
    }

    #contact_btn_wrapper_lg button:hover {
        background-color: #236933;
        color: #fefefe;
        transition: all 0.3s;

    }

    #profile_image_wrapper_lg {
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0;
        right: 0;
    }

    #profile_image_wrapper_lg::after {
        background: linear-gradient(-85deg, transparent 5%, transparent 50%, #1a2342 50%, #1a2342 100%);
        content: '';
        width: 25%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }

    #profile_image_lg {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
    }

    .sidebar_lg {
        border-left: 4px solid #222;
        padding: 1rem 2rem;
        background-color: #f1f0f0;
    }

    /* .profile-card {
        background-color: #efefef;
        border-radius: 5px;
        box-shadow: 0 3px 6px -1px rgba(0, 0, 0, .12),
        0 10px 36px -4px rgba(77, 96, 232, .3);
    } */

    #calendar_container {
        width: 100%;
        display: block;
    }

    #calendar_container p small {
        margin-left: 0.5rem;
    }

    /* Genre Badges */

    #genre_list_container {
        width: 100%;
    }


}