.auth-section {
    background-color: #fefefe;
}

.auth-container {
    padding-top: 39px;
    min-height: 85vh;
    background-color: #eeebeb;
}

.auth-header {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
}

.auth-header.verify {
    color: #202020;
}

.prepend-append-hr {
    border-top: 3px solid #ddd;
    text-align: center;
    position: relative;
    margin: 1rem 0;
}

.page-header {
    color: white;
    position: relative;
    z-index: 5;
}

.text-in-hr {
    background-color: #fff;
    color: #aaa;
    position: relative;
    top: -0.8rem;
    padding: 15px;
    font-family: "Oxygen", sans-serif;

}

/* .auth-form-wrapper {
   max-width: 750px;
} */

.textInput {
    border-radius: 40px;
}


.form-label,
.textInput,
.form-check-label,
.secondaryAction,
.auth-info {
    font-family: "Oxygen", sans-serif;
}

.auth-button-wrapper {
    width: 100%;
}



.auth-btn {
    background-color: #1a2342;
    color: #eee;
    font-family: "Oxygen", sans-serif;
    width: 100%;
    margin: 1rem 0;
}

.auth-btn.confirm-email {
    width: 25%;
}

.auth-form {
    background-color: white;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5)
}

#google-svg {
    width: 25px;
    height: 25px;
    margin-right: 1rem;

}

@media screen and (min-width: 992px) {

    .dept-logo-lg {
        width: 300px;
        height: 300px;
    }

    .auth-bg-lg {
        background: url("../../media/signup-bg-1.webp") no-repeat;
        background-size: cover;
        background-position: center;
    }


    .auth-section {
        padding-top: 2rem;
        position: relative;
    }

    .auth-container {
        background-color: transparent;
    }

    .auth-header-wrapper {
        background-color: #1a2342;
    }

    .auth-header {
        font-size: 3.5rem;
        color: #fafafa;
    }

    .auth-form {
        margin: 3rem 0;
    }

    .auth-btn:hover {
        background-color: #2b3a72;
        color: #eee;
    }

    .sign-in-prompt {
        background-color: #f0a0a0;
        height: 100%;
    }

    .sign-in-prompt h3 {
        font-family: "Josefin Sans", sans-serif;
        font-size: 3rem;
        font-weight: 400;
        text-align: center;
        padding-top: 4rem;
    }

    .sign-in-prompt-btn {
        padding: 1rem 2.2rem;
        background-color: #7e6a6a;
        color: #eee;
        font-family: "Oxygen", sans-serif;
        border-radius: 50px;
        font-size: 1.3rem;
    }

}