/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;600;700&family=Lato:wght@300;400;700&family=Oxygen:wght@300;400&family=Varela+Round&display=swap');





body, html {
    min-height: 100%,
}

body {
    padding: 0;
    margin: 0;
}

/* Navbar */

.navbar {
    background-color: #45425a;
    padding: 2px 0;
}

.notification-message-links {
    padding: 0;
    margin: 0;
}

.notification-message-links li {
    display: inline-block;
    margin: 0;
}

.sign-in-icon {
    color: #eee;
    font-size: 1.25rem;
}

.navbar-mobile-toggler {
    color: #eee;
    font-size: 1.5rem;
}

/* Footer */

.footer-links {
    list-style: none;
}

.footer-links li {
    display: inline-block;
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {
    #main-nav ul li a {
        text-decoration: none;
        margin: 0 1rem;
        font-family: "Varela Round", sans-serif;
        color: #eee;
        font-size: 1.35rem;
    }

    .sign-in-icon {
        color: #eee;
        font-size: 2.5rem;
        margin-right: 1rem;
    }

    /* Footer */

}

@media screen and (max-width:767px) {
    .navbar-brand {
        order: 1;
    }

    .navbar-toggler {
        order: 0;
        
    }
}