/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600&family=Oxygen:wght@300;400&family=Jost:wght@300;400;500&family=Roboto:wght@300;400&family=Varela+Round&display=swap');

body,
html {
    min-height: 100%,
}

body {
    padding: 0;
    margin: 0;
}

.dark-text {
    color: #222;
    font-weight: 600;
}

.primary_font {
    font-family: "Josefin Sans", sans-serif;
}

.secondary_font {
    font-family: "Oxygen", sans-serif;
}

.underline {
    text-decoration: underline;
}

.med_size {
    font-size: 1.2rem;
}

.med_height {
    height: 50vh;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.justify_between {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.justify_between_row {
    display: flex;
    justify-content: space-between;
}

.hidden {
    display: none;
}

.white_font { 
    color: #fefefe !important;
}

.success_font {
    color: #0e8347;
}

.light_font {
    color: #9b9a9a !important;
}

.dark_font {
    color: #111 !important;
}

.light_weight {
    font-weight: 300;
}

.med_weight {
    font-weight: 400;
}

.xl_text {
    font-size: 4rem;
}

.large_text {
    font-size: 1.75rem;
}

.med_text {
    font-size: 1.5rem;
}

.med_small_text {
    font-size: 1.25rem;
}

.small_text {
    font-size: 0.9rem;
}

.xs_text {
    font-size: 0.95rem;
}

.text-bold {
    font-weight: bold;
}

.white_bg {
    background: #fafafa;
}

.alert_style,
.invalid-feedback {
    color: #9c1e1e;
    font-style: italic;
}

.alert_bg {
    background-color: #9c1e1e;
}

.linear_bg {
    background: linear-gradient(90deg, rgb(255 145 239) 0%, rgba(255, 249, 0, 1) 100%);
}

.invalid-feedback {
    font-family: "Open Sans", sans-serif;
}

.full_height {
    height: 100%;
}

.rounded_border {
    border-radius: 20px;
}

.column_end {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.custom_success {
    background-color: #0e8347;
}

.custom_danger {
    background-color: #8a0000;
}

.block-divider {
    border: 5px solid rgb(255, 255, 255);
}

.block_divider_dark {
    border: 5px solid #222;
}

.block_divider_stub {
    border: 5px solid #555555;
    width: 50%;
    display: block;
    margin: 0 auto;
}

.width_40 {
    width: 40%;
}

.width_45 {
    width: 45%;
}

.dark_bg {
    background-color: #111111 !important;
}

.light_bg {
    background-color: #eeeeee;
}

.primary_bg {
    background-color: #1a2342;
}

.no_bg {
    background: none;
    border: none;
}


.inset_light_shadow {
    box-shadow: inset 0px 1px 11px 0px rgba(255, 255, 255, 0.3);
}

.header_shadow {
    text-shadow: 2px 2px 11px #333457;
}

.rating_star {
    color: #dabd18;
    margin: 0 .1rem;
}

.cover {
    object-fit: cover;
}

.circle_border {
    border-radius: 50%;
}

.inline {
    display: inline;
}

/* Call to Action Buttons */

.header-btn-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 6px 6px 0;
}

.cta-btn-wrapper {
    display: flex;
    justify-content: center;
}

.cta-btn {
    background-color: #2c7222;
    color: #fefefe;
    transition: all 0.3s;
}

.cta-btn-light {
    background-color: #ddd;
    transition: all 0.3s;
}

.cta-btn-dark {
    background-color: #222;
}

/* Global Form Styling */

.form-container {
    background: rgb(241, 241, 241);
    padding: 1rem;
    margin: 2rem 0;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.edit_form_section {
    padding-top: 6rem;
    background-color: #f3f3f3;
}


/* Global Modals */

.custom-modal-header {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    color: #fefefe;
    background-color: #14161b;
    border-bottom: none;
}

.custom-modal-body {
    background-color: #1f2131;
    color: #fefefe;
}

.modal_profile_image_thumbnail {
    border-radius: 50%;
    object-fit: cover;
    width: 50px;
    height: 50px;
    display: inline-block;
}

.btn-close {
    background-color: #fefefe;
}

/* Override default bootstrap SVG colour */
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}

.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");

}

/* Animate CSS */

.animate__animated.animate__fadeInDown {
    --animate-duration: .8s;
}

/* Opaque Overlays */

.opaque_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.644);
}

.opaque_overlay_xlight {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.15);
}

/* -------------------------- Website Content -------------------------- */

/* Navbar */

.navbar {
    background-color: #45425a;
}


.notification-message-links {
    padding: 0;
    margin: 0;
    display: inline;
}

.notification-message-links li {
    display: inline-block;
 
}


#main-nav ul li a {
    text-decoration: none;
    font-family: "Varela Round", sans-serif;
    color: #eee;
    font-size: 1.2rem;
}

.notification_icon {
    color: #eee;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.notification_count_icon {
    left: 60%;
}

.sign-in-icon {
    color: #eee;
    font-size: 1.6rem;
}

.navbar-mobile-toggler {
    color: #eee;
    font-size: 1.5rem;
}

#dept-home-link {
    display: inline;
}


.notification-message-links-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.dropdown-item {
    white-space:normal;
}

.animate__animated.animate__fadeInLeft {
    --animate-duration: .7s;
}

.account-menu {
    width: 225%;
    min-height: 150px;
    position:relative;
    border: 6px solid white;
}


#profile_image_navbar {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-bottom-left-radius: 10px;
    position: absolute;
    right: 0;
    top: 0;
}

#dept_logo_account {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 1rem 1rem 0 0;
}

#account_links {
    list-style: none;
    padding: 0;
    margin: 0;
}

#account_dropdown_header_wrapper {
    background-color: #1a2342;
    color: #fefefe;
    font-family: "Josefin Sans", sans-serif;
    padding: 5px 0 0 5px;
}

#account_dropdown_header {
    padding: 8px 0;
    margin-bottom: 0;
}

.account_links_container {
    background: rgb(240, 223, 98);
    padding: 2rem 0.5rem;
}

#main-nav ul li a.account_link {
    color: #202020;
}

/* Notifications */

#notification_dropdown_container {
    position: static;
}

#notification_dropdown_container .dropdown-menu {
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
    border-top-width: 0;
    max-height: 350px;
    overflow: auto;
}

#notification_dropdown_container .dropdown-item {
    padding: .5rem;
    border-top: 1px solid #4e4e4e;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#notification_dropdown_container .dropdown-item p {
    margin: 0 0 0 .5rem;
    width: 97%;
}

.remove_notification {
    order: 3;
    margin: 1rem 0;
    font-size: 1.5rem;
    padding: .5rem;
}

.notification {
    text-decoration: none;
    font-family: "Oxygen", sans-serif;
    color: #111;
}

.unread {
    background-color: #c6dde2;
}

.notification_content {
    display: flex;
    align-items: center;
}

.notification_profile_img {
    object-fit: cover;
    border-radius: 50%;
}

.notification strong {
    font-family: "Josefin Sans", sans-serif;
}

/* Footer */

.base-footer {
    background-color: #45425a;
    padding: 3rem 0;
}

.footer-links-wrapper {
    display: flex;
    justify-content: center;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
}

.footer-links li {
    display: inline-block;
    margin: 0 1rem;
    font-family: "Varela Round", sans-serif;
    font-weight: 500;
}

.footer-links li a {
    text-decoration: none;
    font-size: 1.25rem;
    color: #ad9930;
    font-weight: 600;
}

.about-dept-wrapper {
    display: flex;
    justify-content: center;
}

.about-dept-wrapper p,
.about-dept-wrapper a {
    font-family: "Open Sans", sans-serif;
    color: #eee;
}

.about-dept-wrapper p {
    font-weight: 300;
}

.about-dept-wrapper a {
    font-weight: 500;
}

.social-icon {
    font-size: 2.2rem;
    color: #8b8b8b;
}

/* Form Elements */

.modal_form_container {
    background-color: #45425a;
}

.modal_form_wrapper {
    background-color: #ededed;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 3px 6px -1px rgba(0, 0, 0, .12),
    0 10px 36px -4px rgba(77, 96, 232, .8);
}

.form-btn {
    background-color: #1a2342;
    color: #fefefe;
    font-family: "Open Sans", sans-serif;
}

.form-label,
.custom-formfield-font {
    font-family: "Open Sans", sans-serif;
}

.submit-btn {
    background-color: #0e8347;
    font-family: "Open Sans", sans-serif;
    color: #fefefe;
}

.asteriskField {
    color: rgb(177, 6, 6);
    margin-left: 2px;
}

.form-header {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
}

/* Subscription Cards */

.benefits-list {
    list-style: none;
    font-family: "Oxygen", sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
    margin-left: 5px;
}

.benefits-list li {
    margin: 0.3rem 0;
}

.check-icon {
    color: #27942c
}

.subscription_btn {
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 0 0 20px 20px;
    height: 55px;
    font-family: "Open Sans", sans-serif;
    font-size: 1.25rem;
    border: none;
    background-color: #333138;
    color: #eee;
}

/* 404 Page */

.errorpage_section_sm {
    height: 60vh;
    background: linear-gradient(90deg, rgb(255 145 239) 0%, rgba(255, 249, 0, 1) 100%);
}

.errorpage_container_sm {
    padding-top: 7rem;
}

.logo_errorpage {
    width: 120px;
    height: 120px;
}

/* -------------- MEDIA QUERIES ------------- */


/* ----- Tablet ---- */
@media screen and (min-width: 768px) {

    /* Utility Classes */

    .small_text {
        font-size: 1rem;
    }

    .med_text {
        font-size: 1.75rem;
    }

    .large_text {
        font-size: 2rem;
    }

    .xl_text {
        font-size: 6rem;
    }

    .xs_text {
        font-size: 0.75rem;
    }

    /* Global Modal Styles */

    .modal_profile_image_thumbnail {
        width: 80px;
        height: 80px;
    }
    

    /* NavBar */

    #main-nav ul li a {
        margin: 0 1rem;
        font-size: 1.35rem;
    }

    .notification_icon {
        font-size: 2rem;
        margin-right: 1rem;
    }

    .notification_count_icon {
        left: 60%;
    }

    .nav-item {
        padding: .75rem 0;
    }

    .navbar-brand {
        order: 1;
    }

    .navbar-toggler {
        order: 0;

    }

    .navbar-nav {
        align-items: center;
    }

    /* Notifications */

    #notification_dropdown_container .dropdown-menu {
        padding: 0;
        border-radius: 0;
        border-top-width: 0;
        width: 50%;
        right: 0;
        position: absolute;
        margin-left: auto;
        
    }

    /* Footer */

    .base-footer {
        padding: 5rem 2rem;
        position: relative;
    }

    .footer-links-wrapper {
        flex-direction: column;
        align-items: center;
    }

    /* 404 Page */

    .errorpage_section_sm {
        height: 80vh;
    }

    .errorpage_container_sm {
        padding-top: 13rem;
    }
}

/* Laptop/Desktop Devices */
@media screen and (min-width: 992px) {

    /* Utility Classes */

    .med_small_text {
         font-size: 1.35rem;
     }

    .med_text {
        font-size: 1.75rem;
    }

    .large_text {
        font-size: 2rem;
    }

    .xl_text {
        font-size: 7rem;
    }

    .cta-btn-light:hover {
        background-color:#339944;
        color: #fefefe;
        transition: all 0.3s;
    }

    /* 404/500 Pages */

     .errorpage_section_lg {
         background-color: #1a2342;
         position: relative;
         margin-top: 4rem;
         height: 67vh;
     }

     .errorpage_container {
         padding-top: 6rem;
     }

     .hero-block-divider {
         border: 2px solid white;
         width: 97%;
         margin: 0 auto !important;
     }

     .error-hero-bg {
         position: absolute;
         width: 50%;
         height: 100%;
         top: 0;
         right: 0;
         background: linear-gradient(90deg, rgb(255 145 239) 0%, rgba(255, 249, 0, 1) 100%);
     }

     .error-hero-bg:after {
         background: linear-gradient(-85deg, transparent 5%, transparent 50%, #1a2342 50%, #1a2342 100%);
         content: '';
         width: 25%;
         height: 100%;
         position: absolute;
         top: 0;
         left: 0;
         z-index: 2;
     }

     .logo_errorpage {
         position: absolute;
         left: 40%;
         transform: translateY(50%);
         width: 250px;
         height: 250px;
     }

     .errorpage_msg_display {
         width: 40%;
     }

     /* Profile Page and Booking Detail/Success Header*/

    #profile_image_navbar {
        width: 150px;
        height: 150px;
    }

    .btn_wrapper_lg {
        position: absolute;
        bottom: 0;
        right: 53%;
        margin-bottom: 1rem;
    }

    .btn_lg {
        font-family: "Oxygen", sans-serif;
        font-size: 1.25rem;
        padding: 1rem;
        transition: all 0.3s;
    }



    /* Notifications */

    #notification_dropdown_container .dropdown-menu {
        width: 35%;
    }

    #notification_dropdown_container .dropdown-item:hover {
        cursor: pointer;
    }

    /* Footer */

    .social-icon {
        transition: 0.2s ease-in-out;
    }

    .social-icon:hover {
        color: #0c0c0c;
        transition: 0.2s ease-in-out;
    }

    .submit-btn {
        transition: all 0.3s;
    }

    .submit-btn:hover {
        background-color: #1a9e5a;
        transition: all 0.3s;
        color: #fefefe;
    }

    .form-btn:hover {
        background-color: #2a3868;
        color: #fefefe;
    }   

}

/*  iPhone 5/SE  */
@media screen and (min-width: 320px) and (max-width: 320px) {
    
    /* 404/500 Page */
    .errorpage_section_sm {
        height: 95vh;
    }
}

/* iPhone 6/7/8 and 6/7/8 Pro */
@media screen and (min-width: 360px) and (max-width: 414px) {

    /* 404/500 Page */
    .errorpage_section_sm {
        height: 80vh;
    }
}

/* Large/XL Screens */
@media screen and (min-width: 1435px) {

    /* 400/500 Page */
    .errorpage_section_lg {
        height: 69vh;
    }
}

