/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;600;700&family=Open+Sans:wght@300;400;500;600&family=Oxygen:wght@300;400&family=Jost:wght@300;400;500&family=Roboto:wght@300;400&family=Varela+Round&display=swap');

body,
html {
    min-height: 100%,
}

body {
    padding: 0;
    margin: 0;
}

.dark-text {
    color: #222;
    font-weight: 600;
}

.primary_font {
    font-family: "Josefin Sans", sans-serif;
}

.secondary_font {
    font-family: "Oxygen", sans-serif;
}

.underline {
    text-decoration: underline;
    line-height: 1.25rem;
}

.med-size {
    font-size: 1.2rem;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.white_font { 
    color: #fefefe;
}

.dark_font {
    color: #111 !important;
}

.large_text {
    font-size: 2.5rem;
}

.med_text {
    font-size: 1.75rem;
}

.alert_style {
    color: #9c1e1e;
    font-style: italic;
}

.full_height {
    height: 100%;
}

.column_end {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.custom_success {
    background-color: #0e8347;
}

.block-divider {
    border: 5px solid rgb(255, 255, 255);
}

.block_divider_stub {
    border: 5px solid #555555;
    width: 50%;
    display: block;
    margin: 0 auto;
}

/* Call to Action Buttons */

.cta-btn-wrapper {
    display: flex;
    justify-content: center;
}

.cta-btn {
    background-color: #2c7222;
    color: #fefefe;
    font-family: "Open Sans", sans-serif;
}

/* Global Form Styling */

.form-container {
    background: rgb(241, 241, 241);
    padding: 1rem;
    margin: 2rem 0;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

/* Animate CSS */

.animate__animated.animate__fadeInDown {
    --animate-duration: .8s;
}

/* Navbar */

.navbar {
    background-color: #45425a;
}


.notification-message-links {
    padding: 0;
    margin: 0;
    display: inline;
}

.notification-message-links li {
    display: inline-block;
 
}


#main-nav ul li a {
    text-decoration: none;
    font-family: "Varela Round", sans-serif;
    color: #eee;
    font-size: 1.2rem;
}

.notification_icon {
    color: #eee;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.notification_count_icon {
    left: 60%;
}

.sign-in-icon {
    color: #eee;
    font-size: 1.6rem;
}

.navbar-mobile-toggler {
    color: #eee;
    font-size: 1.5rem;
}

#dept-home-link {
    display: inline;
}


.notification-message-links-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.dropdown-item {
    white-space:normal;
}

.animate__animated.animate__fadeInLeft {
    --animate-duration: .7s;
}

.account-menu {
    width: 225%;
    min-height: 150px;
    position:relative;
    border: 6px solid white;
}


#profile_image_navbar {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-bottom-left-radius: 10px;
    position: absolute;
    right: 0;
    top: 0;
}

#dept_logo_account {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 1rem 1rem 0 0;
}

#account_links {
    list-style: none;
    padding: 0;
    margin: 0;
}

#account_dropdown_header_wrapper {
    background-color: #1a2342;
    color: #fefefe;
    font-family: "Josefin Sans", sans-serif;
    padding: 5px 0 0 5px;
}

#account_dropdown_header {
    padding: 8px 0;
    margin-bottom: 0;
}

.account_links_container {
    background: rgb(240, 223, 98);
    padding: 2rem 0.5rem;
}

#main-nav ul li a.account_link {
    color: #202020;
}

/* Notifications */

#notification_dropdown_container {
    position: static;
}

#notification_dropdown_container .dropdown-menu {
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
    border-top-width: 0;
}

#notification_dropdown_container .dropdown-item {
    padding: .5rem;
    border-top: 1px solid #4e4e4e;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#notification_dropdown_container .dropdown-item p {
    margin: 0 0 0 .5rem;
    width: 97%;
}

.dropdown-item-close {
    order: 3;
    margin: 1rem 0;
    font-size: 1.5rem;
    padding: .5rem;
}

.notification {
    text-decoration: none;
    font-family: "Oxygen", sans-serif;
    color: #111;
}

.unread {
    background-color: #c6dde2;
}

.notification_content {
    display: flex;
    align-items: center;
}

.notification_profile_img {
    object-fit: cover;
    border-radius: 50%;
}

.notification strong {
    font-family: "Josefin Sans", sans-serif;
}

/* Footer */

.base-footer {
    background-color: #45425a;
    padding: 3rem 0;
}

.footer-links-wrapper {
    display: flex;
    justify-content: center;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
}

.footer-links li {
    display: inline-block;
    margin: 0 1rem;
    font-family: "Varela Round", sans-serif;
    font-weight: 500;
}

.footer-links li a {
    text-decoration: none;
    font-size: 1.25rem;
    color: #ad9930;
    font-weight: 600;
}

.about-dept-wrapper {
    display: flex;
    justify-content: center;
}

.about-dept-wrapper p,
.about-dept-wrapper a {
    font-family: "Open Sans", sans-serif;
    color: #eee;
}

.about-dept-wrapper p {
    font-weight: 300;
}

.about-dept-wrapper a {
    font-weight: 500;
}

.social-icon {
    font-size: 2.2rem;
    color: #8b8b8b;
}

/* Form Elements */

.form-btn {
    background-color: #1a2342;
    color: #fefefe;
    font-family: "Open Sans", sans-serif;
}

.form-label,
.custom-formfield-font {
    font-family: "Open Sans", sans-serif;
}

.submit-btn {
    background-color: #0e8347;
    font-family: "Open Sans", sans-serif;
    color: #fefefe;
}

.asteriskField {
    color: rgb(177, 6, 6);
    margin-left: 2px;
}

.form-header {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
}

/* Subscription Cards */

.benefits-list {
    list-style: none;
    font-family: "Oxygen", sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
    margin-left: 5px;
}

.benefits-list li {
    margin: 0.3rem 0;
}

.check-icon {
    color: #27942c
}

.checkout-portal {
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 0 0 20px 20px;
    height: 55px;
    font-family: "Open Sans", sans-serif;
    font-size: 1.25rem;
    border: none;
    background-color: #333138;
    color: #eee;
}


@media screen and (min-width: 768px) {
    /* NavBar */

    #main-nav ul li a {
        margin: 0 1rem;
        font-size: 1.35rem;
    }

    .notification_icon {
        font-size: 2rem;
        margin-right: 1rem;
    }

    .notification_count_icon {
        left: 60%;
    }

    .nav-item {
        padding: .75rem 0;
    }

    /* Notifications */

    #notification_dropdown_container .dropdown-menu {
        padding: 0;
        border-radius: 0;
        border-top-width: 0;
        width: 50%;
        right: 0;
        position: absolute;
        margin-left: auto;
        
    }

    /* Footer */

    .base-footer {
        padding: 5rem 2rem;
        position: relative;
    }

    .footer-links-wrapper {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width:768px) {
    .navbar-brand {
        order: 1;
    }

    .navbar-toggler {
        order: 0;

    }

    .navbar-nav {
        align-items: center;
    }
}

@media screen and (min-width: 992px) {

    #profile_image_navbar {
        width: 150px;
        height: 150px;
    }

    /* Notifications */

    #notification_dropdown_container .dropdown-menu {
        width: 35%;
    }

    /* Footer */

    .social-icon {
        transition: 0.2s ease-in-out;
    }

    .social-icon:hover {
        color: #0c0c0c;
        transition: 0.2s ease-in-out;
    }

    .submit-btn {
        transition: all 0.3s;
    }

    .submit-btn:hover {
        background-color: #1a9e5a;
        transition: all 0.3s;
        color: #fefefe;
    }

    .form-btn:hover {
        background-color: #2a3868;
        color: #fefefe;
    }   

}

