 {% extends "base.html" %}
 {% load static %}
 {% load crispy_forms_tags %}

 {% block title %}DepT - Finalise Your Booking{% endblock %}

 {% block extra_css %}
    <link rel="stylesheet" href="{% static "css/dynamic_header.css" %}">
    <link rel="stylesheet" href="{% static "bookings/css/booking_form.css" %}">
 {% endblock %}

 {% block content %}
    {% with page_name as p %}
        {% include 'includes/header-hero.html' %}
    {% endwith %}
    <!-- Booking Form -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div id="booking_form_container" class="form-container">
                        <form action="" method="POST">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    {{ invitation_form.event_name|as_crispy_field }}
                                </div>
                                <div class="col-12 col-md-6">
                                    {{ invitation_form.artist_name|as_crispy_field }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    {{ invitation_form.event_city|as_crispy_field }}
                                </div>
                                <div class="col-12 col-md-6">
                                    {{ invitation_form.event_country|as_crispy_field }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    {{ invitation_form.event_datetime|as_crispy_field }}
                                </div>
                                <div class="col-12 col-md-6">
                                    {{ invitation_form.fee|as_crispy_field }}
                                </div>
                                <div class="col-12">
                                    {{ invitation_form.additional_info|as_crispy_field }}
                                </div>
                                <div class="col-12">
                                <!-- Dynamic Audio Formset -->
                                {% if audio_formset %}
                                    <h3>Your Audio Files</h3>
                                    {{ audio_formset.management_form }}
                                    <div id="audio_form_list">
                                        {% for form in audio_formset %}
                                            <div class="audio_form">
                                                {{ form|crispy }}
                                            </div>
                                        {% endfor %}  
                                    </div>
                                    <div id="empty_form" class="hidden">
                                        {{ audio_formset.empty_form|crispy }}
                                    </div>
                                    <button type="button" class="btn form-btn audio_form_btn" id="add_more_btn">Add More Audio</button>
                                {% endif %}
                            </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    {{ booking_form.travel_provided|as_crispy_field }}
                                </div>
                                <div class="col-12 col-md-6">
                                    {{ booking_form.travel_info|as_crispy_field }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    {{ booking_form.backline_provided|as_crispy_field }}
                                </div>
                                <div class="col-12 col-md-6">
                                    {{ booking_form.backline_info|as_crispy_field }}
                                </div>
                            </div>
                        </form>
                     
                    </div>
                </div>
            </div>
        </div>
    </section>
 {% endblock %}

 <!-- Custom Form JS -->
 {% block postload_js %}
    {{ block.super }}
    <script src="{% static "bookings/js/booking_form.js" %}"></script>
    <script src={% static "profiles/js/formset.js" %}></script>
 {% endblock %}