{% extends "base.html" %}
{% load static %}

<!-- Title -->
{% block title %}{{ booking.related_invitation.event_name }}{% endblock %}

<!-- Custom CSS -->
{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/profile_booking_includes.css" %}">
    <link rel="stylesheet" href="{% static "bookings/css/booking_detail.css" %}">
    <link rel="stylesheet" href="{% static "bookings/css/booking_detail_display.css" %}">
{% endblock %}

<!-- Content -->
{% block content %}
    {% with page_name as p %}
    {{ page_name }}
        {% include "includes/profileheader_booking_success.html" %}
    {% endwith %}
    <!-- Header -->
    <section id="booking_details">
        <div class="container-fluid" id="booking_details_header_container">
            <div class="row">
                <div class="col-12" id="booking_details_header_wrapper">
                    <a href="{% url "generate_pdf" booking.id %}" target="_blank" id="pdf_btn" class="btn custom_success white_font secondary_font">Download details as PDF</a>
                </div>
            </div>
        </div>
        <!-- Booking Details and Resources -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3" id="booking_resources_container">
                    <div id="booking_resources_header">
                        <h3 class="text-center primary_font">Your Booking Resources</h3>
                    </div>
                    <hr class="block_divider_stub">
                    <div id="audiofile_wrapper">
                        <h4 id="audiofile_header" class="secondary_font">Audio Files</h4>
                        <hr>
                        {% if booking.audio_resources.all|length > 0 %}
                            {% for file in booking.audio_resources.all %}
                                {% if not file.file_name == None or file.file_name == " " %}
                                <a class="btn download_btn white_font secondary_font custom_success" href="{% url "download_audiofile" file.id %}">AudioFile {{ forloop.counter }}</a>
                                {% endif %}
                            {% endfor %} 
                        {% else %}
                         <p class="primary_font large_text text-center">No Audio</p>
                         <figure class="centered">
                             <img src="{{MEDIA_URL}}no-tracks-vector.png" alt="" width="100" height="100">
                         </figure>
                         <a href="{% url "dashboard" booking.related_invitation.invite_receiver.slug %}?page=jobs&section=invites_received&filter={{booking.id}}" class="btn custom_success">Message for Music</a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-8 col-lg-9">
                    <div id="booking_details_container">
                        <div id="booking_details_wrapper">
                            {% with booking as event %}
                                {% include "bookings/includes/booking_detail_display.html" %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}