{% extends "base.html" %}
{% load static %}

<!-- Title -->
{% block title %}DepT - Choose Your Subcription{% endblock %}

<!-- Meta Tags -->
 {% block extra_meta %}
    <meta name="description" content="DepT, Subscribe. Choose your Tier. Tier One or Tier Two?">
    <meta name="keywords" content="Deputise, subscribe, musician, tier one, tier two, subscription, member">
    <meta name="author" content="Oliver Cadman">
{% endblock %}

<!-- CSS Files -->
{% block extra_css %}
    <link rel="stylesheet" href="{% static "subscriptions/css/subscription_choices.css" %}">
    <link rel="stylesheet" href="{% static "css/dynamic_header.css" %}">
{% endblock %}

 

<!-- Content -->
{% block content %}
<!-- Header -->
{% with page_name as p %}
{% include 'includes/header-hero.html' %}
{% endwith %}
<section>
    <!-- Tier One Subscription Choice Container-->
    <div class="container-fluid subscription-choice-container">
        <div class="row h-100 d-flex justify-content-center justify-content-md-around align-items-center">
            <div class="col-9 col-md-5 col-lg-3 subscription-choice-card">
                <div class="subscription-details">
                    <h2 class="subscription-header text-center">
                        Tier One
                    </h2>
                    <div class="subscription-price">
                        <p class="text-center price-font-large mb-0">£{{tier_one_price}}</p>
                        <p class="text-center per-month">/month</p>
                    </div>
                    <hr>
                    <div class="benefits-list-wrapper">
                        <ul class="benefits-list">
                            <li>
                                Find and connect with other musicians
                            </li>
                            <li>
                                Appear in searches
                            </li>
                            <li>
                                Get invited to jobs
                            </li>
                            <li>
                                Build a beautiful, unique profile
                            </li>
                        </ul>
                    </div>
                </div>
                    <!-- Tier One Subscription Choice Buttons  -->
                    <input type="hidden" name="price_id" id="tier_one_price_id" value="{{tier_one_price_id}}">
                    {% if request.user.is_authenticated %}
                        {% if current_user.subscription_chosen %}
                            {% if current_user.is_paid %}
                                <!-- Form used to open the Stripe Customer Portal -->
                                <form action="{% url "customer_portal" %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="checkout-portal subscription_btn">Upgrade Your Plan</button>
                                </form>
                            {% else %}
                                <button type="button" class="btn checkout-portal subscription_btn disabled">Your Current Subscription</button>
                            {% endif %}
                        {% else %}
                            <button type="button" class="btn checkout-portal subscription_btn">Choose Tier One</button>  
                        {% endif %}
                    {% else %}
                        <a href="{% url "account_login" %}?next={{request.path}}" class="subscription_btn">Choose Tier One</a>
                    {% endif %}
                </div>
            <!-- Tier Two Subscription Choice Card -->
            <div class="col-9 col-md-5 col-lg-3 subscription-choice-card">
                {% if current_user.is_paid %}
                    <div class="opaque_overlay_xlight rounded_border"></div>
                {% endif %}
                <div class="subscription-details">
                    <h3 class="subscription-header text-center">
                        Tier Two
                    </h3>
                    <div class="subscription-price">
                        <p class="text-center price-font-large mb-0">£{{tier_two_price}}</p>
                        <p class="text-center per-month">/month</p>
                    </div>
                    <hr>
                    <div class="benefits-list-wrapper">
                            <ul class="benefits-list">
                                <li>
                                    <i class="fas fa-check-circle check-icon"></i>
                                    Appear higher in searches
                                </li>
                                <li>
                                    <i class="fas fa-check-circle check-icon"></i>
                                    Access to the jobs board
                                </li>
                                <li>
                                    Find and connect with other musicians
                                </li>
                                <li>
                                    Appear in searches
                                </li>
                                <li>
                                    Get invited to jobs
                                </li>
                                <li>
                                    Build a beautiful, unique profile
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Tier Two Subscription Choice Buttons  -->
                    <input type="hidden" name="price_id" id="tier_two_price_id" value="{{tier_two_price_id}}">
                    {% if request.user.is_authenticated %}
                        {% if current_user.subscription_chosen %}
                            {% if not current_user.is_paid %}
                                <!-- Form used to open Stripe customer portal -->
                                <form action="{% url "customer_portal" %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn subscription_btn">Upgrade your Plan</button>
                                </form>
                            {% else %}
                                <button type="button" class="btn checkout-portal subscription_btn disabled">Your Current Subscription</button>
                            {% endif %}
                        {% else %}
                                <button type="button" class="btn checkout-portal subscription_btn">Choose Tier Two</button>
                        {% endif %}
                    {% else %}
                        <a href="{% url "account_login" %}?next={{request.path}}" class="checkout-portal">Choose Tier Two</a>
                    {% endif %}
                </div>
            </div>
    </div>
</div>
</section>
{% endblock %}
{% block postload_js %}
    {{block.super}}
    <!-- Stripe JS CDN and Custom JS Code -->
    <script src="https://js.stripe.com/v3/"></script>
    <script src={% static 'subscriptions/js/checkout.js' %}></script>
    <script src={% static 'subscriptions/js/edit_stripe_iframe_attributes.js' %}></script>
{% endblock %}