{% extends "base.html" %}
{% load static %}

<!-- Title -->
{% block title %}DepT - Choose Your Subcription{% endblock %}

<!-- CSS Files -->
{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/subscription_choices.css" %}">
{% endblock %}

<!-- Content -->
{% block content %}
    <!-- Container to display choices on cards -->
    <div class="container-fluid subscription-choice-container pt-4">
        <div class="row d-flex justify-content-md-between">
            <div class="col-12 col-md-6">
                
            </div>
            <div class="col-12 col-md-6">
                
            </div>
        </div>
    </div>
{% endblock %}