<div class="job-card">
    {% comment %} {% if job.is_taken %}
        <img src="{{MEDIA_URL}}accepted_stamp.webp" alt="Invite Accepted" width="100" height="100" class="accepted_stamp">
    {% endif %} {% endcomment %}
    <div class="avatar_container position-relative float-end mt-3">
        <span class="badge {% if not current_page == "jobs" and current_section == "tier_two" and current_subsection == "posted_jobs" %}position-absolute{% endif %} top-0 start-0 bg-success secondary_font">Posted by {{ job.job_poster }}</span>
            {% if job.job_poster.profile_image %}
                <a href="{% url "profile" job.job_poster.user.username %}">
                    <img src="{{ job.job_poster.profile_image.url }}" alt="{{ job.job_poster.user.username }}" class="avatar_thumbnail" width="40" height="40">
                </a>
            {% else %}
                <a href="{% url "profile" job.job_poster.user.username %}">
                    <img src="{{MEDIA_URL}}dept-logo.webp" alt="{{ job.job_poster.user.username }}" class="avatar_thumbnail" width="40" height="40">
                </a>
            {% endif %}
    </div>
    <div class="card_detail_wrapper">
        <p class="invitation_card_title">{{ job.job_title }}</p>
        <p class="primary_font med_small_text light_weight"><span class="dashboard_card_icon"><i class="fa-regular fa-circle-play"></i></span>{{ job.event_name }}</p>
        <p class="primary_font med_small_text light_weight"><span class="dashboard_card_icon"><i class="fa-solid fa-location-dot"></i></span>{{ job.event_city}}, {{ job.event_country.name }}</p>
        <p class="primary_font med_small_text light_weight"><span class="dashboard_card_icon"><i class="fa-regular fa-clock"></i></span>{{ job.event_datetime|date:"d/m/Y H:i" }}</p>
    </div>
    <div class="invitation_btn_wrapper">
        {% if not job.is_taken %}
            {% if job.interested_member.all|length > 0 %}
              
                <button type="button" class="btn disabled disabled_btn secondary_font invitation_card_btn">Waiting for Response</button>
            {% endif %}
        {% else %}
            {% if not job.related_job.booking_details_sent %}
            <button class="btn invitation_card_btn disabled_btn disabled secondary_font">Waiting for details</button>
            {% else %}
            <a href="{% url "tier_two_booking_form" job.pk %}?event_tier=tier_two" class="btn bg-warning secondary_font">Send Complete Details</a>
            {% endif %}
        {% endif %}
        <button class="btn invitation_card_btn tier_two_message_modal_btn position-relative"
        data-bs-toggle="modal"
        data-bs-target="#message_modal"
        data-invite-fname="{{ invitation.invite_receiver.first_name }}"
        data-invite-lname="{{ invitation.invite_receiver.last_name }}"
        data-invite-username="{{ job.job_poster.user }}"
        data-invite-receiver-userid="{{ invitation.invite_receiver.user.pk}}"
        data-modal-profile-img="{% if invitation.invite_receiver.profile_image %}{{ invitation.invite_receiver.profile_image.url }}{% endif %}"
        data-invite-sender-userid="{{ invitation.invite_sender.user.pk }}"
        data-job-post-id="{{ job.pk }}">
            Message {{ job.job_poster.first_name }} 

                <span class="badge position-absolute top-0 start-100 translate-middle bg-warning rounded-pill text-dark">!</span>

        </button>
    </div>
</div>