{% load custom_tags %}

<div class="job-card">
    {% if invitation.is_accepted %}
        <img src="{{MEDIA_URL}}accepted_stamp.webp" alt="Invite Accepted" width="100" height="100" class="accepted_stamp">
    {% endif %}
    <div class="invitation_date_wrapper">
        <span class="invitation_date">{{ invitation.date_of_invitation|date:"d/m/Y" }}</span>
    </div>
    <p class="invitation_card_title">Invitation to {% if invitation.invite_receiver.first_name %}{{ invitation.invite_receiver.first_name }} {{ invitation.invite_receiver.last_name }}{% else %}{{ invitation.invite_receiver.user }}{% endif %}</p>
    <p class="primary_font med_small_text light_weight"><span class="dashboard_card_icon"><i class="fa-regular fa-circle-play"></i></span>{{ invitation.event_name }}</p>
    <p class="primary_font med_small_text light_weight"><span class="dashboard_card_icon"><i class="fa-solid fa-location-dot"></i></span>{{ invitation.event_city}}, {{ invitation.event_country.name }}</p>
    <p class="primary_font med_small_text light_weight"><span class="dashboard_card_icon"><i class="fa-regular fa-clock"></i></span>{{ invitation.event_datetime|date:"d/m/Y H:i" }}</p>
    <p class="primary_font med_small_text light_weight"><span class="dashboard_card_icon"><i class="fa-regular fa-money-bill-1"></i></span>£{{ invitation.fee }}</p>
    <div class="invitation_btn_wrapper">
        <button class="btn invitation_card_btn message_modal_btn position-relative"
        data-bs-toggle="modal"
        data-bs-target="#message_modal"
        data-invite-fname="{{ invitation.invite_receiver.first_name }}"
        data-invite-lname="{{ invitation.invite_receiver.last_name }}"
        data-invite-username="{{ invitation.invite_receiver.user }}"
        data-invite-receiver-userid="{{ invitation.invite_receiver.user.pk}}"
        data-modal-profile-img="{% if invitation.invite_receiver.profile_image %}{{ invitation.invite_receiver.profile_image.url }}{% endif %}"
        data-invite-sender-userid="{{ invitation.invite_sender.user.pk }}"
        data-invitation-id="{{ invitation.pk }}">
            Message {{ invitation.invite_receiver.first_name }} {{ invitation.invite_receiver.last_name }}
            {% if invitation|count_unread_messages %}
                <span class="badge position-absolute top-0 start-100 translate-middle bg-warning rounded-pill text-dark">!</span>
            {% endif %}
        </button>
        {% if not invitation.is_accepted %}
            <button class="btn invitation_card_btn disabled_btn disabled">Awaiting a Response</button>
            <a href="{% url "edit_invitation" invitation.pk %}" class="btn custom_success secondary_font white_font ms-2 me-2"><i class="fas fa-edit"></i></a>
            <button
            class="btn alert_bg secondary_font white_font confirm_invite_delete_btn"
            data-bs-toggle="modal"
            data-bs-target="#confirm_invite_delete_modal"
            data-invitation-id="{{ invitation.pk }}"><i class="fas fa-times"></i></button>
        {% else %}
            <a href="{% url "booking_form" invitation.pk %}?event_tier=tier_one" class="btn invitation_card_btn bg-warning text-dark">Send Complete Details</a>
        {% endif %}
    </div>
</div>