{% load custom_tags %}
<div class="col-12 invitation-card">

    <div class="invitation_date_wrapper">
        <span class="invitation_date">{{ invitation.date_of_invitation|date:"d/m/Y" }}</span>
    </div>
    <p class="invitation_card_title">Invitation from {{ invitation.invite_sender.first_name }} {{ invitation.invite_sender.last_name }}</p>
    <p class="invitation_card_detail">{{ invitation.event_name }}</p>
    <p class="invitation_card_detail">{{ invitation.event_city}}, {{ invitation.event_country.name }}</p>
    <p class="invitation_card_detail">{{ invitation.event_datetime|date:"d/m/Y H:i" }}</p>    
    <p>{{ invitation.pk }}</p>
    <div class="invitation_btn_wrapper">
        <button class="modal-trigger btn invitation_card_btn view_detail_btn" data-bs-toggle="modal"
        data-bs-target="#invitation_detail_modal"
        data-invite-fname="{{ invitation.invite_sender.first_name }}"
        data-invite-lname="{{ invitation.invite_sender.last_name }}"
        data-event-name="{{ invitation.event_name }}"
        data-event-city="{{ invitation.event_city }}"
        data-event-country="{{ invitation.event_country.name }}"
        data-event-datetime="{{ invitation.event_datetime|date:"d/m/Y H:i"}}">View Details</button>
        <button class="btn invitation_card_btn message_modal_btn position-relative"
        data-bs-toggle="modal"
        data-bs-target="#message_modal"
        data-invite-fname="{{ invitation.invite_sender.first_name }}"
        data-invite-lname="{{ invitation.invite_sender.last_name }}"
        data-invite-username={{ invitation.invite_sender.user }}
        data-invite-receiver-userid="{{ invitation.invite_receiver.user.pk }}"
        data-invite-sender-userid="{{ invitation.invite_sender.user.pk }}"
        data-invitation-id={{ invitation.pk }}>
            Message {{ invitation.invite_sender.first_name }} {{ invitation.invite_sender.last_name }}
                {% if invitation|count_unread_messages %}
                    <span class="badge position-absolute top-0 start-100 rounded-pill translate-middle bg-warning text-dark text-bold">!</span>
                {% endif %}
        </button>   
        <button class="btn invitation_card_btn accept">Accept</button>
        <button class="btn invitation_card_btn decline">Decline</button>
    </div>  
</div>