{% load custom_tags %}

<div class="invitation-card">
    {% if invitation.is_accepted %}
        <img src="{{MEDIA_URL}}accepted_stamp.webp" alt="Invite Accepted" width="100" height="100" class="accepted_stamp">
    {% endif %}
    <div class="invitation_date_wrapper">
        <span class="invitation_date">{{ invitation.date_of_invitation|date:"d/m/Y" }}</span>
    </div>
    <p class="invitation_card_title">Invitation to {{ invitation.invite_receiver.first_name }} {{ invitation.invite_receiver.last_name }}</p>
    <p class="invitation_card_detail">{{ invitation.event_name }}</p>
    <p class="invitation_card_detail">{{ invitation.event_city}}, {{ invitation.event_country.name }}</p>
    <p class="invitation_card_detail">{{ invitation.event_datetime|date:"d/m/Y H:i" }}</p>
    <div class="invitation_btn_wrapper">
        {% if not invitation.is_accepted %}
            <button class="modal-trigger btn invitation_card_btn view_detail_btn"
            data-bs-toggle="modal"
            data-bs-target="#invitation_detail_modal"
            data-invite-fname="{{ invitation.invite_receiver.first_name }}"
            data-invite-lname="{{ invitation.invite_receiver.last_name }}"
            data-event-name="{{ invitation.event_name }}"
            data-event-city="{{ invitation.event_city }}"
            data-event-country="{{ invitation.event_country.name }}"
            data-event-datetime="{{ invitation.event_datetime|date:"d/m/Y H:i"}}"
            data-additional-info="{{ invitation.additional_info }}"
            >View Details</button>
        {% else %}
            <a href="{% url "finalize_booking" invitation.pk %}" class="btn invitation_card_btn bg-warning text-dark">Send Complete Details</a>
        {% endif %}
        <button class="btn invitation_card_btn message_modal_btn position-relative"
        data-bs-toggle="modal"
        data-bs-target="#message_modal"
        data-invite-fname="{{ invitation.invite_receiver.first_name }}"
        data-invite-lname="{{ invitation.invite_receiver.last_name }}"
        data-invite-username="{{ invitation.invite_receiver.user }}"
        data-invite-receiver-userid="{{ invitation.invite_receiver.user.pk}}"
        data-modal-profile-img="{{ invitation.invite_receiver.profile_image.url }}"
        data-invite-sender-userid="{{ invitation.invite_sender.user.pk }}"
        data-invitation-id="{{ invitation.pk }}">
            Message {{ invitation.invite_receiver.first_name }} {{ invitation.invite_receiver.last_name }}
            {% if invitation|count_unread_messages %}
                <span class="badge position-absolute top-0 start-100 translate-middle bg-warning rounded-pill text-dark">!</span>
            {% endif %}
        </button>
    </div>
</div>