<div class="job-card">
    {% if job.is_taken %}
        <img src="{{MEDIA_URL}}accepted_stamp.webp" alt="Invite Accepted" width="100" height="100" class="accepted_stamp">
    {% endif %}
    <div class="avatar_container position-relative float-end mt-3">
        {% if not job.is_taken %}
            {% if job.interested_member.all|length > 0 %}
                <span class="badge position-absolute top-0 start-0 translate-middle bg-success secondary_font">{{ job.interested_member.all|length }} members interested</span>
                <ul class="avatar_list me-3">
                    {% for member in job.interested_member.all %}
                        <li>
                            {% if member.profile_image %}
                            <a href="{% url "profile" member.user.username %}">
                                <img src="{{ member.profile_image.url }}" alt="{{ member.user.username }}" class="avatar_thumbnail overlap_item" width="40" height="40">
                            </a>
                            {% else %}
                            <a href="{% url "profile" member.user.username %}">
                                <img src="{{MEDIA_URL}}dept-logo.webp" alt="{{ member.user.username }}" class="avatar_thumbnail overlap_item" width="40" height="40">
                            </a>
                            {% endif %}
                        </li>
                    {% endfor %}                    
                </ul>
                {% endif %}
        {% else %}
            <span class="badge position-absolute top-0 start-10 translate-middle bg-success secondary_font rounded-pill"><i class="fa-solid fa-check"></i></span>    
            {% if job.confirmed_member.profile_image %}
                <a href="{% url "profile" job.confirmed_member.user.username %}">
                    <img src="{{ job.confirmed_member.profile_image.url }}" alt="{{ job.confirmed_member.user.username }}" class="avatar_thumbnail" width="40" height="40">
                </a>
            {% else %}
                <a href="{% url "profile" job.confirmed_member.user.username %}">
                    <img src="{{MEDIA_URL}}dept-logo.webp" alt="{{ job.confirmed_member.user.username }}" class="avatar_thumbnail" width="40" height="40">
                </a>
            {% endif %}
  
        {% endif %}
    </div>
    <div class="card_detail_wrapper">
        <p class="invitation_card_title">{{ job.job_title }}</p>
        <p class="primary_font med_small_text light_weight"><span class="dashboard_card_icon"><i class="fa-regular fa-circle-play"></i></span>{{ job.event_name }}</p>
        <p class="primary_font med_small_text light_weight"><span class="dashboard_card_icon"><i class="fa-solid fa-location-dot"></i></span>{{ job.event_city}}, {{ job.event_country.name }}</p>
        <p class="primary_font med_small_text light_weight"><span class="dashboard_card_icon"><i class="fa-regular fa-clock"></i></span>{{ job.event_datetime|date:"d/m/Y H:i" }}</p>
    </div>
    <div class="invitation_btn_wrapper">
        {% if not job.is_taken %}
            {% if job.interested_member.all|length > 0 %}
                <button class="btn invitation_card_btn bg-warning text-dark offers_received_modal_btn"
                data-bs-toggle="modal"
                data-bs-target="#offers_received_modal"
                data-job-id="{{ job.pk }}"
                data-job-offer-count="{{ job.interested_member.all|length }}">Choose a member</button>
            {% else %}
                <button type="button" class="btn disabled secondary_font invitation_card_btn">No Offers Received</button>
            {% endif %}
        {% else %}
            <a href="{% url "tier_two_booking_form" job.pk %}?event_tier=tier_two" class="btn bg-warning secondary_font">Send Complete Details</a>
        {% endif %}
        {% if job.is_taken %}
        <button class="btn invitation_card_btn tier_two_message_modal_btn position-relative"
        data-bs-toggle="modal"
        data-bs-target="#message_modal"
        data-invite-fname="{{ job.confirmed_member.first_name }}"
        data-invite-lname="{{ job.confirmed_member.last_name }}"
        data-invite-username="{{ job.confirmed_member.user }}"
        data-invite-receiver-userid="{{ job.confirmed_member.user.pk}}"
        data-modal-profile-img="{% if job.confirmed_member.profile_image %}{{ job.confirmed_member.profile_image.url }}{% endif %}"
        data-invite-sender-userid="{{ job.job_poster.user.pk }}"
        data-job-post-id="{{ job.pk }}">
            Message {{ job.confirmed_member.first_name }}
            <span class="badge position-absolute top-0 start-100 translate-middle bg-warning rounded-pill text-dark">!</span>
        </button>
        {% endif %}
    </div>
</div>