<section class="featured-section">
    <div class="container featured-container">
        <div class="row">
            <div class="col-12 section-header">
                <h2 class="text-center">Find a Professional</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <a href="{% url 'job_page' 'vocals' %}">
                    <div class="link-card" id="vocals-link">
                        <div class="opaque-overlay"></div>
                        <p class="featured-link-text">Vocals</p>
                        <div class="inner-fade d-none d-lg-block">
                            <p class="fade-text">
                                Choose from our collection of singers, and find someone who is perfect for any genre or style.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <a href="{% url 'job_page' 'bass_guitar' %}">
                    <div class="link-card" id="bass-link">
                        <div class="opaque-overlay"></div>
                        <p class="featured-link-text">Bass Guitar</p>
                        <div class="inner-fade d-none d-lg-block">
                            <p class="fade-text">Discover bass players with the pocket that perfectly suits your groove.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <a href="{% url 'job_page' 'keyboard' %}">
                    <div class="link-card" id="keyboard-link">
                        <div class="opaque-overlay"></div>
                        <p class="featured-link-text">Keyboard</p>
                        <div class="inner-fade d-none d-lg-block">
                            <p class="fade-text">
                                Find a keyboard player to provide you with the ideal textures that you need for your gig.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <a href="{% url 'job_page' 'guitar' %}">
                    <div class="link-card" id="guitar-link">
                        <div class="opaque-overlay"></div>
                        <p class="featured-link-text">Guitar</p>
                        <div class="inner-fade d-none d-lg-block">
                            <p class="fade-text">Our collection of rhythm, lead, acoustic and classical guitarists will cater for any style that you need.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <a href="{% url 'job_page' 'drums' %}">
                    <div class="link-card" id="drums-link">
                        <div class="opaque-overlay"></div>
                        <p class="featured-link-text">Drums</p>
                        <div class="inner-fade d-none d-lg-block">
                            <p class="fade-text">
                            Whether your style is pop, jazz, rock or punk, hire a drummer that will drive your music.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <a href="{% url 'job_page' 'trumpet' %}">
                    <div class="link-card" id="trumpet-link">
                        <div class="opaque-overlay"></div>
                        <p class="featured-link-text">Trumpet</p>
                        <div class="inner-fade d-none d-lg-block">
                            <p class="fade-text">
                                Virtuosic trumpet players will soar over your tunes and wow your crowds.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>