
<li>
    <a title="twitter" href="https://twitter.com/?lang=en" target="_blank">
        <i class="fab fa-twitter social-icon"></i>
    </a>
</li>
<li>
    <a title="instagram" href="https://www.instagram.com/" target="_blank">
        <i class="fab fa-instagram social-icon"></i>
    </a>
</li>
<li>
    <a title="facebook" href="https://en-gb.facebook.com/" target="_blank">
        <i class="fab fa-facebook social-icon"></i>
    </a>
</li>
<li>
    <a title="youtube" href="https://www.youtube.com/" target="_blank">
        <i class="fab fa-youtube social-icon"></i>
    </a>
</li>
