<section class="dynamic-hero-section-sm d-block d-lg-none">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 dynamic-header mt-3">
                    <div id="dept-logo-wrapper-sm">
                        <figure>
                            <img src="{{MEDIA_URL}}dept-logo.png" alt="DepT Logo" width="75" height="75" id="dept-logo-sm">
                        </figure>
                    </div>
                    <h1 class="text-center {% if p == "user_profile_form" %}edit_profile_header{% endif %}">
                        <!-- Dynamically render header relative to page -->
                        {% if p == "user_profile_form" %}
                            {% if request.session.form_page == 1 %}
                                Edit Your Profile
                            {% elif request.session.form_page == 2 %}
                                Add Your Music
                            {% endif %}
                        {% else %}
                            Thankyou
                        {% endif %}
                    </h1>
                        {% if not p == "user_profile_form" %}
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In ipsum, illum dignissimos architecto ratione odit commodi ducimus esse cupiditate aliquid eius quae. Minus mollitia dolores ad saepe vero assumenda iure in repellendus nobis! Voluptas libero eum doloribus, commodi voluptate quis.</p>
                        {% endif %}
                </div>
            </div>
    </section>
    <section class="d-block d-lg-none dynamic-lead-section-sm {% if p == "user_profile_form" %}edit_profile{% endif %}">
        <div class="row">
            <div class="col-12">
                <div class="dynamic-lead-container">
                    <div id="dynamic-lead-header" class="mt-4 text-center">
                        {% if not p == "user_profile_form" %}
                        <h2>Get yourself noticed</h2>
                        <hr>
                    </div>
                    <div class="profile-prompt-lead text-center">
                        <p>
                            Your chances of being hired are much higher if you have a complete profile.
                        </p>
                        <p>
                            Tell us about yourself and add recordings of your work, the instruments that you're skilled in, and the dates that you're unavailable.
                        </p>
                    </div>
                     <div class="success-buttons">
                            <a href="#" class="btn">Build my Profile</a>
                    </div>
                    {% else %}
                        {% if request.session.form_page == 1 %}
                            <div class="profile-prompt-lead text-center">
                                <p>Let the community know who you've arrived.</p>
                                <p>Add the instruments you play, your best music, your unavailable dates, and a summary of yourself to increase your chance of being booked.</p>
                            </div>
                        {% elif request.session.form_page == 2 %}
                            <div class="profile-prompt-lead text-center">
                                <p>Showcase your finest music.</p>
                                <p>Your chances of being hired are much higher if our members are able to hear your work.</p>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
        </div>
    <section class="dynamic-hero-section-lg {% if p == "user_profile_form" %}edit_profile{% endif %} d-none d-lg-block">
        <div id="dynamic-hero-container">
            <div id="dept-logo-wrapper">
                <figure>
                    <img src="{{MEDIA_URL}}dept-logo.png" alt="DepT Logo" width="300" height="300" id="dept-logo">
                </figure>
            </div>
            <div class="dynamic-header" class="ms-4">
                <h1 class="edit_profile_header">
                {% if p == "user_profile_form" %}
                    {% if request.session.form_page == 1 %}
                        Edit Your Profile
                    {% elif request.session.form_page == 2 %}
                        Add your Music
                    {% endif %}
                {% else %}
                        Thankyou
                {% endif %}
                </h1>
                {% if not p == "user_profile_form" %}
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In ipsum, illum dignissimos architecto ratione odit commodi ducimus esse cupiditate aliquid eius quae. Minus mollitia dolores ad saepe vero assumenda iure in repellendus nobis! Voluptas libero eum doloribus, commodi voluptate quis.</p>
                {% endif %}
            </div>
        </div>
        <div class="dynamic-header-container">
            <div class="success-button-wrapper">
                <div id="dynamic-lead-header-lg">
                    {% if not p == "user_profile_form" %}
                    <h2 class="text-center">
                       Get yourself noticed
                    </h2>
                </div>
                <hr>
                {% endif %}
                <div class="profile-prompt-lead text-center">
                    {% if not p == "user_profile_form" %}
                        <p>
                            Your chances of being hired are much higher if you have a complete profile.
                        </p>
                        <p>
                        Tell us about yourself and add recordings of your work, the instruments that you're skilled in, and the dates that you're unavailable.
                        </p>
                    {% else %}
                        {% if request.session.form_page == 1 %}
                            <div class="profile-prompt-lead text-center">
                                <p>Let the community know who you've arrived.</p>
                                <p>Add the instruments you play, your best music, your unavailable dates, and a summary of yourself to increase your chance of being booked.</p>
                            </div>
                        {% elif request.session.form_page == 2 %}
                            <div class="profile-prompt-lead text-center">
                                <p>Showcase your finest music.</p>
                                <p>Your chances of being hired are much higher if our members are able to hear your work.</p>
                            </div>
                        {% elif request.session.form_page == 3 %}
                            <div class="profile-prompt-lead text-center">
                                <p>Finding a dep is quicker and easier if you know if they are available on the day of your gig.</p>
                                <p>Add the dates when you are unavailable to make the depping process as smooth as possible.</p>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                {% if not p == "user_profile_form" %}
                <div class="success-buttons">
                    {% comment %} <a href="{% url 'edit_profile' request.user.username %}" class="btn">Build my Profile</a> {% endcomment %}
                </div>
                {% endif %}
            </div>
        </div>
    </section>