<section class="dynamic-hero-section-sm {% if p == "checkout_success" %}checkout_success{% elif p == "job_list" or p == "dep_list" %}padding_top_7{% endif %} d-block d-lg-none">
    {% if p == "checkout_success" %}
        <div class="opaque-overlay-light"></div>
    {% endif %}
        <div class="container-fluid {% if p == "choose_subscription" %}choose_subscription_container_sm{% else %}pt-4{% endif %}">
            <div class="row">
                <div class="col-12 dynamic-header mt-3">
                    {% if p == "user_profile_form" %}
                    <div id="dept-logo-wrapper-sm">
                        <figure>
                            <img srcset="{{MEDIA_URL}}dept-logo.png, {{MEDIA_URL}}dept-logo.webp" alt="DepT Logo" width="75" height="75" id="dept-logo-sm">
                        </figure>
                    </div>
                    {% endif %}
                    <h1 class="text-center {% if p == "user_profile_form" %}edit_profile_header{% endif %}{% if p == "checkout_success" %}header_shadow{% endif %}">
                        <!-- Dynamically render header relative to page -->
                        {% if p == "user_profile_form" %}
                            {% if request.session.form_page == 1 %}
                                Edit Your Profile
                            {% elif request.session.form_page == 2 %}
                                Add Your Music
                            {% endif %}
                        {% elif p == "choose_subscription" %}
                            {% if not current_user.subscription_chosen %}
                                Subscribe
                            {% else %}
                                Your Subscription
                            {% endif %}
                        {% elif p == "dashboard" %}
                            Dashboard
                        {% elif p == "booking_form" or p == "tier_two_booking_form" %}
                            Finalize your Booking.
                        {% elif p == "dep_list" %}
                            Top Musicians for Hire.
                        {% elif p == "booking_success "%}
                            You have booked {% if event.related_invitation.invite_receiver.first_name %}
                                                    {{ event.related_invitation.invite_receiver.first_name }}
                                                {% else %}
                                                    {{ event.related_invitation.invite_receiver.user.username }}
                                                {% endif %}
                        {% elif p == "job_list" %}
                            Get a Job.
                        {% else %}
                            Thankyou
                        {% endif %}
                    </h1>
                        {% if p == "checkout_success" %}
                            {% if subscribed_user.is_paid %}
                                <p class="med_small_text text-center">
                                    You have subscribed to our Tier Two Policy. We hope you enjoy your time with us.
                                </p>
                                <p class="med_small_text text-center">
                                    Visit your Dashboard if you ever need to update your subscription.
                                </p>
                            {% else %}
                                <p class="med_small_text text-center">
                                    You have subscribed to our Tier One Policy. We hope you enjoy your time with us.
                                </p>
                                <p class="med_small_text text-center">
                                    Visit your Dashboard if you ever need to update your subscription.
                                </p> 
                            {% endif %}
                        {% elif p == "choose_subscription" %}
                            <p>There are two ways to get work with DepT.</p>
                            <ol id="subscribe_choice_list">
                                <li>Being invited by other members visiting DepT. All members can be invited to play a gig.</li>
                                <li>Send proposals for advertised jobs on the jobs page:
                                    <p>The jobs page is accessible to Tier Two members only.</p>
                                    <p>Additionally, Tier Two members appear above Tier One members in searches, getting more visibility and invites.</p>
                                </li>
                            </ol>
                        {% elif p == "dashboard" %}
                            <p class="text-center">Welcome to your Dashboard.</p>
                            <p class="text-center">Here you can keep track of your invites and active engagements, as well as your profile progress and performance analytics.</p>
                        {% elif p == "booking_form" %}
                            <p class="text-center">Congratulations {% if invitation.invite_sender.first_name %}{{ invitation.invite_sender.first_name }}{% else %}{{ invitation.invite_sender.user }}{% endif %},
                              {% if invitation.invite_receiver.first_name %}{{ invitation.invite_receiver.first_name }}{% else %}{{ invitation.invite_receiver.user }}{% endif %}
                              has accepted your invitation:
                            </p>
                            <p class="text-center header_event_name">{{ invitation.event_name }}</p>
                            <p class="text-center">Use the form below to provide the full details of the gig. Help to make your dep's job simple by sending sheet music, audio files, or providing travel/backline information.</p>
                        {% elif p == "tier_two_booking_form" %}
                            <p class="text-center">Congratulations {% if job.job_poster.first_name %}{{ job.job_poster.first_name }}{% else %}{{ job.job_poster.user }}{% endif %},
                             you have confirmed {% if job.confirmed_member.first_name %}{{ job.confirmed_member.first_name }}{% else %}{{ job.confirmed_member.user }}{% endif %}.
                            </p>
                            <p class="text-center header_event_name">{{ invitation.event_name }}</p>
                            <p class="text-center">Use the form below to provide the full details of the gig. Help to make your dep's job simple by sending audio files, or providing travel/backline information.</p>
                        {% elif p == "dep_list" %}
                            <p class="text-center find_a_dep">Browse our collection of DepT members, and find the perfect musician to cover your gig, hassle free, with confidence.</p>
                        {% elif p == "job_list" %}
                            <p class="text-center">
                                Keep your finger on the pulse with the latest jobs posted by our members.
                            </p>
                            <p class="text-center">
                                If you have a specific job that needs covering, this is the place to go.
                            </p>
                            <div class="centered mb-3">
                                {% if request.user.is_authenticated %}
                                    {% if current_user.is_paid %}
                                        <button type="button" class="btn custom_success secondary_font white_font inset_light_shadow" data-bs-toggle="modal" data-bs-target="#job_advertisement_modal">Post a Job</button>
                                    {% else %}
                                        <button type="button" class="btn custom_success secondary_font white_font inset_light_shadow" data-bs-toggle="modal" data-bs-target="#tier_two_alert_modal">Post a Job</button>
                                    {% endif %}
                                {% else %}
                                <a href="{% url "account_login" %}?next={{request.path}}" class="btn custom_success secondary_font white_font inset_light_shadow">Post a Job</a>
                                {% endif %}
                            </div>

                        {% endif %}
                </div>
            </div>
    </section>
    {% if not p == "dashboard" and not p == "booking_form" and not p == "booking_success" and not p == "dep_list" and not p == "job_list" and not p == "tier_two_booking_form" %}
    <section class="d-block d-lg-none dynamic-lead-section-sm {% if p == "user_profile_form" %}edit_profile linear_bg{% elif p == "choose_subscription" %}linear_bg{% elif p == "checkout_success" %}checkout_success{% endif %}">
        {% if p == "user_profile_form" or p == "choose_subscription" %}
            <div class="opaque_overlay"></div>
        {% endif %}
        <div class="row">
            <div class="col-12">
                <div class="dynamic-lead-container position-relative">
                    <div id="dynamic-lead-header" class="mt-4 text-center primary_font position-relative">
                        {% if not p == "user_profile_form" %}
                        <h2 class="white_font">
                            {% if p == "checkout_success" %}
                                Get yourself noticed
                            {% elif p == "choose_subscription" %}
                                Our Tier Two Policy
                            {% endif %}
                        </h2>
                        {% if p == "choose_subscription" %}
                            <hr class="block_divider_stub_light position-relative">
                        {% endif %}
                    </div>
                    <div class="profile-prompt-lead text-center position-relative">
                        {% if p == "checkout_success" %}
                            <p class="secondary_font">
                                Your chances of being hired are much higher if you have a complete profile.
                            </p>
                            <p class="secondary_font">
                                Tell us about yourself and add recordings of your work, the instruments that you're skilled in, and the dates that you're unavailable.
                            </p>
                                <a href="{% url "edit_profile" %}" class="btn custom_success white_font secondary_font p-3 mt-2">Build my Profile</a>
                        {% elif p == "choose_subscription" %}
                            <p class="secondary_font white_font mt-4">
                                Tier Two members go through a selective screening process. This assures the quality of work is high, which makes for happy clients who return and tell their friends. It also lowers competition for our Tier Two members which helps them close more jobs.
                            </p>
                            <p class="secondary_font white_font">
                                Note that we accept new Tier Two members based demand for particular specialties, to maintain a balanced marketplace. As a result we can only accept a small percentage of applicants.
                            </p>
                        {% endif %}
                    </div>
                    {% else %}
                        {% if request.session.form_page == 1 %}
                            <div class="profile-prompt-lead text-center">
                                <p class="secondary_font white_font">Let the community know you've arrived.</p>
                                <p class="secondary_font white_font">Add the instruments you play, your best music, your unavailable dates, and a summary of yourself to increase your chance of being booked.</p>
                            </div>
                        {% elif request.session.form_page == 2 %}
                            <div class="profile-prompt-lead text-center">
                                <p class="secondary_font white_font">Showcase your finest music.</p>
                                <p class="secondary_font white_font">Your chances of being hired are much higher if our members are able to hear your work.</p>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    {% endif %}
        </div>
    <section class="dynamic-hero-section-lg {% if p == "user_profile_form" %}edit_profile{% elif p == "choose_subscription" %}choose_subscription{% elif p == "dashboard" %}short{% elif p == "checkout_success" %}checkout_success{% elif p == "booking_form" or p == "tier_two_booking_form" %}height_55vh{% endif %}{% if p == "dep_list" %}dep_list {% elif p == "job_list" %}job_list{% endif %} d-none d-lg-block">
        <div id="dynamic-hero-container">
            {% if p == "user_profile_form" %}
            <div id="dept-logo-wrapper">
                <figure>
                    <img srcset="{{MEDIA_URL}}dept-logo.png, {{MEDIA_URL}}dept-logo.webp" alt="DepT Logo" width="300" height="300" id="dept-logo">
                </figure>
            </div>
            {% endif %}
            <div class="dynamic-header {% if p == "dep_list" %}dep_list_header{% elif p == "job_list" %}job_list{% elif p == "checkout_success" %}checkout_success{% endif %}">
                <h1 class="edit_profile_header">
                {% if p == "user_profile_form" %}
                    {% if request.session.form_page == 1 %}
                        Edit Your Profile
                    {% elif request.session.form_page == 2 %}
                        Add your Music
                    {% endif %}
                {% elif p == "choose_subscription" %}
                    {% if not current_user.subscription_chosen %}
                        Subscribe
                    {% else %}
                        Your Subscription
                    {% endif %}
                {% elif p == "dashboard" %}
                    Your Dashboard.
                {% elif p == "booking_form" or p == "tier_two_booking_form" %}
                    Finalize Your Booking.
                {% elif p == "dep_list" %}
                    Top Musicians for Hire
                {% elif p == "booking_success" %}
                    You have booked {% if event.related_invitation.invite_receiver.first_name %}
                                                    {{ event.related_invitation.invite_receiver.first_name }}
                                                {% else %}
                                                    {{ event.related_invitation.invite_receiver.user.username }}
                                                {% endif %}
                {% elif p == "job_list" %}
                    Get a Job.
                {% else %}
                    Thankyou
                {% endif %}
                </h1>
                {% if p == "checkout_success" %}
                    {% if subscribed_user.is_paid %}
                        <p class="med_small_text width_45">
                            You have subscribed to our Tier Two Policy. We hope you enjoy your time with us.
                        </p>
                        <p class="med_small_text width_45">
                            Visit your Dashboard if you ever need to update your subscription.
                        </p>
                    {% else %}
                        <p class="med_small_text width_45">
                            You have subscribed to our Tier One Policy. We hope you enjoy your time with us.
                        </p>
                        <p class="med_small_text width_45">
                            Visit your Dashboard if you ever need to update your subscription.
                        </p> 
                    {% endif %}
                {% elif p == "choose_subscription" %}
                    <p>There are two ways to get work with DepT.</p>
                    <ol id="subscribe_choice_list">
                        <li>Being invited by other members visiting DepT. All members can be invited to play a gig.</li>
                        <li>Send proposals for advertised jobs on the jobs page:
                            <p>The jobs page is accessible to Tier Two members only.</p>
                            <p>Additionally, Tier Two members appear above Tier One members in searches, getting more visibility and invites.</p>
                        </li>
                    </ol>
                {% elif p == "dep_list" %}
                    <p class="med_text width_40">Browse our collection of DepT members, and find the perfect musician to cover your gig, hassle free, with confidence.</p>
                {% elif p == "job_list" %}
                    <p class="med_text width_40">Keep your finger on the pulse with the latest jobs posted by our members.</p>
                    <p class="med_text width_40">If you have a specific job that needs covering, this is the place to go.</p>
                    <div class="btn_wrapper_lg">
                        {% if request.user.is_authenticated %}
                            {% if current_user.is_paid %}
                                <button type="button" class="btn btn_lg job_list light_bg secondary_font inset_light_shadow" data-bs-toggle="modal" data-bs-target="#job_advertisement_modal">Post a Job</button>
                            {% else %}
                                <button type="button" class="btn btn_lg job_list light_bg secondary_font inset_light" data-bs-toggle="modal" data-bs-target="#tier_two_alert_modal">Post a Job</button> 
                            {% endif %}
                        {% else %}
                            <a href="{% url "account_login" %}?next={{request.path}}" class="btn btn_lg job_list secondary_font white_font inset_light_shadow">Post a Job</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="dynamic-header-container">
            {% if p == "choose_subscription" or p == "checkout_success" or p == "user_profile_form" or p == "dashboard" or p == "booking_form" %}
                <div class="opaque_overlay"></div>
            {% endif %}
             {% if p == "dep_list" %}
                <img srcset="{{MEDIA_URL}}dept_findadep_landing.webp, {{MEDIA_URL}}dept_findadep_landing.jpg" alt="DepT - Find-a-dep Hero" width="800" height="600" id="findadep_hero_image">
             {% elif p == "job_list" %}
                <img srcset="{{MEDIA_URL}}dept_joblist_hero.webp, {{MEDIA_URL}}dept_joblist_hero.jpg" alt="DepT - Job List Hero" width="900" height="500" id="joblist_hero">
            {% endif %}
            <div class="success-button-wrapper">
                <div id="dynamic-lead-header-lg">
                    <h2 class="text-center white_font primary_font header_shadow large_text">
                        {% if p == "checkout_success" %}
                            Get yourself noticed
                       {% elif p == "choose_subscription" %}
                            Our Tier Two Policy
                       {% endif %}
                    </h2>
                </div>
                {% if p == "choose_subscription" %}
                    <hr class="block_divider_stub_light">
                {% endif %}
                <div class="dynamic-prompt-lead text-center {% if p == "dashboard" %}dashboard{% endif %}">
                    {% if p == "checkout_success" %}
                        <p class="white_font">
                        Your chances of being hired are much higher if you have a complete profile.
                        </p>
                        <p class="white_font">
                        Tell us about yourself and add recordings of your work, the instruments that you're skilled in, and the dates that you're unavailable.
                        </p>
                        <a href="{% url 'edit_profile' %}" class="btn custom_success primary_font white_font med_small_text inset_light_shadow">Build my Profile</a>
                    {% elif p == "choose_subscription" %}
                        <p class="white_font mt-4">
                            Tier Two members go through a selective screening process. This assures the quality of work is high, which makes for happy clients who return and tell their friends. It also lowers competition for our Tier Two members which helps them close more jobs.
                        </p>
                        <p class="white_font">
                            Note that we accept new Tier Two members based demand for particular specialties, to maintain a balanced marketplace. As a result we can only accept a small percentage of applicants.
                        </p>
                    {% elif p == "dashboard" %}
                        <p class="white_font">Welcome to your Dashboard.</p>
                        <p class="white_font">Here you can keep track of your invites and active engagements, as well as your profile progress and performance analytics.</p>
                    {% elif p == "booking_form" %}
                        <p class="white_font">Congratulations {% if invitation.invite_sender.first_name %}{{ invitation.invite_sender.first_name }},{% else %}{{ invitation.invite_sender.user }},{% endif %}
                           {% if invitation.invite_receiver.first_name %}{{ invitation.invite_receiver.first_name }}{% else %}{{ invitation.invite_receiver.user }}{% endif %}
                           has accepted your invitation:
                        </p>
                        <p class="header_event_name white_font">{{ invitation.event_name }}</p>
                        <p class="white_font">Use the form below to provide the full details of the gig. Help to make your dep's job simple by sending sheet music, audio files, or providing travel/backline information.</p>
                    {% elif p == "tier_two_booking_form" %}
                          <p class="white_font">Congratulations {% if job.job_poster.first_name %}{{ job.job_poster.first_name }},{% else %}{{ job.job_poster.user }},{% endif %}
                          you have confirmed {% if job.confirmed_member.first_name %}{{ job.confirmed_member.first_name }}{% else %}{{ job.confirmed_member.user }}{% endif %}.
                        </p>
                        <p class="header_event_name">{{ invitation.event_name }}</p>
                        <p class="white_font">Use the form below to provide the full details of the gig. Help to make your dep's job simple by sending sheet music, audio files, or providing travel/backline information.</p>
                    {% elif p == "user_profile_form" %}
                        {% if request.session.form_page == 1 %}
                            <div class="profile-prompt-lead text-center white_font">
                                <p>Let the community know who you've arrived.</p>
                                <p>Add the instruments you play, your best music, your unavailable dates, and a summary of yourself to increase your chance of being booked.</p>
                            </div>
                        {% elif request.session.form_page == 2 %}
                            <div class="profile-prompt-lead text-center white_font">
                                <p>Showcase your finest music.</p>
                                <p>Your chances of being hired are much higher if our members are able to hear your work.</p>
                            </div>
                        {% elif request.session.form_page == 3 %}
                            <div class="profile-prompt-lead text-center white_font">
                                <p class="white_font">Finding a dep is quacke fidnufousr and easier if you know they are available on the day of your gig.</p>
                                <p class="white_font">Add the dates when you are unavailable to make the depping process as smooth as possible.</p>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>