{% load custom_tags %}

<div class="collapse navbar-collapse order-0" id="main-nav">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-6">
                <ul class="navbar-nav">
                    <li class="nav-item d-md-none d-block">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    {% if not request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "account_login" %}">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "account_signup" %}">Register</a>
                    </li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbar_dropdown_menu_link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">My Account</a>
                        <div class="dropdown-menu account-menu animate__animated animate__fadeInLeft p-0" aria-labelledby="navbar_dropdown_menu_link">
                           {% display_user %}
                        </div>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a href="{% url "dep_list" %}">Find a Dep</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url "job_list" %}">Find a Job</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>