{% load notification_tags %}
<a href="{% url 'home' %}" class="navbar-brand d-md-none d-block">
    <img src="{{MEDIA_URL}}dept-logo.webp" alt="DepT Logo, Home Link" width="50" height="50" id="logo-home-link">
</a>
<ul class="notification-message-links">
    {% if request.user.is_authenticated %}
    <li>
            {% show_notifications %}
    </li>
    {% else %}
    <li>
        <a href="{% url 'account_login' %}">
            <span><i class="fas fa-sign-in sign-in-icon"></i></span>
        </a>
    </li>
    {% endif %}
</ul>
<a href="{% url 'home' %}" class="navbar-brand d-none d-md-inline">
    <img src="{% static "media/dept-logo.webp" %}" alt="DepT Logo, Home Link" width="50" height="50" id="logo-home-link">
</a>