<a href="{% url 'home' %}" class="navbar-brand">
    <img src="{{MEDIA_URL}}dept-logo.webp" alt="DepT Logo, Home Link" width="50" height="50" id="logo-home-link">
</a>
<ul class="notification-message-links">
    {% if request.user.is_authenticated %}
    <li>
        <a href="{% url 'account_logout' %}">
            <span><i class="far fa-bell sign-in-icon"></i></span>
        </a>
    </li>
    <li>
        <a href="#">
            <span><i class="far fa-envelope sign-in-icon"></i></span>
        </a>
    </li>
    <li>
        <a href="{% url 'account_logout' %}">
            <i class="fas fa-sign-out sign-in-icon"></i>
        </a>
    </li>
    {% else %}
    <li>
        <a href="{% url 'account_login' %}">
            <span><i class="fas fa-sign-in sign-in-icon"></i></span>
        </a>
    </li>
    {% endif %}
</ul>