<div class="container-fluid">
    <div class="row">
        <!-- Profile header with user's name, location, instruments played, reviews and contact button -->
        <div class="col-12 profile-header-container">
            <div id="profile_header_wrapper" class="d-lg-none d-flex" style="background:{% if p == "user_profile" %}
                                                                                            {% if user.profile_image %}
                                                                                                url('{{MEDIA_ROOT}}{{user.profile_image.url}}'); background-size: cover; background-repeat: no-repeat; background-position: center;
                                                                                            {% else %}
                                                                                                linear-gradient(90deg, rgb(255 145 239) 0%, rgba(255, 249, 0, 1) 100%);
                                                                                            {% endif %}
                                                                                            {% elif p == "booking_success" or p == "booking_detail" %}
                                                                                                {% if p == "booking_success" %}
                                                                                                    {% if not tier_type == 2 %}
                                                                                                        {% with event.related_invitation.invite_receiver as invite_receiver %}
                                                                                                            {% if invite_receiver.profile_image %}
                                                                                                                url('{{MEDIA_ROOT}}{{invite_receiver.profile_image.url}}'); background-size: cover; background-repeat: no-repeat; background-position: center;
                                                                                                            {% else %}
                                                                                                                linear-gradient(90deg, rgb(255 145 239) 0%, rgba(255, 249, 0, 1) 100%);
                                                                                                            {% endif %}
                                                                                                        {% endwith %}
                                                                                                    {% else %}
                                                                                                        {% with event.related_job.confirmed_member as confirmed_member %}
                                                                                                            {% if confirmed_member.profile_image %}
                                                                                                                url('{{MEDIA_ROOT}}{{confirmed_member.profile_image.url}}'); background-size: cover; background-repeat: no-repeat; background-position: center;
                                                                                                            {% else %}
                                                                                                                linear-gradient(90deg, rgb(255 145 239) 0%, rgba(255, 249, 0, 1) 100%);
                                                                                                            {% endif %}
                                                                                                        {% endwith %}
                                                                                                    {% endif %}
                                                                                                {% else %}
                                                                                                    {% with booking.related_invitation.invite_sender as invite_sender %}
                                                                                                        {% if invite_sender.profile_image %}
                                                                                                            url('{{MEDIA_ROOT}}{{invite_sender.profile_image.url}}'); background-size: cover; background-repeat: no-repeat; background-position: center;
                                                                                                        {% else %}
                                                                                                            linear-gradient(90deg, rgb(255 145 239) 0%, rgba(255, 249, 0, 1) 100%);
                                                                                                        {% endif %}
                                                                                                    {% endwith %}
                                                                                                {% endif %}
                                                                                            {% endif %}">
                                                                 
                    <div class="page_header" class="ms-lg-2">
                        <div class="opaque_overlay"></div>
                        <!-- Header for Profile Page (Small Screens) -->
                        {% if p == "user_profile" %}
                        <h1 class="position-relative">
                            {% if user.first_name and user.last_name or user.first_name %}
                                {{ user.first_name }} {{ user.last_name }}
                            {% else %}
                                {{ user.user.username }}
                            {% endif %}
                        </h1>
                        <div class="star_icon_container">
                                
                        </div>
                        <p id="instrument_list" class="position-relative">
                        {% if instrument_list|length > 0 %}
                            {% for instrument in instrument_list %}
                                {{ instrument }}{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        {% endif %}
                        </p>
                        {% if user.city or user.city and user.country %}
                            <p class="user_location position-relative">
                                {{ user.city }}, {{user.country.name}}
                            </p>
                        {% endif %}
                        <!-- Header for Booking Success Page (Small Screens) -->
                        {% elif p == "booking_success" or p == "booking_detail" %}
                            {% if p == "booking_success" %}
                                {% if not tier_type == 2 %}
                                    {% with event.related_invitation.invite_receiver as invite_receiver %}
                                        <h1 class="text-center position-relative {% if not invite_receiver.profile_image %}booking_success_fallback_header{% endif %}">
                                            {% if invite_receiver.first_name %}
                                                You have booked {{ invite_receiver.first_name }}
                                            {% else %}
                                                You have booked {{ invite_receiver.user.username }}
                                            {% endif %}
                                        </h1>
                                        <div class="header-btn-wrapper {% if p == "booking_success" %}position-absolute{% endif %}">
                                            <a href="{% url "dashboard" event.related_invitation.invite_sender.slug %}?page=jobs&section=tier_one&subsection=invites_sent&filter={{event.pk}}" class="btn custom_success inset_light_shadow">Message {% if invite_receiver.first_name %}{{invite_receiver.first_name}}{% else %}{{ invite_receiver.user.username }}{% endif %}</a>
                                        </div>
                                        {% if not invite_receiver.profile_image %}
                                            <div id="dept_logo_fallback_container">
                                                <figure id="dept_logo_wrapper_sm" class="position-relative">
                                                    {% include 'includes/dept-logo.html' %}
                                                </figure>
                                            </div>
                                        {% endif %}
                                    {% endwith %}
                                {% elif tier_type == 2 %}
                                    {% with event.related_job.confirmed_member as confirmed_member %}
                                        <h1 class="text-center {% if not confirmed_member.profile_image %}booking_success_fallback_header{% endif %}">
                                            {% if confirmed_member.first_name %}
                                                You have booked {{ confirmed_member.first_name }}
                                            {% else %}
                                                You have booked {{ confirmed_member.user.username }}
                                            {% endif %}
                                        </h1>
                                        {% if not confirmed_member.profile_image %}
                                            <div id="dept_logo_fallback_container">
                                                <figure id="dept_logo_wrapper_sm">
                                                    {% include 'includes/dept-logo.html' %}
                                                </figure>
                                            </div>
                                        {% endif %}
                                    {% endwith %}
                                {% endif %}
                            {% else %}
                                {% with booking.related_invitation.invite_sender as invite_sender %}
                                    <h1  class="ms-2 large_text position-relative {% if not invite_sender.profile_image %}booking_success_fallback_header{% endif %}">
                                       Good News!
                                    </h1>
                                    <p class="primary_font med_text position-relative white_font w-75 ms-2">
                                        {% if invite_sender.first_name %}
                                            {{ invite_sender.first_name }} has booked you to play {{ booking.related_invitation.event_name }}
                                        {% else %}
                                            You have been booked to play {{ booking.related_invitation.event_name }} by {{ invite_sender.user.username }}
                                        {% endif %}
                                    </p>
                                {% endwith %}
                                    {% if not booking.related_invitation.invite_sender.profile_image %}
                                    <div id="dept_logo_fallback_container">
                                        <figure id="dept_logo_wrapper_sm" class="position-relative">
                                            {% include 'includes/dept-logo.html' %}
                                        </figure>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if p == "user_profile" %}
                <div class="header-btn-wrapper centered w-100 pt-2 pb-2 d-lg-none d-sm-flex">
                    {% if request.user.is_authenticated %}
                        {% if not request.user.username == user.user.username %}</button>
                            {% if current_user.subscription_chosen %}
                            <button class="btn custom_success inset_light_shadow me-2" data-bs-toggle="modal" data-bs-target="#invitation_modal">Contact  {% if user.first_name %}{{ user.first_name }}{% else %}{{user.user.username}}{% endif %}</button>
                            {% else %}
                            <button class="btn custom_success inset_light_shadow me-2" data-bs-toggle="modal" data-bs-target="#tier_one_alert_modal">Contact  {% if user.first_name %}{{ user.first_name }}{% else %}{{user.user.username}}{% endif %}</button>
                            {% endif %}
                            <button class="btn custom_success inset_light_shadow ms-2" data-bs-toggle="modal" data-bs-target="#review_modal">Leave a Review</button>
                        {% else %}
                            <a href="{% url "edit_profile" %}" class="btn custom_success secondary_font white_font inset_light_shadow me-2">Edit My Profile</a>
                            <button type="button" class="btn alert_bg secondary_font white_font inset_light_shadow confirm_profile_delete_btn ms-2"
                            data-bs-toggle="modal"
                            data-bs-target="#delete_profile_modal"
                            data-profile-id="{{ user.pk }}">Delete my Profile</button>
                        {% endif %}
                    {% else %}
                        <a href="{% url "account_login" %}?next={{request.path}}" class="btn custom_success secondary_font white_font inset_light_shadow">Contact {% if user.first_name %}{{ user.first_name }}{% else %}{{user.user.username}}{% endif %}</a>
                    {% endif %}
                </div>
                <hr class="block-divider">
            {% endif %}
            <div id="profile_header_wrapper_lg" class="d-none d-lg-block">
                <div id="profile_header_lg" class="ms-5">
                    <!-- Profile Header for Profile Page (Large Screens) -->
                    {% if p == "user_profile" %}
                    <h1>
                        {% if user.first_name and user.last_name or user.first_name %}
                            {{ user.first_name }} {{ user.last_name }}
                        {% else %}
                            {{ user.user.username }}
                        {% endif %}
                    </h1>
                    <div class="star_icon_container"></div>
                    {% if instrument_list|length > 0 %}
                    <p class="user_instruments_lg">
                            <!-- User's instruments for loop, joined with comma -->
                            {% for instrument in instrument_list %}
                                {{instrument}}{% if not forloop.last %},{% endif %}
                            {% endfor %}
                            </p>
                    {% endif %}
                    {% if user.city or user.city and user.country %}
                        <p class="user_location">
                            {{user.city}}, {{user.country.name}}
                        </p>
                    {% endif %}
                    <div class="btn_wrapper_lg">
                        {% if request.user.is_authenticated %}
                            {% if not request.user.username == user.user.username %}
                                {% if current_user.subscription_chosen %}
                                    <button type="button" class="btn btn_lg light_bg secondary_font inset_light_shadow general_profile_cta" data-bs-toggle="modal" data-bs-target="#invitation_modal">Contact {% if user.first_name %}{{user.first_name}}{% else %}{{ user.user.username }}{% endif %}</button>
                                    <button type="button" class="btn btn_lg light_bg secondary_font inset_light_shadow general_profile_cta" data-bs-toggle="modal" data-bs-target="#review_modal">Leave a Review</button>
                                {% else %}
                                    <button type="button" class="btn btn_lg light_bg secondary_font inset_light_shadow general_profile_cta" data-bs-toggle="modal" data-bs-target="#tier_one_alert_modal">Contact {% if user.first_name %}{{user.first_name}}{% else %}{{ user.user.username }}{% endif %}</button>
                                    <button type="button" class="btn btn_lg light_bg secondary_font inset_light_shadow general_profile_cta" data-bs-toggle="modal" data-bs-target="#tier_one_alert_modal">Leave a Review</button>
                                {% endif %}
                            {% else %}
                                <a href="{% url "edit_profile" %}" class="btn light_bg btn_lg edit_profile_btn inset_light_shadow">Edit My Profile</a>
                                <button type="button"
                                class="btn btn_lg light_bg secondary_font inset_light_shadow confirm_profile_delete_btn"
                                data-bs-toggle="modal"
                                data-bs-target="#delete_profile_modal"
                                data-profile-id="{{ user.pk }}">Delete my Profile</button>
                            {% endif %}
                        {% else %}
                                <a href="{% url "account_login" %}?next={{request.path}}" class="btn_lg light_bg">Contact {% if user.first_name %}{{user.first_name}}{% else %}{{ user.user.username }}{% endif %}</a>
                                <a href="{% url "account_login" %}?next={{request.path}}" class="btn_lg light_bg">Leave a Review</a>
                        {% endif%}
                    </div>
                </div>
                <!-- Booking Party's Username for Booking Success Page (Large Screens) -->
                {% elif p == "booking_success" or p  == "booking_detail" %}
                    {% if not tier_type == 2 %}
                        {% with event.related_invitation.invite_receiver as invite_receiver %}
                            {% if p == "booking_success" %}
                                <h1>
                                    {% if invite_receiver.first_name %}
                                        You have booked {{ invite_receiver.first_name }}
                                    {% else %}
                                        You have booked {{ invite_receiver.user.username }}
                                    {% endif %}
                                </h1>
                                <div class="btn_wrapper_lg">
                                    <a href="{% url "dashboard" event.related_invitation.invite_sender.slug %}?page=jobs&section=tier_one&subsection=invites_sent&filter={{event.pk}}" class="btn btn_lg cta-btn-light">Message {% if invite_receiver.first_name %}{{invite_receiver.first_name}}{% else %}{{ invite_receiver.user.username }}{% endif %}</a>
                                </div>
                            {% endif %}
                        {% endwith %}
                    {% else %}
                        {% with event.related_job.confirmed_member as confirmed_member %}
                            {% if p == "booking_success" %}
                                <h1>
                                    {% if confirmed_member.first_name %}
                                        You have booked {{ confirmed_member.first_name }}
                                    {% else %}
                                        You have booked {{ confirmed_member.user.username }}
                                    {% endif %}
                                </h1>
                            {% endif %}
                        {% endwith %}  
                    {% endif %}          
                        {% if p == "booking_detail" %}
                            <h1>Good News!</h1>
                            {% with booking.related_invitation.invite_sender as invite_sender %}
                                <p class="primary_font white_font large_text w-75">
                                    {% if invite_sender.first_name %}
                                        {{ invite_sender.first_name }} has booked you to play {{ booking.related_invitation.event_name }}.
                                    {% else %}
                                        You have been booked by  {{ invite_sender.user.username }}
                                    {% endif %}
                                </p>
                            {% endwith %}
                    {% endif %}
                {% endif %}
                {% if p == "user_profile" %}
                <div id="profile_image_container_lg" class="no_profile_image_fallback_bg">
                    {% if user.profile_image %}
                        <figure>
                            <img src="{{user.profile_image.url}}" alt="{{user.username}}" id="profile_image_lg">
                        </figure>
                    {% else %}
                        <figure class="dept_logo_wrapper_lg">
                            {% include "includes/dept-logo.html" %}
                        </figure>
                    {% endif %}
                </div>
                {% elif p == "booking_success" or p == "booking_detail" %}
                    {% if p == "booking_success" %}
                        {% if not tier_type == 2 %}
                            {% with event.related_invitation.invite_receiver as invite_receiver %}
                                <div id="profile_image_container_lg" class="no_profile_image_fallback_bg">
                                    {% if invite_receiver.profile_image %}
                                        <figure>
                                            <img src="{{invite_receiver.profile_image.url}}" alt="{{ invite_receiver.user.username }}" id="profile_image_lg">
                                        </figure>
                                    {% else %}
                                        <figure class="dept_logo_wrapper_lg">
                                            {% include "includes/dept-logo.html" %}
                                        </figure>
                                    {% endif %}
                                </div>
                            {% endwith %}
                        {% else %}
                            {% with event.related_job.confirmed_member as confirmed_member %}
                                <div id="profile_image_container_lg" class="no_profile_image_fallback_bg">
                                    {% if confirmed_member.profile_image %}
                                        <figure>
                                            <img src="{{confirmed_member.profile_image.url}}" alt="{{ confirmed_member.user.username }}" id="profile_image_lg">
                                        </figure>
                                    {% else %}
                                        <figure class="dept_logo_wrapper_lg">
                                            {% include "includes/dept-logo.html" %}
                                        </figure>
                                    {% endif %}
                                </div>
                            {% endwith %}
                        {% endif %}
                    {% else %}
                        {% with booking.related_invitation.invite_sender as invite_sender %}
                            <div id="profile_image_container_lg" class="no_profile_image_fallback_bg">
                                {% if invite_sender.profile_image %}
                                    <figure>
                                        <img src="{{invite_sender.profile_image.url}}" alt="{{ invite_sender.user.username }}" id="profile_image_lg">
                                    </figure>
                                {% else %}
                                    <figure class="dept_logo_wrapper_lg">
                                        {% include "includes/dept-logo.html" %}
                                    </figure>
                                {% endif %}
                            </div>
                        {% endwith %}    
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>