<div class="star_icons">
    <span>
        <i class="rating_star rating_star_review_modal far fa-star"></i>
        <i class="rating_star rating_star_review_modal far fa-star"></i>
        <i class="rating_star rating_star_review_modal far fa-star"></i>
        <i class="rating_star rating_star_review_modal far fa-star"></i>
        <i class="rating_star rating_star_review_modal far fa-star"></i>
    </span>
    <span class="rating_display primary_font med_small_text light_font">
        
    </span>
</div>