.subscription-choice-container {
    height: 85vh;
    padding-top: 85px;
}

#subscription-background {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: #1a2342;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 3;
}

.subscription-choice-card {
   -webkit-box-shadow: 2px 7px 20px 2px rgba(0, 0, 0, 0.31);
   box-shadow: 2px 7px 20px 2px rgba(0, 0, 0, 0.31);
   padding: 2rem 1rem;
   border-radius: 20px;
   background-color: #fff;
   position: relative;
   z-index: 10;
   transition: 0.2s ease-in-out;

}

.subscription-choice-card:hover {
    transform: scale(1.03);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.benefits-list {
    list-style: none;
    font-family: "Oxygen", sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
    margin-left: 5px;
}

.benefits-list li {
    margin: 0.3rem 0;
}

.check-icon {
    color: #27942c
}

.price-font-large {
    font-size: 3rem;
}

.per-month {
    color: #929090;
}

.subscription-header {
    font-family: "Josefin Sans", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    
}

.subscription-price {
    font-family: "Oxygen", sans-serif;
    border: 1px solid #ccc;
    margin: 0 auto;
    padding: 0.3rem 1.75rem;
    width: fit-content;
    border-radius: 3px;

}