#finalized_booking_header {
    display: flex;
    justify-content: space-between;
}

#profile_image {
    object-fit: cover;
}

#profile_header h1.booking_success_fallback_header {
    color: #111;
}

#dept_logo_wrapper_sm {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

#dept_logo_wrapper_sm img {
    width: 100px;
    height: 100px;
}

#booking_id {
    word-break: break-word;
    font-size: 1.25rem;
    padding: 0 2rem;
}

#finalized_booking_container {
    background-color: #3e2f63;
    color: #fefefe;
    margin: 1.5rem 0;
    border-radius: 20px;
    box-shadow: 0 10px 20px 2px rgba(0, 0, 0, 0.5);
}

#finalized_booking_wrapper {
    position: relative;
}





@media screen and (min-width: 768px){
    #booking_id_wrapper_hr {
        margin: 0;
    }
}

@media screen and (min-width: 992px) {
    #vertical_line {
        position: absolute;
        height: 100%;
        width: 5px;
        background-color: #71627a;
        right: 50%;
    }
}

@media screen and (min-width: 1920px) {

}