#booking_details_header_wrapper {
    background-color: #1b1b1b;
    color: #fefefe;
    padding: 1rem 0;
}

#booking_details_header {
    padding: 1rem 0;
    text-align: center;
}



#pdf_btn {
    box-shadow: inset 0px 1px 11px 0px rgba(255, 255, 255, 0.3);
}

.download_btn {
    margin: .5rem 0;
    box-shadow: inset 0px 1px 11px 0px rgba(255, 255, 255, 0.3);
}



@media screen and (min-width: 768px) {
    #booking_details_header_wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #booking_details_header {
        text-align: left;
    }

    #booking_resources_container {
        border-right: 5px solid #ccc;
        background-color: #e6e6e6;
    }

    #booking_resources_header {
        margin-top: 1.5rem;
    }

    #audiofile_wrapper {
        margin-top: 1.5rem;
    }

    #pdf_btn {
        height: fit-content;
    }

    .download_btn {
        display: block;
    }
}

@media screen and (min-width: 992px) {
    #pdf_btn:hover,
    .download_btn:hover {
        color: #111;
        background-color: #21a05e;
    }
    
}