.audio_form_btn {
    margin-bottom: 1rem;
}

.dynamic-header p.header_event_name,
.dynamic-prompt-lead p.header_event_name {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.75rem;
}


.form-check-label {
    font-family: "Open Sans", sans-serif;
}


.submit_btn_container {
    display: flex;
    justify-content: center;
}

.submit-btn {
    width: 50%;
}

@media screen and (min-width: 768px) {
    .header_event_name {
        font-family: "Josefin Sans", sans-serif;
    }
}

@media screen and (min-width: 992px) {
    .submit-btn {
        width: 25%;
    }
}