{% extends "account/base.html" %}

{% load i18n %}

{% block title %}Signing Out{% endblock %}

<!-- Meta Tags -->
 {% block extra_meta %}
    <meta name="description" content="DepT, Sign out of the Platform">
    <meta name="keywords" content="Deputise, sign out, log out, member">
    <meta name="author" content="Oliver Cadman">
{% endblock %}

{% block content %}
<section class="auth-section linear_bg">
  <div class="opaque_overlay"></div>
  <div class="container auth-container">
    <div class="row">
      <div class="col-12 col-lg-8 mt-4">
        <h1 class="auth-header white_font primary_font header_shadow">{% trans "Signing Out." %}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-8 mt-4">
        <p class="secondary_font white_font position-relative med_small_text">{% trans 'We hope you enjoyed your stay.' %}</p>
        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <div class="auth-btn-wrapper">
            <button type="submit" class="btn auth-btn narrow">{% trans 'Sign Out' %}</button>
          </div>
        </form>
      </div>
      <div class="col-12 col-lg-4">
        <div class="float-end mt-5">
          <figure>
              <img src="{{MEDIA_URL}}dept-logo.webp" alt="DepT Logo" width="200" height="200" class="dept-logo-lg position-relative">
          </figure>

        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
