{% extends "account/base.html" %}

{% load i18n %}
{% block title %}Change your Password{% endblock %}

{% block inner_content %}
<section class="auth-section linear_bg">
    <div class="opaque_overlay"></div>
    <div class="container-fluid auth-container">
        <h1 class="auth-header primary_font header_shadow white_font position-relative ">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Your Password." %}{% endif %}</h1>
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8">
                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p class="position-relative secondary_font white_font">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                {% else %}
                <div class="form-container position-relative">
                    <form method="POST" action="{{ action_url }}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input class="btn btn_lg primary_bg secondary_font white_font" type="submit" name="action" value="{% trans 'Change Password' %}"/>
                    </form>
                </div>
                {% endif %}
            </div>
            <div class="col-12 col-lg-4">
                    <div class="float-end mt-5">
                    <figure>
                        <img src="{{MEDIA_URL}}dept-logo.webp" alt="DepT Logo" width="200" height="200" class="dept-logo-lg position-relative me-4">
                    </figure>
                </div>
        </div>
    </div>
</section>

{% endblock %}
