{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}
    <section class="auth-section linear_bg">
        <div class="container-fluid">
            <h1 class="auth-header primary_font white_font header_shadow position-relative">{% trans "Set Password" %}</h1>
            <div class="row d-flex justify-content-md-center">
                <div class="col-12 col-md-8">
                    <div class="form-container">
                        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
                        </form>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="float-end mt-5">
                    <figure>
                        <img src="{{MEDIA_URL}}dept-logo.webp" alt="DepT Logo" width="200" height="200" class="dept-logo-lg position-relative me-4">
                    </figure>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
