{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}Check your Inbox{% endblock %}

{% block inner_content %}
    <section class="auth-section linear_bg">
        <div class="opaque_overlay"></div>
        <div class="container-fluid auth-container">
            <h1 class="auth-header primary_font white_font header_shadow position-relative">{% trans "Check your Inbox." %}</h1>
            <div class="row d-flex justify-content-center mt-4 offset-xl-1">
                <div class="col-12 col-md-8">
                    {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
                    
                    <p class="secondary_font white_font position-relative med_small_text">{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="float-end mt-5">
                    <figure>
                        <img src="{{MEDIA_URL}}dept-logo.webp" alt="DepT Logo" width="200" height="200" class="dept-logo-lg position-relative me-4">
                    </figure>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}
