{% extends "account/base.html" %}
{% load i18n %}

<!-- Load Crispy Forms Tags and Social Account Tags -->
{% load crispy_forms_tags %}
{% load socialaccount %}

<!-- Meta Tags -->
 {% block extra_meta %}
    <meta name="description" content="DepT, Register to the Platform">
    <meta name="keywords" content="Deputise, register, sign up, member">
    <meta name="author" content="Oliver Cadman">
{% endblock %}

{% block title %}Sign Up{% endblock %}

{% block inner_content %}
<section class="auth-section auth-bg-lg">
  <div class="container-fluid auth-container">
    <div class="row">
      <div class="col-12 auth-header-wrapper">
        <h1 class="auth-header signup primary_font mt-4 ms-lg-4 text-uppercase d-none d-lg-block">{% trans "Sign up " %}</h1>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-8 col-lg-5 ms-lg-5">
        <h1 class="auth-header mt-4 ms-lg-4 primary_font white_font text-uppercase d-block d-lg-none">{% trans "Sign up " %}</h1>
        <div class="auth-form-wrapper">
          <form class="signup auth-form" id="signup_form" method="post" action="{% url 'account_signup' %}">
              {% csrf_token %}
              {% for field in form %}
                  {{ field|as_crispy_field }}
              {% endfor %}
              {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <div class="auth-button-wrapper">
                <button type="submit" class="btn auth-btn">{% trans "Sign Up with Email" %} &raquo;</button>
              </div>
              <p class="secondary_font">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
