<!-- 404, Page not Found -->

{% extends "base.html" %}

<!-- Title -->
{% block title %}404{% endblock %}

<!-- Meta Tags -->
 {% block extra_meta %}
    <meta name="description" content="DepT, 404. Page not found">
    <meta name="keywords" content="Deputise, error, page, not, found, 404, return, home">
    <meta name="author" content="Oliver Cadman">
{% endblock %}


{% block content %}

<!-- 404 Header, Message and CTA for Mobile/Tablet Devices -->
<section class="errorpage_section_sm d-lg-none d-block">
    <div class="container-fluid errorpage_container_sm">
        <div class="row">
            <div class="col-12 centered_column">
                <img src="{{MEDIA_URL}}dept-logo.webp" alt="DepT Logo" height="50" width="50" class="logo_errorpage">
                <div class="errorpage_msg_display mt-5">
                    <h1 class="primary_font xl_text text-center">404 Error</h1>
                    <p class="primary_font light_weight text-center med_text">Looks like we've hit a bum note.</p>
                    <a href="{% url "home" %}" class="btn cta-btn-dark white_font secondary_font p-3 w-100 med_text">Take me Home</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 404 Header, Message and CTA for Laptop devices and larger -->
<section class="errorpage_section_lg d-none d-lg-block">
    <div class="container-fluid errorpage_container">
        <div class="row">
            <div class="col-12 ps-5">
                <div class="errorpage_msg_display">
                    <h1 class="primary_font white_font xl_text">404 Error</h1>
                    <p class="primary_font light_weight white_font large_text">Looks like we've hit a bum note.</p>
                    <a href="{% url "home" %}" class="btn cta-btn-light secondary_font p-3 w-100 med_text">Take me Home</a>
                </div>
                <div class="error-hero-bg d-none d-lg-block">
                    <img src="{{MEDIA_URL}}dept-logo.webp" alt="DepT Logo" height="100" width="100" class="logo_errorpage">
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}