{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Core CSS Files -->
    {% block core_css %}
    <!-- Bootstrap CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Toastify CSS  -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/toastify.css' %}">
    <!-- FontAwesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static "css/base.css"%}">
    <!-- Toastify JS CDN -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    {% endblock %}
    <!-- Extra CSS Files -->
    {% block extra_css %}
    {% endblock %}
    <!-- Core JS -->
    {% block corejs %}
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-md bg-sm-light">
        <div class="container-fluid">
            <!-- Notification/Message/Signin Links for Mobile -->
            <div class="d-md-none d-block">
                {% include "includes/notification-message-links.html" %}
            </div>
            
            <button class="navbar-toggler"
            data-bs-toggle="collapse"
            data-bs-target="#main-nav"
            aria-controls="mobileNavigation"
            aria-expanded="False"
            aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="fas fa-bars navbar-mobile-toggler"></i>
                </span>
            </button>
            {% include "includes/navigation.html" %}
            <!-- Notification/Message/Signin Links for iPad/Laptop/Desktop -->
            {% comment %} <a href="#" class="navbar-brand d-none d-md-block">Dept</a> {% endcomment %}
        <div class="d-none d-md-block">
            {% include "includes/notification-message-links.html" %}
        </div>
    </nav>
    <!-- Website Content -->
    {% block content %}
    {% endblock %}
    <!-- Footer -->
    <footer class="base-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 about-dept-wrapper">
                    <div class="about-dept text-center">
                        <p>Dept is an online networking and gig marketplace, where the world's top musicians can easily dep out their gigs, increase their revenue through their art, and build communities.</p>
                        <a href="mailto:o.cadman@live.co.uk">hello@dept.com</a>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 footer-links-wrapper">
                    <ul class="footer-links">
                        {% if not request.user.is_authenticated %}
                        <li>
                            <a href="{% url 'account_login' %}">Sign In</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% url 'account_logout' %}">Sign Out</a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="#">F.A.Q</a>
                        </li>
                        <li>
                            <a href="#">Privacy</a>
                        </li>
                    </ul>
                    <ul class="footer-links d-lg-none d-none d-md-block">
                        {% include 'includes/footer-social-links.html' %}
                    </ul>
                </div>
                <div class="col-lg-4 d-none d-lg-block">
                    <ul class="footer-links">
                        {% include 'includes/footer-social-links.html' %}
                    </ul>
                </div>
                <div class="col-12 d-lg-none d-md-none d-sm-block footer-links-wrapper">
                    <ul class="footer-links">
                        {% include 'includes/footer-social-links.html' %}
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    {% if messages %}
 
    {% endif %}
    <!-- Custom JavaScript -->
    {% block postload_js %}
    <script src="{% static 'js/toastify.js' %}"></script>
    {% endblock %}
    <!-- Show messages in toasts, with levels pertaining to warning, info, success and alert -->
       <div class="message-container">
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    <script>
                        let message = "{{message}}"
                        displayToast(message)
                    </script>
                {% elif level == 30 %}
                    <script>
                        let message = "{{message}}"
                        displayToast(message)
                    </script>
                {% elif level == 25 %}
                    <script>
                        let message = "{{message }}"
                        displayToast(message)
                    </script>
                {% else %}
                    <script>
                        let message = "{{ message }}"
                        displayToast(message)
                    </script>
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
</body>
</html>