<!-- Template to serve notifications provided by inclusion tag -->
{% load static %}
<div class="dropdown notification_dropdown_container">
    {% if notifications.count > 0 %}
    <button class="btn position-relative" data-bs-toggle="dropdown" data-bs-target=".notification_dropdown" data-bs-auto-close="outside" name="notification_button" aria-expanded="false" class="notification_btn">
        <i class="fas fa-bell notification_icon"></i>
            <span class="badge bg-danger position-absolute start-75 top-0 translate-middle rounded-pill notification_count_icon">{{ notifications.count }}</span>
    </button>
    {% else %}
    <i class="far fa-bell notification_icon"></i>
    {% endif %}
    <ul class="dropdown-menu notification_dropdown animate__animated animate__fadeInDown">
        {% for notification in notifications %}
            {% if notification.related_invitation %}
                <!-- Received Invitation -->
                {% if notification.notification_type == 1 %}
                    <li class="dropdown-item {% if not notification.is_read %}unread{% endif %}">
                        <span class="remove_notification" onclick="removeNotification(`{% url "remove_notification" notification.pk %}`,`{{ request.path }}` )">&times;</span>
                        <a href="{% url "invite_received_notification" notification.id notification.related_invitation.id %}"
                        class="notification">
                            {% with notification.notification_sender as notification_sender %}
                                <div class="notification_content">
                                    <div class="notification_img">
                                        {% if notification_sender.profile_image %}
                                            <img src="{{MEDIA_URL}}{{ notification_sender.profile_image.url }}"
                                            alt="{{ notification_sender }}"
                                            width="40"
                                            height="40"
                                            class="notification_profile_img">
                                        {% else %}
                                            <img src="{% get_media_prefix %}dept-logo.webp" alt="DepT Logo" width="40" height="40">
                                        {% endif %}   
                                    </div>
                                    <div class="notification_text">
                                        <p>
                                        {% if notification_sender.first_name %}
                                            <strong>{{ notification_sender.first_name }}</strong> has sent you an invitation to dep <strong>{{ notification.related_invitation.event_name }}</strong>.
                                        {% else %}
                                            <strong>{{ notification_sender.user.username }}</strong> has sent you an invitation to dep <strong>{{ notification.related_invitation.event_name }}</strong>.
                                        {% endif %}
                                    </p>
                                    </div>

                                </div>
                            {% endwith %}
                        </a>
                    </li>
                <!-- Accepted Invitation -->
                {% elif notification.notification_type == 2 %}
                    <li class="dropdown-item {% if not notification.is_read %}unread{% endif %}">
                        <span class="remove_notification" onclick="removeNotification(`{% url "remove_notification" notification.pk %}`,`{{ request.path }}` )">&times;</span>
                        <a href="{% url "invite_accepted_notification" notification.pk notification.related_invitation.pk %}" class="notification" class="notification">
                            {% with notification.notification_sender as notification_sender %}
                                <div class="notification_content">
                                    <div class="notification_img">
                                        {% if notification_sender.profile_image %}
                                            <img src="{{ notification_sender.profile_image.url }}"
                                            alt="{{ notification_sender }}"
                                            class="notification_profile_img"
                                            width="40"
                                            height="40">
                                        {% else %}
                                            <img src="{% get_media_prefix %}dept-logo.webp" alt="DepT Logo" width="40" height="40">
                                        {% endif %}   
                                    </div>
                                    <div class="notification_text">
                                        <p>
                                        {% if notification_sender.first_name %}
                                            <strong>{{ notification_sender.first_name }}</strong>  has accepted your invite to play <strong>{{ notification.related_invitation.event_name }}</strong>!
                                        {% else %}
                                            {{ notification_sender.user.username }} has accepted your invite to play <strong>{{ notification.related_invitation.event_name }}</strong>!
                                        {% endif %}
                                    </p>
                                    </div>
                                </div>
                            {% endwith %}
                        </a>
                    </li>
               
                <!-- Received Message -->
                {% elif notification.notification_type == 5 %}
                    <li class="dropdown-item {% if not notification.is_read %}unread{% endif %}">
                        <span class="remove_notification" onclick="removeNotification(`{% url "remove_notification" notification.pk %}`,`{{ request.path }}` )">&times;</span>
                        <a href="{% url "dashboard" notification.notification_receiver.slug %}?page=jobs&section=tier_one&subsection={% if notification.notification_sender == notification.related_invitation.invite_receiver %}invites_sent{% else %}invites_received{% endif %}&filter={{ notification.related_invitation.pk }}" class="notification">
                            {% with notification.notification_sender as notification_sender %}
                                <div class="notification_content">
                                    <div class="notification_img">
                                        {% if notification_sender.profile_image %}
                                            <img src="{{MEDIA_URL}}{{ notification_sender.profile_image.url }}"
                                            alt="{{ notification_sender }}"
                                            class="notification_profile_img"
                                            width="40"
                                            height="40">
                                        {% else %}
                                            <img src="{% get_media_prefix %}dept-logo.webp" alt="DepT Logo" width="40" height="40">
                                        {% endif %}   
                                    </div>
                                    <div class="notification_text">
                                        <p>
                                        {% if notification_sender.first_name %}
                                            <strong>{{ notification_sender.first_name }}</strong> has sent you a message about <strong>{{ notification.related_invitation.event_name }}</strong>.
                                        {% else %}
                                            {{ notification_sender.user.username }} has sent you a message about <strong>{{ notification.related_invitation.event_name }}</strong>.
                                        {% endif %}
                                    </p>
                                    </div>
                                </div>
                            {% endwith %}
                        </a>
                    </li>
                {% endif %}
            {% elif notification.notification_type == 3 %}
                    <li class="dropdown-item {% if not notification.is_read %}unread{% endif %}">
                        <span class="remove_notification" onclick="removeNotification(`{% url "remove_notification" notification.pk %}`,`{{ request.path }}` )">&times;</span>
                        <a href="#" class="notification" class="notification">
                            {% with notification.notification_sender as notification_sender %}
                                <div class="notification_content">
                                    <div class="notification_img">
                                        {% if notification_sender.profile_image %}
                                            <img src="{{MEDIA_URL}}{{ notification_sender.profile_image.url }}"
                                            alt="{{ notification_sender.user.username }}"
                                            class="notification_profile_img"
                                            width="40"
                                            height="40">
                                        {% else %}
                                            <img src="{% get_media_prefix %}dept-logo.webp" alt="DepT Logo" width="40" height="40">
                                        {% endif %}   
                                    </div>
                                    <div class="notification_text">
                                        <p>
                                        {% if notification_sender.first_name %}
                                            <strong>{{ notification_sender.first_name }}</strong>  has declined your invite to play <strong>{{ notification.declined_invitation }}</strong>.
                                        {% else %}
                                            {{ notification.user.username }} has declined your invite to play <strong>{{ notification.declined_invitation }}</strong>.
                                        {% endif %}
                                    </p>
                                    </div>
                                </div>
                            {% endwith %}
                        </a>
                    </li>
                {% elif notification.notification_type == 7 %}
                    <li class="dropdown-item {% if not notification.is_read %}unread{% endif %}">
                        <span class="remove_notification" onclick="removeNotification(`{% url "remove_notification" notification.pk %}`,`{{ request.path }}` )">&times;</span>
                        <a href="{% url "dashboard" notification.notification_receiver.slug %}?page=jobs&section=tier_one&subsection={% if notification.notification_sender == notification.related_invitation.invite_receiver %}invites_sent{% else %}invites_received{% endif %}&filter={{ notification.related_invitation.pk }}" class="notification">
                            {% with notification.notification_sender as notification_sender %}
                                <div class="notification_content">
                                    <div class="notification_img">
                                        {% if notification_sender.profile_image %}
                                            <img src="{{MEDIA_URL}}{{ notification_sender.profile_image.url }}"
                                            alt="{{ notification_sender }}"
                                            class="notification_profile_img"
                                            width="40"
                                            height="40">
                                        {% else %}
                                            <img src="{% get_media_prefix %}dept-logo.webp" alt="DepT Logo" width="40" height="40">
                                        {% endif %}   
                                    </div>
                                    <div class="notification_text">
                                        <p>
                                        {% if notification_sender.first_name %}
                                            <strong>{{ notification_sender.first_name }}</strong> has deleted their invitation to <strong>{{ notification.declined_invitation }}</strong>.
                                        {% else %}
                                            {{ notification_sender.user.username }} has deleted their invitation to <strong>{{ notification.declined_invitation }}</strong>.
                                        {% endif %}
                                    </p>
                                    </div>
                                </div>
                            {% endwith %}
                        </a>
                    </li>
            {% elif notification.related_booking %}
               <!-- Booking Details Sent -->
               {% if notification.notification_type == 4 %}
                       <li class="dropdown-item {% if not notification.is_read %}unread{% endif %}">
                        <span class="remove_notification" onclick="removeNotification(`{% url "remove_notification" notification.pk %}`,`{{ request.path }}` )">&times;</span>
                        <a href="{% url "booking_details_sent_notification" notification.pk notification.related_booking.pk %}" class="notification" class="notification">
                            {% with notification.notification_sender as notification_sender %}
                                <div class="notification_content">
                                    <div class="notification_img">
                                        {% if notification_sender.profile_image %}
                                            <img src="{{MEDIA_URL}}{{ notification_sender.profile_image.url }}"
                                            alt="{{ notification_sender.user.username }}"
                                            class="notification_profile_img"
                                            width="40"
                                            height="40">
                                        {% else %}
                                            <img src="{% get_media_prefix %}dept-logo.webp" alt="DepT Logo" width="40" height="40">
                                        {% endif %}   
                                    </div>
                                    <div class="notification_text">
                                        <p>
                                        {% if notification_sender.first_name %}
                                            <strong>{{ notification_sender.first_name }}</strong>  has sent you booking details for <strong>{{ notification.related_booking.related_invitation.event_name }}</strong>.
                                        {% else %}
                                            {{ notification_sender.user.username }} has declined your invite to play <strong>{{ notification.related_booking.related_invitation.event_name }}</strong>.
                                        {% endif %}
                                    </p>
                                    </div>
                                </div>
                            {% endwith %}
                        </a>
                    </li>
               {% endif %}
            {% elif notification.related_job %}
                {% if notification.notification_type == 1 %}
                    <li class="dropdown-item {% if not notification.is_read %}unread{% endif %}">
                        <span class="remove_notification" onclick="removeNotification(`{% url "remove_notification" notification.pk %}`,`{{ request.path }}` )">&times;</span>
                        <a href="{% url "dashboard" notification.notification_receiver.slug %}?page=jobs&section=tier_two&subsection={% if notification.notification_sender == notification.related_job.job_poster %}offers_sent{% else %}posted_jobs{% endif %}&filter={{ notification.related_job.pk }}" class="notification">
                            {% with notification.notification_sender as notification_sender %}
                                <div class="notification_content">
                                    <div class="notification_img">
                                        {% if notification_sender.profile_image %}
                                            <img src="{{MEDIA_URL}}{{ notification_sender.profile_image.url }}"
                                            alt="{{ notification_sender }}"
                                            class="notification_profile_img"
                                            width="40"
                                            height="40">
                                        {% else %}
                                            <img src="{% get_media_prefix %}dept-logo.webp" alt="DepT Logo" width="40" height="40">
                                        {% endif %}   
                                    </div>
                                    <div class="notification_text">
                                        <p>
                                        {% if notification_sender.first_name %}
                                            <strong>{{ notification_sender.first_name }}</strong> has made an offer for your job: <strong>{{ notification.related_job.job_title }}</strong>.
                                        {% else %}
                                            {{ notification_sender.user.username }} has made an offer for your job: <strong>{{ notification.related_job.job_title }}</strong>.
                                        {% endif %}
                                    </p>
                                    </div>
                                </div>
                            {% endwith %}
                        </a>
                    </li>
                {% elif notification.notification_type == 5 %}
                    <li class="dropdown-item {% if not notification.is_read %}unread{% endif %}">
                        <span class="remove_notification" onclick="removeNotification(`{% url "remove_notification" notification.pk %}`,`{{ request.path }}` )">&times;</span>
                        <a href="{% url "dashboard" notification.notification_receiver.slug %}?page=jobs&section=tier_two&subsection={% if notification.notification_sender == notification.related_job.job_poster %}offers_sent{% else %}posted_jobs{% endif %}&filter={{ notification.related_job.pk }}" class="notification">
                            {% with notification.notification_sender as notification_sender %}
                                <div class="notification_content">
                                    <div class="notification_img">
                                        {% if notification_sender.profile_image %}
                                            <img src="{{MEDIA_URL}}{{ notification_sender.profile_image.url }}"
                                            alt="{{ notification_sender }}"
                                            class="notification_profile_img"
                                            width="40"
                                            height="40">
                                        {% else %}
                                            <img src="{% get_media_prefix %}dept-logo.webp" alt="DepT Logo" width="40" height="40">
                                        {% endif %}   
                                    </div>
                                    <div class="notification_text">
                                        <p>
                                        {% if notification_sender.first_name %}
                                            <strong>{{ notification_sender.first_name }}</strong> has sent you a message about <strong>{{ notification.related_job.job_title }}</strong>.
                                        {% else %}
                                            {{ notification_sender.user.username }} has sent you a message about <strong>{{ notification.related_job.job_title }}</strong>.
                                        {% endif %}
                                    </p>
                                    </div>
                                </div>
                            {% endwith %}
                        </a>
                    </li>
                {% endif %}
                {% elif notification.notification_type == 6 %}
                    {{ hello }}
                    <li class="dropdown-item {% if not notification.is_read %}unread{% endif %}">
                        <span class="remove_notification" onclick="removeNotification(`{% url "remove_notification" notification.pk %}`,`{{ request.path }}` )">&times;</span>
                        <a href="{% url "profile" notification.notification_receiver.user %}" class="notification">
                            {% with notification.notification_sender as notification_sender %}
                                <div class="notification_content">
                                    <div class="notification_img">
                                        {% if notification_sender.profile_image %}
                                            <img src="{{MEDIA_URL}}{{ notification_sender.profile_image.url }}"
                                            alt="{{ notification_sender }}"
                                            class="notification_profile_img"
                                            width="40"
                                            height="40">
                                        {% else %}
                                            <img src="{% get_media_prefix %}dept-logo.webp" alt="DepT Logo" width="40" height="40">
                                        {% endif %}   
                                    </div>
                                    <div class="notification_text">
                                        <p>
                                            {% if notification_sender.first_name %}
                                                <strong>{{ notification_sender.first_name }}</strong> has left you a review!
                                            {% else %}
                                                {{ notification_sender.user.username }} has left you a review!
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            {% endwith %}
                        </a>
                    </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
