<!-- Template to serve notifications provided by inclusion tag -->



<div class="dropdown btn-group" id="notification_dropdown_container">
    {% if notifications.count > 0 %}
    <button class="btn position-relative" data-bs-toggle="dropdown" data-bs-target="#notification_dropdown" aria-expanded="false">
        <i class="fas fa-bell notification_icon"></i>
            <span class="badge bg-danger position-absolute start-75 top-0 translate-middle rounded-pill notification_count_icon">{{ notifications.count }}</span>
    </button>
    {% else %}
    <a href=""><i class="far fa-bell notification_icon"></i></a>
    {% endif %}
    <ul class="dropdown-menu animate__animated animate__fadeInDown" id="notification_dropdown">
        {% for notification in notifications %}
            {% if notification.related_invitation %}
                <!-- Received Invitation -->
                {% if notification.notification_type == 1 %}
                    <li class="dropdown-item {% if not notification.is_read %}unread{% endif %}">
                        <span class="dropdown-item-close">&times;</span>
                        <a href="{% url "invite_received_notification" notification.id notification.related_invitation.id %}"
                        class="notification">
                            {% with notification.related_invitation.invite_sender as invite_sender %}
                                <div class="notification_content">
                                    <div class="notification_img">
                                        {% if invite_sender.profile_image %}
                                            <img src="{{MEDIA_URL}}{{ invite_sender.profile_image.url }}"
                                            alt="{{ invite_sender }}"
                                            width="40"
                                            height="40"
                                            class="notification_profile_img">
                                        {% else %}
                                            <img src="/media/dept-logo.webp" alt="DepT Logo" width="40" height="40">
                                        {% endif %}   
                                    </div>
                                    <div class="notification_text">
                                        <p>
                                        {% if invite_sender.first_name %}
                                            <strong>{{ invite_sender.first_name }}</strong> has sent you an invitation to dep <strong>{{ notification.related_invitation.event_name }}</strong>.
                                        {% else %}
                                            <strong>{{ invite_sender.user.username }}</strong> has sent you an invitation to dep <strong>{{ notification.related_invitation.event_name }}</strong>.
                                        {% endif %}
                                    </p>
                                    </div>

                                </div>
                            {% endwith %}
                        </a>
                    </li>
                <!-- Accepted Invitation -->
                {% elif notification.notification_type == 2 %}
                    <li class="dropdown-item {% if not notification.is_read %}unread{% endif %}">
                        <span class="dropdown-item-close">&times;</span>
                        <a href="{% url "invite_accepted_notification" notification.pk notification.related_invitation.pk %}" class="notification" class="notification">
                            {% with notification.related_invitation.invite_receiver as invite_receiver %}
                                <div class="notification_content">
                                    <div class="notification_img">
                                        {% if invite_receiver.profile_image %}
                                            <img src="{{MEDIA_URL}}{{ invite_receiver.profile_image.url }}"
                                            alt="{{ invite_receiver }}"
                                            class="notification_profile_img"
                                            width="40"
                                            height="40">
                                        {% else %}
                                            <img src="/media/dept-logo.webp" alt="DepT Logo" width="40" height="40">
                                        {% endif %}   
                                    </div>
                                    <div class="notification_text">
                                        <p>
                                        {% if invite_receiver.first_name %}
                                            <strong>{{ invite_receiver.first_name }}</strong>  has accepted your invite to play <strong>{{ notification.related_invitation.event_name }}</strong>!
                                        {% else %}
                                            {{ invite_receiver.user.username }} has accepted your invite to play <strong>{{ notification.related_invitation.event_name }}</strong>!
                                        {% endif %}
                                    </p>
                                    </div>
                                </div>
                            {% endwith %}
                        </a>
                    </li>
               
                <!-- Received Message -->
                {% elif notification.notification_type == 5 %}
                    <li class="dropdown-item {% if not notification.is_read %}unread{% endif %}">
                        <span class="dropdown-item-close">&times;</span>
                        <a href="#" class="notification" class="notification">
                            {% with notification.related_invitation.invite_receiver as invite_receiver %}
                                <div class="notification_content">
                                    <div class="notification_img">
                                        {% if invite_receiver.profile_image %}
                                            <img src="{{MEDIA_URL}}{{ invite_receiver.profile_image.url }}"
                                            alt="{{ invite_receiver }}"
                                            class="notification_profile_img"
                                            width="40"
                                            height="40">
                                        {% else %}
                                            <img src="/media/dept-logo.webp" alt="DepT Logo" width="40" height="40">
                                        {% endif %}   
                                    </div>
                                    <div class="notification_text">
                                        <p>
                                        {% if invite_receiver.first_name %}
                                            <strong>{{ invite_receiver.first_name }}</strong> has sent you a message.
                                        {% else %}
                                            {{ invite_receiver.user.username }} has sent you a message.
                                        {% endif %}
                                    </p>
                                    </div>
                                </div>
                            {% endwith %}
                        </a>
                    </li>
                {% endif %}
            {% elif notification.notification_type == 3 %}
                    <li class="dropdown-item {% if not notification.is_read %}unread{% endif %}">
                        <span class="dropdown-item-close">&times;</span>
                        <a href="#" class="notification" class="notification">
                            {% with notification.notification_sender as notification_sender %}
                                <div class="notification_content">
                                    <div class="notification_img">
                                        {% if notification_sender.profile_image %}
                                            <img src="{{MEDIA_URL}}{{ notification_sender.profile_image.url }}"
                                            alt="{{ notification_sender.user.username }}"
                                            class="notification_profile_img"
                                            width="40"
                                            height="40">
                                        {% else %}
                                            <img src="/media/dept-logo.webp" alt="DepT Logo" width="40" height="40">
                                        {% endif %}   
                                    </div>
                                    <div class="notification_text">
                                        <p>
                                        {% if notification_sender.first_name %}
                                            <strong>{{ notification_sender.first_name }}</strong>  has declined your invite to play <strong>{{ notification.declined_invitation }}</strong>.
                                        {% else %}
                                            {{ notification.user.username }} has declined your invite to play <strong>{{ notification.declined_invitation }}</strong>.
                                        {% endif %}
                                    </p>
                                    </div>
                                </div>
                            {% endwith %}
                        </a>
                    </li>
            {% elif notification.related_booking %}
               <!-- Booking Details Sent -->
               {% if notification.notification_type == 4 %}
                       <li class="dropdown-item {% if not notification.is_read %}unread{% endif %}">
                        <span class="dropdown-item-close">&times;</span>
                        <a href="{% url "booking_details_sent_notification" notification.pk notification.related_booking.pk %}" class="notification" class="notification">
                            {% with notification.related_booking.related_invitation.invite_sender as invite_sender %}
                                <div class="notification_content">
                                    <div class="notification_img">
                                        {% if invite_sender.profile_image %}
                                            <img src="{{MEDIA_URL}}{{ invite_sender.profile_image.url }}"
                                            alt="{{ invite_sender.user.username }}"
                                            class="notification_profile_img"
                                            width="40"
                                            height="40">
                                        {% else %}
                                            <img src="/media/dept-logo.webp" alt="DepT Logo" width="40" height="40">
                                        {% endif %}   
                                    </div>
                                    <div class="notification_text">
                                        <p>
                                        {% if invite_sender.first_name %}
                                            <strong>{{ invite_sender.first_name }}</strong>  has sent you booking details for <strong>{{ notification.related_booking.related_invitation.event_name }}</strong>.
                                        {% else %}
                                            {{ invite_sender.user.username }} has declined your invite to play <strong>{{ notification.related_booking.related_invitation.event_name }}</strong>.
                                        {% endif %}
                                    </p>
                                    </div>
                                </div>
                            {% endwith %}
                        </a>
                    </li>
               <!-- Received Message -->
               {% elif notification.notification_type == 5 %}
                    <li class="dropdown-item">
                        <a href="#" class="notification">
                            {% with notification.related_invitation.related_booking.invite_sender as invite_sender %}
                                {% if invite_sender.first_name %}
                                    {{ invite_sender.first_name }} has sent you a message!
                                {% else %}
                                    {{ invite_sender.user.username }} has sent you a message!
                                {% endif %}
                            {% endwith %}
                        </a>
                    </li>
               {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
</div>
