{% extends "base.html" %}
{% load static %}
<!-- TemplateTags -->
{% load job_tags %}

<!-- Title -->
{% block title %}Find a Dep{% endblock %}

<!-- Custom CSS -->
{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/dynamic_header.css" %}">
    <link rel="stylesheet" href="{% static "css/featured_instruments.css" %}">
    <link rel="stylesheet" href="{% static "jobs/css/dep_list.css" %}">
{% endblock %}

<!-- Content -->
{% block content %}
    <!-- Header -->
    {% with page_name as p %}
        {% include "includes/header-hero.html" %}
    {% endwith %}
    <!-- Search/Filter Accordion Bar -->
    <section>
        <div class="container-fluid p-0">
            <div class="row m-0">
                <div class="col-12 p-0">
                    <div class="accordion rounded-0" id="filter_dep_accordion">
                        <div class="accordion-item border-0 rounded-0">
                            <h2 class="accordion-header rounded-0">
                                <button class="accordion-button dark_bg white_font med_small_text secondary_font rounded-0 shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#filter_collapse" aria-expanded="true" aria-controls="filter_collapse">
                                    Filter Your Results
                                </button>
                            </h2>
                        <div id="filter_collapse" class="accordion-collapse collapse show">
                            <div class="accordion-body light_bg">
                                <div class="row m-0">
                                    <div class="col-12">
                                        <div class="instrument_searchbar_select">
                                            <form action="{% url "dep_list" %}" method="GET" id="instrument_filter_form">
                                                <label for="instrument_filter" class="secondary_font">I'm Looking For...</label>
                                                <select class="form-select secondary_font" name="instrument" id="instrument_filter" aria-label="Instrument Filter">
                                                    <option value="all">All</option>
                                                    {% for instrument in instrument_list %}
                                                        <option value="{{ instrument.instrument_name }}" {% if selected_instrument == instrument.instrument_name|capfirst %}selected{% endif %}>{{instrument.instrument_name }}</option>
                                                    {% endfor %}
                                                </select>
                                        </div>
                                    </div>
                                </div>
                                <hr class="d-block d-md-none m-0">
                                <div class="row d-flex justify-content-center m-0 top_border">
                                    <div class="col-12 col-md-4 centered filter_field bottom_border" id="city_search_wrapper">        
                                        <input class="form-control secondary_font shadow-none" placeholder="Lives in City..." type="text" name="city" value="{% if not city is empty %}{{ city }}{% endif %}" id="city">
                                        <span class="icon-inside"><i class="fas fa-search"></i></span>
                                    </div>
                                    <hr class="d-block d-md-none m-0">
                                    <div class="col-12 col-md-4 centered filter_field bottom_border">
                                        <label for="genre">Genre</label>
                                        {% if genre_list %}
                                            <select class="form-select" name="genre" id="genre">
                                                <option value="all">All</option>
                                                {% for genre in genre_list %}
                                                    <option value="{{genre.genre_name}}"{% if selected_genre == genre.genre_name %}selected{% endif %}>{{genre.genre_name}}</option>
                                                {% endfor %}
                                            </select>
                                        {% endif %}
                                    </div>
                                    <hr class="d-block d-md-none m-0">
                                    <div class="col-12 col-md-4 centered filter_field bottom_border">
                                            <label for="available_today_checkbox" class="secondary_font">Available Today</label>
                                            <input type="checkbox" name="available_today" value="{% if not availabletoday_checkbox_selected is empty %}true{% else %}false{% endif %}" id="available_today_checkbox">
                                    </div>
                                    <div class="col-12 centered pt-3 pb-3 bottom_border">
                                        <button type="submit" class="btn custom_success white_font secondary_font">Submit</button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Results Container -->
        <div class="container-fluid findadep_results_container p-0">
            <div class="row d-flex justify-content-center m-0">
                <!-- Pagination -->
                {% if is_paginated %}
                    <div id="pagination-wrapper" class="primary_bg">
                        {% comment %} <span class="secondary_font text-center white_font med_small_text centered">{{ object_list.count }}{{ dep_collection.count }}{% if dep_collection.count == 1 %} result {% else %} results {% endif %}</span> {% endcomment %}
                        <div class="pagination centered">
                            {% if page_obj.has_previous %}
                                <span class="step-links">
                                    <a href="{% url "dep_list" %}?{% append_page_no_to_url_params page=1 %}" class="secondary_font white_font">&laquo; first</a>
                                    <a href="{% url "dep_list" %}?{% append_page_no_to_url_params page=page_obj.previous_page_number %}" class="secondary_font white_font">prev</a>
                                {% endif %}
                                    <span class="current secondary_font white_font page_no_indicator">
                                        Page {{ page_obj.number }} of {{ paginator.num_pages }}
                                    </span>
                                {% if page_obj.has_next %}
                                    <span class="step-links">
                                        <a href="{% url "dep_list" %}?{% append_page_no_to_url_params page=page_obj.next_page_number %}" class="secondary_font white_font">next</a>
                                        <a href="{% url "dep_list" %}?{% append_page_no_to_url_params page=paginator.num_pages %}" class="secondary_font white_font">last &raquo;</a>
                                    </span>
                                </span>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                <!-- List of Results -->
                {% if dep_collection %}
                {% for dep in dep_collection %}
                <div class="col-12 col-md-4 col-lg-3 card musician_card p-0">
                    <img class="card-img-top card_profile_image" src="{% if dep.profile_image %}{{dep.profile_image.url}}{% else %}{{MEDIA_URL}}dept_card_image_default.webp{% endif %}" alt="{{ dep.user.username }}">
                    <div class="card-body">
                        <div class="justify_between h-100">
                            <div class="card_detail">
                                <p class="card-text secondary_font dark_font small_text">
                                    {% for instrument in dep.instruments_played.all %}
                                        {% if instrument %}
                                            {{ instrument.instrument_name }}{% if not forloop.last %},{% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </p>
                                <p class="card-text secondary_font light_font med_small_text mt-2">
                                    {% if dep.first_name %}
                                        {{ dep.first_name }} {{ dep.last_name }}
                                    {% else %}
                                        {{ dep.user.username }}
                                    {% endif %}
                                </p>
                                <p class="card-text secondary_font light_font small_text mt-2">
                                    {% if dep.city %}{{ dep.city }}{% endif %}{% if dep.country %}, {{ dep.country.name }}{% endif %}
                                </p>
                                <div id="star-icons" class="mt-2">
                                    <span>
                                        <i class="fas fa-star star-icon"></i>
                                        <i class="fas fa-star star-icon"></i>
                                        <i class="fas fa-star star-icon"></i>
                                        <i class="fas fa-star star-icon"></i>
                                        <i class="far fa-star star-icon"></i>
                                    </span>
                                </div>
                                <p class="musician_card_desc secondary_font small_text mt-3">
                                    {% if dep.user_info %}
                                        {{ dep.user_info }}
                                    {% else %}
                                        No Information
                                    {% endif %}
                                </p>   
                            </div> 
                            <div class="profile_btn_wrapper centered">
                                <a href="{% url "profile" dep.slug %}" class="btn custom_success secondary_font white_font">
                                    Contact {% if dep.first_name %}{{ dep.first_name }}{% else %}{{ dep.user.username }}{% endif %}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                    <!-- No Results -->
                    <div id="no_results_container">
                        <h4 class="text-center primary_font light_font large_font">No Results</h4>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
    <!-- Bottom section with itemised list of benefits -->
    <section id="benefits_section">
        <div class="container" id="benefits_container">
            <div class="row">
                <div class="col-12 col-lg-6" id="benefits_wrapper">
                    <h3 class="primary_font large_text">Expand your network, using musicians that you trust. All at your fingertips.</h3>
                        <ul id="benefits_list" class="fa-ul">
                            <li class="secondary_font med_small_text">
                                <i class="fa-li fa-solid fa-circle-check"></i>
                                Find the best talent, wherever you are in the world.
                            </li>
                            <li class="secondary_font med_small_text">
                                <i class="fa-li fa-solid fa-circle-check"></i>
                                Expand your network, and connect with other musicians.
                            </li>
                            <li class="secondary_font med_small_text">
                                <i class="fa-li fa-solid fa-circle-check"></i>
                                Find out a member's availability, instantly.
                            </li>
                            <li class="secondary_font med_small_text">
                                <i class="fa-li fa-solid fa-circle-check"></i>
                                Improve your discoverability.
                            </li>
                            <li class="secondary_font med_small_text">
                                <i class="fa-li fa-solid fa-circle-check"></i>
                                Showcase your finest music.
                            </li>
                            <li class="secondary_font med_small_text">
                                <i class="fa-li fa-solid fa-circle-check"></i>
                                End-to-end booking, all within the platform.
                            </li>
                        </ul>
                </div>
            </div>
        </div>
        <!-- Hero Image -->
        <div id="benefits_hero_wrapper" class="d-none d-lg-block">
            <img src="{{MEDIA_URL}}dept_findadep_hero2.webp" alt="Female vocalist in music studio" width="1200" height="1458" id="findadep_hero2">
        </div>
    </section>
{% endblock %}

<!-- Custom JS -->
{% block postload_js %}
    {{ block.super }}
    <script src="{% static "jobs/js/filter.js" %}"></script>
{% endblock %}