{% extends "base.html" %}
{% load static %}


{% block title %}Find a Dep{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/dynamic_header.css" %}">
    <link rel="stylesheet" href="{% static "css/featured_instruments.css" %}">
    <link rel="stylesheet" href="{% static "jobs/css/dep_list.css" %}">
{% endblock %}

<!-- Header -->
{% block content %}
    {% with page_name as p %}
        {% include "includes/header-hero.html" %}
    {% endwith %}
    <!-- Search/Filter Accordion Bar -->
    <section>
        <div class="container-fluid instrument_searchbar_container">
            <div class="row">
                <div class="col-12 instrument_searchbar_wrapper centered">
                    <span>I'm looking for...</span>
                    <div class="instrument_searchbar_select">
                        <form action="{% url "dep_list" %}" method="GET" id="instrument_filter_form">
                            <select class="form-select" name="instrument" id="instrument_filter" aria-label="Instrument Filter">
                                <option value="{% if selected_instrument is empty %}all{% endif %}">All</option>
                                {% for instrument in instrument_list %}
                                    <option value="{{ instrument.instrument_name }}" {% if selected_instrument == instrument.instrument_name|capfirst %}selected{% endif %}>{{instrument.instrument_name }}</option>
                                {% endfor %}
                            </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="accordion" id="filter_dep_accordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#filter_collapse" aria-expanded="true" aria-controls="filter_collapse">
                                    Filter Your Results
                                </button>
                            </h2>
                        <div id="filter_collapse" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-12 col-md-3">        
                                        <input type="text" name="city" value="{% if not city is empty %}{{ city }}{% endif %}" id="city">
                                    </div>
                                    <div class="col-3">
                                        Dropdown
                                    </div>
                                    <div class="col-3">
                                        Online Now
                                    </div>
                                    <div class="col-3">
                                            <label for="available_today_checbox">Available Today</label>
                                            <input type="checkbox" name="available_today" value="{% if not availabletoday_checkbox_selected is empty %}true{% else %}false{% endif %}" id="available_today_checkbox">
                                            <button type="submit">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Results List -->
        <div class="container findadep_results_container">
            <div class="row d-flex justify-content-center">
                {{ no_results }}
                {% if dep_collection %}
                    {% for dep in dep_collection %}
                        <div class="col-12 col-md-4 col-lg-3 card musician_card p-0">
                            <img class="card-img-top card_profile_image" src="{% if dep.profile_image %}{{dep.profile_image.url}}{% else %}{{MEDIA_URL}}dept_card_image_default.webp{% endif %}" alt="{{ dep.user.username }}">
                            <div class="card-body">
                                <div class="justify_between h-100">
                                    <div class="card_detail">
                                        <p class="card-text secondary_font dark_font small_text">
                                            {% for instrument in dep.instruments_played.all %}
                                                {% if instrument %}
                                                    {{ instrument.instrument_name }}{% if not forloop.last %},{% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </p>
                                        <p class="card-text secondary_font light_font med_small_text mt-2">
                                            {% if dep.first_name %}
                                                {{ dep.first_name }} {{ dep.last_name }}
                                            {% else %}
                                                {{ dep.user.username }}
                                            {% endif %}
                                        </p>
                                        <p class="card-text secondary_font light_font small_text mt-2">
                                            {% if dep.city %}{{ dep.city }}{% endif %}{% if dep.country %}, {{ dep.country.name }}{% endif %}
                                        </p>
                                        <div id="star-icons" class="mt-2">
                                            <span>
                                                <i class="fas fa-star star-icon"></i>
                                                <i class="fas fa-star star-icon"></i>
                                                <i class="fas fa-star star-icon"></i>
                                                <i class="fas fa-star star-icon"></i>
                                                <i class="far fa-star star-icon"></i>
                                            </span>
                                        </div>
                                        <p class="musician_card_desc secondary_font small_text mt-3">
                                            {% if dep.user_info %}
                                                {{ dep.user_info }}
                                            {% else %}
                                                No Information
                                            {% endif %}
                                        </p>   
                                    </div> 
                                    <div class="profile_btn_wrapper centered">
                                        <a href="{% url "profile" dep.slug %}" class="btn custom_success secondary_font white_font">
                                            Contact {% if dep.first_name %}{{ dep.first_name }}{% else %}{{ dep.user.username }}{% endif %}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    No Results
                {% endif %}
            </div>
        </div>
    </section>
    <section id="benefits_section">
        <div class="container" id="benefits_container">
            <div class="row">
                <div class="col-12 col-lg-6" id="benefits_wrapper">
                    <h3 class="primary_font large_text">Expand your network, using musicians that you trust. All at your fingertips.</h3>
                        <ul id="benefits_list" class="fa-ul">
                            <li class="secondary_font med_small_text">
                                <i class="fa-li fa-solid fa-circle-check"></i>
                                Find the best talent, wherever you are in the world.
                            </li>
                            <li class="secondary_font med_small_text">
                                <i class="fa-li fa-solid fa-circle-check"></i>
                                Expand your network, and connect with other musicians.
                            </li>
                            <li class="secondary_font med_small_text">
                                <i class="fa-li fa-solid fa-circle-check"></i>
                                Find out a member's availability, instantly.
                            </li>
                            <li class="secondary_font med_small_text">
                                <i class="fa-li fa-solid fa-circle-check"></i>
                                Improve your discoverability.
                            </li>
                            <li class="secondary_font med_small_text">
                                <i class="fa-li fa-solid fa-circle-check"></i>
                                Showcase your finest music.
                            </li>
                            <li class="secondary_font med_small_text">
                                <i class="fa-li fa-solid fa-circle-check"></i>
                                End-to-end booking, all within the platform.
                            </li>
                        </ul>
                </div>
            </div>
        </div>
        <div id="benefits_hero_wrapper" class="d-none d-lg-block">
            <img src="{{MEDIA_URL}}dept_findadep_hero2.webp" alt="Female vocalist in music studio" width="1200" height="1458" id="findadep_hero2">
        </div>
    </section>
{% endblock %}
{% block postload_js %}
    {{ block.super }}
    <script src="{% static "jobs/js/filter.js" %}"></script>
{% endblock %}