{% extends "base.html" %}
{% load static %}


{% block title %}Find a Dep{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/dynamic_header.css" %}">
    <link rel="stylesheet" href="{% static "css/featured_instruments.css" %}">
    <link rel="stylesheet" href="{% static "jobs/css/find_a_dep.css" %}">
{% endblock %}

{% block content %}
    {% with page_name as p %}
        {% include "includes/header-hero.html" %}
    {% endwith %}
    <section>
        <div class="container p-3">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3">
                <a href="{% url 'job_page' 'vocals' %}">
                    <div class="link-card find_a_dep" id="vocals-link">
                        <div class="opaque-overlay"></div>
                        <p class="featured-link-text">Vocals</p>
                        <div class="inner-fade d-none d-lg-block">
                            <p class="fade-text">
                                Choose from our collection of singers, and find someone who is perfect for any genre or style.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <a href="{% url 'job_page' 'bass_guitar' %}">
                    <div class="link-card find_a_dep" id="bass-link">
                        <div class="opaque-overlay"></div>
                        <p class="featured-link-text">Bass Guitar</p>
                        <div class="inner-fade d-none d-lg-block">
                            <p class="fade-text">Discover bass players with the pocket that perfectly suits your groove.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <a href="{% url 'job_page' 'keyboard' %}">
                    <div class="link-card find_a_dep" id="keyboard-link">
                        <div class="opaque-overlay"></div>
                        <p class="featured-link-text">Keyboard</p>
                        <div class="inner-fade d-none d-lg-block">
                            <p class="fade-text">
                                Find a keyboard player to provide you with the ideal textures that you need for your gig.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <a href="{% url 'job_page' 'guitar' %}">
                    <div class="link-card find_a_dep" id="guitar-link">
                        <div class="opaque-overlay"></div>
                        <p class="featured-link-text">Guitar</p>
                        <div class="inner-fade d-none d-lg-block">
                            <p class="fade-text">Our collection of rhythm, lead, acoustic and classical guitarists will cater for any style that you need.</p>
                        </div>
                    </div>
                </a>
            </div>
             <div class="col-12 col-md-4 col-lg-3">
                <a href="{% url 'job_page' 'drums' %}">
                    <div class="link-card find_a_dep" id="drums-link">
                        <div class="opaque-overlay"></div>
                        <p class="featured-link-text">Drums</p>
                        <div class="inner-fade d-none d-lg-block">
                            <p class="fade-text">
                            Whether your style is pop, jazz, rock or punk, hire a drummer that will drive your music.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <a href="{% url 'job_page' 'drums' %}">
                    <div class="link-card find_a_dep" id="saxophone-link">
                        <div class="opaque-overlay"></div>
                        <p class="featured-link-text">Saxophone</p>
                        <div class="inner-fade d-none d-lg-block">
                            <p class="fade-text">
                            Whether your style is pop, jazz, rock or punk, hire a drummer that will drive your music.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <a href="{% url 'job_page' 'trumpet' %}">
                    <div class="link-card find_a_dep" id="trumpet-link">
                        <div class="opaque-overlay"></div>
                        <p class="featured-link-text">Trumpet</p>
                        <div class="inner-fade d-none d-lg-block">
                            <p class="fade-text">
                                Virtuosic trumpet players will soar over your tunes and wow your crowds.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <a href="{% url 'job_page' 'drums' %}">
                    <div class="link-card find_a_dep" id="percussion-link">
                        <div class="opaque-overlay"></div>
                        <p class="featured-link-text">Percussion</p>
                        <div class="inner-fade d-none d-lg-block">
                            <p class="fade-text">
                            Whether your style is pop, jazz, rock or punk, hire a drummer that will drive your music.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-4 col-lg-3 d-none d-lg-none d-md-block">
                <a href="{% url 'job_page' 'drums' %}">
                    <div class="link-card find_a_dep" id="violin-link">
                        <div class="opaque-overlay"></div>
                        <p class="featured-link-text">Violin</p>
                        <div class="inner-fade d-none d-lg-block">
                            <p class="fade-text">
                            Whether your style is pop, jazz, rock or punk, hire a drummer that will drive your music.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            </div>
        </div>
    </section>
    <section id="categories_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h2 class="primary_font text-center">More Categories</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3">
                    <a href="{% url 'job_page' 'drums' %}">
                        <div class="link-card more_categories">
                            <p class="secondary_font dark_font med_small_text text-bold ms-2 mt-1">Accordionists</p>
                            <p class="ms-2 mt-1 me-2 light_font secondary_font">
                                Whether your gig is in the chansson or in the mountains of Bulgaria, our accordionists have you covered.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <a href="{% url 'job_page' 'drums' %}">
                        <div class="link-card more_categories">
                            <p class="secondary_font dark_font med_small_text text-bold ms-2 mt-1">Viola Players</p>
                            <p class="ms-2 mt-1 me-2 light_font secondary_font">
                                Our pro viola players are ready and waiting to play your gig.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <a href="{% url 'job_page' 'drums' %}">
                        <div class="link-card more_categories">
                            <p class="secondary_font dark_font med_small_text text-bold ms-2 mt-1">Double Bass Players</p>
                            <p class="ms-2 mt-1 me-2 light_font secondary_font">
                            Whether your style is pop, jazz, rock or punk, hire a drummer that will drive your music.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <a href="{% url 'job_page' 'drums' %}">
                        <div class="link-card more_categories">
                            <p class="secondary_font dark_font med_small_text text-bold ms-2 mt-1">Cellists</p>
                            <p class="ms-2 mt-1 me-2 light_font secondary_font">
                            Whether your style is pop, jazz, rock or punk, hire a drummer that will drive your music.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <a href="{% url 'job_page' 'drums' %}">
                        <div class="link-card more_categories">
                            <p class="secondary_font dark_font med_small_text text-bold ms-2 mt-1">Clarinetists</p>
                            <p class="ms-2 mt-1 me-2 light_font secondary_font">
                            Whether your style is pop, jazz, rock or punk, hire a drummer that will drive your music.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <a href="{% url 'job_page' 'drums' %}">
                        <div class="link-card more_categories">
                            <p class="secondary_font dark_font med_small_text text-bold ms-2 mt-1">Oboe Players</p>
                            <p class="ms-2 mt-1 me-2 light_font secondary_font">
                            Whether your style is pop, jazz, rock or punk, hire a drummer that will drive your music.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <a href="{% url 'job_page' 'drums' %}">
                        <div class="link-card more_categories">
                            <p class="secondary_font dark_font med_small_text text-bold ms-2 mt-1">Kora Players</p>
                            <p class="ms-2 mt-1 me-2 light_font secondary_font">
                            Whether your style is pop, jazz, rock or punk, hire a drummer that will drive your music.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <a href="{% url 'job_page' 'drums' %}">
                        <div class="link-card more_categories">
                            <p class="secondary_font dark_font med_small_text text-bold ms-2 mt-1">Tuba Players</p>
                            <p class="ms-2 mt-1 me-2 light_font secondary_font">
                            Whether your style is pop, jazz, rock or punk, hire a drummer that will drive your music.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <a href="{% url 'job_page' 'drums' %}">
                        <div class="link-card more_categories">
                            <p class="secondary_font dark_font med_small_text text-bold ms-2 mt-1">Trombone Players</p>
                            <p class="ms-2 mt-1 me-2 light_font secondary_font">
                            Whether your style is pop, jazz, rock or punk, hire a drummer that will drive your music.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <a href="{% url 'job_page' 'drums' %}">
                        <div class="link-card more_categories">
                            <p class="secondary_font dark_font med_small_text text-bold ms-2 mt-1">Ukelele Players</p>
                            <p class="ms-2 mt-1 me-2 light_font secondary_font">
                            Whether your style is pop, jazz, rock or punk, hire a drummer that will drive your music.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <a href="{% url 'job_page' 'drums' %}">
                        <div class="link-card more_categories">
                            <p class="secondary_font dark_font med_small_text text-bold ms-2 mt-1">Harp Players</p>
                            <p class="ms-2 mt-1 me-2 light_font secondary_font">
                            Whether your style is pop, jazz, rock or punk, hire a drummer that will drive your music.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <a href="{% url 'job_page' 'drums' %}">
                        <div class="link-card more_categories">
                            <p class="secondary_font dark_font med_small_text text-bold ms-2 mt-1">Flautists</p>
                            <p class="ms-2 mt-1 me-2 light_font secondary_font ">
                            Whether your style is pop, jazz, rock or punk, hire a drummer that will drive your music.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="benefits_section">
        <div class="container" id="benefits_container">
            <div class="row">
                <div class="col-12 col-lg-6" id="benefits_wrapper">
                    <h3 class="primary_font large_text">Expand your network, using musicians that you trust. All at your fingertips.</h3>
                        <ul id="benefits_list" class="fa-ul">
                            <li class="secondary_font med_small_text">
                                <i class="fa-li fa-solid fa-circle-check"></i>
                                Find the best talent, wherever you are in the world.
                            </li>
                            <li class="secondary_font med_small_text">
                                <i class="fa-li fa-solid fa-circle-check"></i>
                                Expand your network, and connect with other musicians.
                            </li>
                            <li class="secondary_font med_small_text">
                                <i class="fa-li fa-solid fa-circle-check"></i>
                                Find out a member's availability, instantly.
                            </li>
                            <li class="secondary_font med_small_text">
                                <i class="fa-li fa-solid fa-circle-check"></i>
                                Improve your discoverability.
                            </li>
                            <li class="secondary_font med_small_text">
                                <i class="fa-li fa-solid fa-circle-check"></i>
                                Showcase your finest music.
                            </li>
                            <li class="secondary_font med_small_text">
                                <i class="fa-li fa-solid fa-circle-check"></i>
                                End-to-end booking, all within the platform.
                            </li>
                        </ul>
                </div>
            </div>
        </div>
        <div id="benefits_hero_wrapper" class="d-none d-lg-block">
            <img src="{{MEDIA_URL}}dept_findadep_hero2.webp" alt="Female vocalist in music studio" width="1200" height="1458" id="findadep_hero2">
        </div>
    </section>
{% endblock %}