{% extends "base.html" %}
<!-- Load static files -->
{% load static %}

<!-- Crispy Forms -->
{% load crispy_forms_tags %}


<!-- Custom CSS -->
{% block extra_css %}
<link rel="stylesheet" href="{% static "css/dynamic_header.css" %}">
<link rel="stylesheet" href="{% static "jobs/css/job_list.css" %}">
{% endblock %}

{% comment %} {% block extra_head %}
    {{ job_form.media }}
{% endblock %} {% endcomment %}


<!-- Title -->
{% block title %}Job List{% endblock %}
<!-- Content -->
{% block content %}
    <!-- Header -->
    {% with page_name as p %}
        {% include "includes/header-hero.html" %}
    {% endwith %}
    <!-- Search/Filter Bar -->
    <aside>  
        <div class="container-fluid">
            <div class="row">
      
                
            </div>
        </div>
    </aside>
    <!-- Results -->
    <section>
        <div class="container-fluid mt-3">
            <div class="row d-flex justify-content-center">
   
            {% if job_collection %}
                {% for job in job_collection %}
                    <div class="col-12 col-md-6 col-lg-3 mb-5">
                        <div class="card job_card">
                            {% if job.image %}
                                <img src="{{ job.image.url }}" alt="{{ job.job_title }}" class="card-img-top job_image">
                            {% elif job.job_poster.profile_image %}
                                <img src="{{ job.job_poster.profile_image.url }}" alt="{{ job.job_title }}" class="card-img-top job_image">
                            {% else %}
                                <img src="{{MEDIA_URL}}dept_card_image_default.webp" alt="{{ job.job_title }}" class="card-img-top job_image">
                            {% endif %}
                            <div class="card-body">
                                <div class="card_detail">
                                    <div class="job_card_header">
                                        <div class="header_icon_wrapper justify_between_row">
                                            <input type="hidden" class="hidden_fee_input" value="{{ job.fee }}">
                                            <p class="primary_font m-0 job_title">{{ job.job_title }}</p>
                                        </div>
                                        <p class="secondary_font light_font m-0">{{ job.artist_name }}</p>
                                    </div>
                                    <div class="job_location_date">
                                        <span class="secondary_font xs_text">{{ job.event_city }}, {{ job.event_country }}&nbsp;|&nbsp;{{ job.event_datetime|date:"d-m-Y"}}</span>
                                    </div>
                                    <div class="job_details mt-3 pb-4">
                                        <p class="secondary_font job_detail_content">
                                            {{ job.job_description }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
      
            </div>
        </div>
    </section>
    <!-- Job Post Modal -->
    <aside>
        <div class="modal fade" id="job_advertisement_modal">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="primary_font">Need a Musician?</h2>
                        <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body modal_form_container">
                        <div class="modal_form_wrapper">
                            <div class="row">
                                {% crispy job_form %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>
{% endblock %}

<!-- Custom JS -->
{% block postload_js %}
    {{ block.super }}
    <script src="{% static "jobs/js/job_fee_icons.js" %}"></script>
{% endblock %}