{% extends "base.html" %}
<!-- Load static files -->
{% load static %}

{% load job_tags %}

<!-- Crispy Forms -->
{% load crispy_forms_tags %}


<!-- Custom CSS -->
{% block extra_css %}
<link rel="stylesheet" href="{% static "css/dynamic_header.css" %}">
<link rel="stylesheet" href="{% static "jobs/css/job_list.css" %}">
<link rel="stylesheet" href="{% static "jobs/css/filter_accordion.css" %}">
{% endblock %}

{% comment %} {% block extra_head %}
    {{ job_form.media }}
{% endblock %} {% endcomment %}


<!-- Title -->
{% block title %}Job List{% endblock %}
<!-- Content -->
{% block content %}
    <!-- Header -->
    {% with page_name as p %}
        {% include "includes/header-hero.html" %}
    {% endwith %}
    <!-- Search/Filter Bar -->
    <aside>  
        {% with page_name as p %}
            {% include "jobs/includes/filter_accordion.html" %}
        {% endwith %}
    </aside>
    <!-- Results -->
    <section>
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">
            <div class="col-12 p-0">
                <div id="pagination-wrapper" class="primary_bg">
                    <div class="pagination centered">
                        {% if page_obj.has_previous %}
                            <span class="step-links">
                                <a href="{% url "job_list" %}?{% append_page_no_to_url_params page=1 %}" class="secondary_font white_font">&laquo; first</a>
                                <a href="{% url "job_list" %}?{% append_page_no_to_url_params page=page_obj.previous_page_number %}" class="secondary_font white_font">prev</a>
                            {% endif %}
                                <span class="current secondary_font white_font page_no_indicator">
                                    Page {{ page_obj.number }} of {{ paginator.num_pages }}
                                </span>
                            {% if page_obj.has_next %}
                                <span class="step-links">
                                    <a href="{% url "job_list" %}?{% append_page_no_to_url_params page=page_obj.next_page_number %}" class="secondary_font white_font">next</a>
                                    <a href="{% url "job_list" %}?{% append_page_no_to_url_params page=paginator.num_pages %}" class="secondary_font white_font">last &raquo;</a>
                                </span>
                            </span>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if job_collection %}
                {% for job in job_collection %}
                    <div class="col-12 col-md-6 col-lg-3 mb-5 mt-4">
                        <div class="card job_card">
                            {% if job.image %}
                                <img src="{{ job.image.url }}" alt="{{ job.job_title }}" class="card-img-top job_image">
                            {% elif job.job_poster.profile_image %}
                                <img src="{{ job.job_poster.profile_image.url }}" alt="{{ job.job_title }}" class="card-img-top job_image" width="300" height="200">
                            {% else %}
                                <img srcset="{{MEDIA_URL}}dept_card_image_default.webp, {{MEDIA_URL}}dept_card_image_default.png" alt="{{ job.job_title }}" class="card-img-top job_image" width="300" height="200">
                            {% endif %}
                            <div class="card-body">
                                <div class="card_detail">
                                    <div class="job_card_header">
                                        <div class="header_icon_wrapper justify_between_row">
                                            <input type="hidden" class="hidden_fee_input" value="{{ job.fee }}">
                                            <p class="primary_font m-0 job_title">{{ job.job_title }}</p>
                                        </div>
                                        <p class="secondary_font light_font m-0">{{ job.artist_name }}</p>
                                    </div>
                                    <div class="job_location_date">
                                        <span class="secondary_font xs_text">{{ job.event_city }}, {{ job.event_country }}&nbsp;|&nbsp;{{ job.event_datetime|date:"d-m-Y"}}</span>
                                    </div>
                                    <div class="job_details mt-3 pb-4">
                                        <p class="secondary_font job_detail_content">
                                            {{ job.job_description }}
                                        </p>
                                        {% if request.user.is_authenticated %}
                                            {% if current_user == job.job_poster %}
                                                <a href="{% url "edit_job" job.pk %}" class="primary_font text-success"><small>Edit</small></a>
                                                <button type="button"
                                                class="no_bg underline primary_font text-danger confirm_job_delete_btn"
                                                data-bs-toggle="modal"
                                                data-bs-target="#delete_job_modal"
                                                data-job-id="{{ job.pk }}"><small>Delete</small></button>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="cta_btn_wrapper">
                                        <button type="button"
                                        data-job-title="{{ job.job_title }}"
                                        data-event-name="{{ job.event_name }}"
                                        data-artist-name="{{ job.artist_name }}"
                                        data-event-city="{{ job.event_city }}"
                                        data-event-country="{{ job.event_country }}"
                                        data-event-date="{{ job.event_datetime }}"
                                        data-job-poster="{{ job.job_poster }}"
                                        data-job-description="{{ job.job_description }}"
                                        data-job-fee="{{ job.fee }}"
                                        {% if job.image %}
                                        data-job-image="{{ job.image.url }}"
                                        {% endif %}
                                        {% if job.job_poster.profile_image %}
                                        data-job-poster-image="{{ job.job_poster.profile_image.url }}"
                                        {% endif %}
                                        class="btn primary_bg secondary_font white_font d-block w-100 mb-2 job_detail_btn" data-bs-toggle="modal" data-bs-target="#job_detail_modal">
                                            View Details
                                        </button>
                                        {% if request.user.is_authenticated %}
                                            {% if not job.job_poster == current_user %}
                                                {% if current_user.subscription_chosen and current_user.is_paid %}
                                                    {% if not job in current_users_jobs %}
                                                    <a href="{% url "register_interest" job.pk request.user.username %}" class="btn custom_success secondary_font white_font d-block w-100">
                                                        Send Offer
                                                    </a>
                                                    {% else %}
                                                    <a href="{% url "register_interest" job.pk request.user.username %}"class="btn disabled custom_danger secondary_font white_font d-block w-100">
                                                        Offer Sent
                                                    </a>
                                                    {% endif %}
                                                {% else %}
                                                    <button class="btn custom_success secondary_font white_font d-block w-100" data-bs-toggle="modal" data-bs-target="#tier_two_alert_modal">
                                                        Send Offer
                                                    </button>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div id="no_results_container" class="centered">
                    <h6 class="primary_font large_text light_font">No Results</h6>
                </div>
            {% endif %}
      
            </div>
        </div>
    </section>
    <!-- Job Post Modal -->
    <aside>
        <div class="modal fade" id="job_advertisement_modal">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="primary_font">Need a Musician?</h2>
                        <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body modal_form_container">
                        <div class="modal_form_wrapper">
                            <div class="row">
                                <form action="{% url "post_job" %}" method="POST" enctype="multipart/form-data">
                                    {% crispy job_form %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tier Two Alert Modal -->
        <div class="modal fade" id="tier_two_alert_modal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header secondary_bg">
                        <h2 class="primary_font med_small_text white_font m-0">You need to be a Tier Two member.</h2>
                        <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body centered">
                        <a href="{% url "choose_subscription" %}" class="btn custom_success inset_light_shadow white_font secondary_font">
                            Upgrade Your Subscription
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Job Detail Modal -->
        <div class="modal fade" id="job_detail_modal">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header custom-modal-header">
                        <h4 id="job_title" class="med_text">
                        </h4>
                        <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body custom-modal-body job_detail_wrapper">
                        <div class="container-fluid">
                                <div class="row job_poster_row">
                                    <div class="col-12 p-0">
                                        <div id="job_poster_wrapper">
                                            <span id="job_poster" class="secondary_font"></span>
                                        </div>
                                        <div id="poster_profile_img_wrapper">

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <dl>
                                            <dt class="primary_font med_size">Venue:</dt>
                                            <dd id="event_name" class="secondary_font"></dd>
                                            <dt class="primary_font med_size">Artist:</dt>
                                            <dd id="artist_name" class="secondary_font"></dd>
                                            <dt class="primary_font med_size">City:</dt>
                                            <dd id="event_city" class="secondary_font"></dd>
                                            <dt class="primary_font med_size">Country:</dt>
                                            <dd id="event_country" class="secondary_font"></dd>
                                            <dt class="primary_font med_size">Fee:</dt>
                                            <dd id="fee" class="secondary_font"></dd>
                                        </dl>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div id="job_desciption_wrapper">
                                            <p id="job_description" class="secondary_font"></p>
                                        </div>
                                    </div>
                                    <div class="col-12 cta_btns">
                                        <button type="button" class="btn custom_success secondary_font white_font d-block w-100">
                                            I'm Interested
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Delete Job Modal -->
        <div class="modal fade" id="delete_job_modal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="primary_font text-center">Delete this Job?</h2>
                        <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="cta-btn-wrapper">
                            <a href="#" class="btn alert_bg secondary_font white_font me-2 w-50" id="confirm_job_delete">Yes</a>
                            <button class="btn custom_success secondary_font white_font ms-2 w-50" data-bs-dismiss="modal" aria-label="Close">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>
{% endblock %}

<!-- Custom JS -->
{% block postload_js %}
    {{ block.super }}
    <script src="{% static "jobs/js/job_fee_icons.js" %}"></script>
    <script src="{% static "jobs/js/job_detail_modal.js" %}"></script>
    <script src={% static "jobs/js/filter.js" %}></script>
    <script src="{% static "js/delete_alert_modals.js" %}"></script>
{% endblock %}